.nav-tabs-bottom>li {
    float: left;
    margin-top: 2px;
}
.nav-tabs-bottom>li>a {
    margin-right: 2px;
    padding: 4px 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px 0px 4px 4px;
    line-height: 1;
    color: #555;
    cursor: default;
}
.nav-tabs-bottom>li.active>a, .nav-tabs-bottom>li.active>a:hover, .nav-tabs-bottom>li.active>a:focus {
    background-color: #f5f5f5;
    border-top-color: transparent;
}