<div class="vbox">
    <resource-view-editor *ngIf="activeView == 'resourceView'" [resource]="resource" 
        (dblclickObj)="onObjectDblClick($event)" (update)="onResourceUpdate($event)" (pendingValidation)="pendingValidation = $event">
    </resource-view-editor>
    <term-view *ngIf="activeView == 'termView'" [resource]="resource" (update)="onResourceUpdate($event)"></term-view>
    <lexicographer-view *ngIf="activeView == 'lexicographerView'" [resource]="resource" (update)="onResourceUpdate($event)" (dblclickObj)="onObjectDblClick($event)"></lexicographer-view>
    <resource-triple-editor *ngIf="activeView == 'sourceCode'" [resource]="resource" [pendingValidation]="pendingValidation" 
        (update)="onResourceUpdate($event)">
    </resource-triple-editor>
</div>
<ul class="nav nav-tabs-bottom" *ngIf="rViews.length > 1">
    <li *ngFor="let v of rViews" [ngClass]="{ active: v.type == activeView }">
        <a (click)="changeView(v.type)">{{v.show}}</a>
    </li>
</ul>