<div class="modal-header">
    <h3 class="modal-title">Node creation</h3>
</div>
<div class="modal-body vbox">

    <table class="table table-condensed table-borderless">
        <colgroup>
            <col style="width: 1%;">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <td class="text-right"><label>ID:</label></td>
                <td><input class="form-control input-sm" [(ngModel)]="nodeId" sanitized></td>
            </tr>
            <tr *ngIf="context.datatype">
                <td class="text-right"><label>Datatype:</label></td>
                <td><input class="form-control input-sm" [ngModel]="context.datatype.getShow()" readonly></td>
            </tr>
            <tr *ngIf="context.language">
                <td class="text-right"><label>Language:</label></td>
                <td><lang-picker [(ngModel)]="context.language" readonly="true"></lang-picker></td>
            </tr>
        </tbody>
    </table>

    <converter-config [rangeType]="context.rangeType" [language]="context.language" [datatype]="context.datatype" style="margin-top: 4px;" (update)="onConverterUpdate($event)">
        <div class="alert alert-info">
            <p>
                Select the converter you want to use. Below are listed all the converters compliant with the range type ({{context.rangeType}}) 
                <span *ngIf="context.rangeType == 'typedLiteral'"> and the datatype </span> chosen previously.
            </p>
        </div>
    </converter-config>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>