<div class="card card-default vbox">
    
    <div class="card-body vbox">

        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td nowrap>
                        <label>{{'METADATA.METADATA_VOCABULARIES.METADATA_VOCABULARY'|translate}}:</label>
                    </td>
                    <td>
                        <select class="form-control form-control-sm" [(ngModel)]="selectedExporter" (change)="onExtensionChange()">
                            <option *ngFor="let e of exporters" [ngValue]="e">{{e.name}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="margin-top: 4px;" class="scrollableContainer">
            <!-- Common extension point settings -->
            <settings-renderer-panel *ngIf="extensionPointSettings?.properties.length > 0" style="margin-top: 4px;" [(ngModel)]="extensionPointSettings">
            </settings-renderer-panel>

            <!-- Settings of the exporter implementation -->
            <settings-renderer-panel *ngFor="let s of settingsStructs" [(ngModel)]="s.settings" [scope]="s.scope"></settings-renderer-panel>
        </div>

    </div>
    
    <div class="card-footer">
        <span class="float-left">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
        <button type="submit" class="btn btn-light btn-sm float-right" (click)="saveSettings()" [disabled]="!settingsStructs">{{'ACTIONS.SAVE'|translate}}</button>
        <div class="col-sm-2 float-right">
            <div class="input-group">
                <select class="form-control form-control-sm" [(ngModel)]="selectedExportFormat">
                    <option *ngFor="let f of exportFormats" [ngValue]="f">{{f.name}}</option>
                </select>
                <span class="input-group-append">
                    <button class="btn btn-light btn-sm" (click)="export()" [disabled]="!settingsStructs">
                        {{'ACTIONS.EXPORT'|translate}}
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>