<div class="modal-header">
    <h3 class="modal-title">Create Custom Range - Property mapping</h3>
</div>
<div class="modal-body vbox" style="height: 40vh;">
    
    <div style="border: 1px solid #ddd; border-radius: 4px; padding: 2px 4px; margin-bottom: 4px;">
        <rdf-resource *ngIf="selectedProperty" [resource]="selectedProperty"></rdf-resource>
        <button class="btn btn-default btn-xs pull-right" title="Create Property" (click)="selectProperty()">
            <img src="../../../assets/images/prop_create.png" />
        </button>
    </div>
    
    <div class="panel panel-default vbox">
        <div class="panel-heading">
            <label style="flex: 1">Custom Range:</label>
        </div>
        <div class="panel-body vbox">
            <div class="scrollableContainer">
                <table class="table table-condensed table-borderless table-hoverable">
                    <tbody>
                        <tr *ngFor="let cr of customRangeList" (click)="selectCR(cr)" [ngClass]="{active: cr == selectedCR}">
                            <td>{{cr}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!selectedProperty || !selectedCR">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>