<div class="panel panel-default vbox">
    <div class="panel-heading">
        <label style="flex: 1;">Resource Metadata configuration:</label>
    </div>
    <div class="panel-body hbox">

        <div class="subPanel vbox">
            <div class="subPanel-heading">
                <label style="flex: 1">Metadata Patterns:</label>
                <div class="btn-toolbar">
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-default" title="Create Metadata Pattern" (click)="createPattern()" [disabled]="!createPatternAuthorized">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" title="Delete Metadata Pattern" (click)="deletePattern()"
                            [disabled]="!selectedPattern || selectedPattern.scope == 'FACTORY' || !deletePatternAuthorized">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <button class="btn btn-default" title="Modify Metadata Pattern" (click)="editPattern()" [disabled]="!selectedPattern || !modifyPatternAuthorized">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-default" title="Clone Metadata Pattern" (click)="clonePattern()"
                            [disabled]="!selectedPattern || !createPatternAuthorized">
                            <span class="glyphicon glyphicon-duplicate"></span>
                        </button>
                        <button class="btn btn-default" title="Export Metadata Pattern" (click)="exportPattern()" [disabled]="!selectedPattern">
                            <span class="glyphicon glyphicon-save"></span>
                        </button>
                        <button class="btn btn-default" title="Import Metadata Pattern" (click)="importPattern()" [disabled]="!createPatternAuthorized">
                            <span class="glyphicon glyphicon-open"></span>
                        </button>
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Pattern Library" [disabled]="!createPatternAuthorized">
                            <span class="glyphicon glyphicon-book"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a (click)="importPatternFromLibrary()">Import Pattern from shared library</a></li>
                            <li [ngClass]="{ disabled: !selectedPattern || selectedPattern.scope == 'FACTORY' }">
                                <a (click)="storePatternInLibrary()">Store Pattern in shared library</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="subPanel-body vbox scrollableContainer">
                <div *ngFor="let p of patterns" (click)="selectedPattern = p" class="listItem" [ngClass]="{ active: p == selectedPattern, grayText: p.scope == 'FACTORY' }">
                    {{p.name}}
                </div>
            </div>
        </div>

        <div class="subPanel vbox" style="margin-left: 6px;">
            <div class="subPanel-heading">
                <label style="flex: 1">Pattern Associations:</label>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-default" title="Create Pattern Association" (click)="createAssociation()" [disabled]="!createAssociationAuthorized">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-default" title="Delete Pattern Association" (click)="deleteAssociation()" [disabled]="!selectedAssociation || !deleteAssociationAuthorized">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
            </div>
            <div class="subPanel-body vbox scrollableContainer">
                <table class="table table-condensed table-borderless table-hoverable">
                    <thead style="border-bottom: 1px solid #ddd;">
                        <tr>
                            <th>Resource type</th>
                            <th>Pattern ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of associations" (click)="selectedAssociation = a" [ngClass]="{ info: a == selectedAssociation }">
                            <td>{{a.roleLabel}}</td>
                            <td [ngClass]="{grayText: a.pattern.scope == 'FACTORY'}">{{a.pattern.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <span class="grayText pull-right">Pattern Factory-provided</span>
    </div>
    
</div>