<div class="groupPanel">
    
    <div class="groupPanel-heading">
        <div class="expandCollapseBtnContainer groupPanel-heading-content" style="margin: 0px">
            <img src="./assets/images/icons/arrow.png" (click)="partitionCollapsed = !partitionCollapsed"
                [ngClass]="{'arrow-right': partitionCollapsed}">
        </div>
        <span style="flex: 1">
            <label class="groupPanel-heading-content">{{labelTranslationKey|translate}}:</label>
        </span>
        <span class="groupPanel-heading-content groupPanel-add-btn dropdown float-right">
            <button class="dropdown-toggle resViewPartitionAddBtn" data-toggle="dropdown" ngbDropdownToggle [title]="addBtnImgTitle" [disabled]="addDisabled">
                <img [src]="addBtnImgSrc"/>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="addFirst()">Add first</a>
                <a class="dropdown-item" (click)="addLast()">Add last</a>
                <a class="dropdown-item" [ngClass]="{disabled : !selectedMember}" (click)="addBefore()">Add before the selected member</a>
                <a class="dropdown-item" [ngClass]="{disabled : !selectedMember}" (click)="addAfter()">Add after the selected member</a>
            </div>
        </span>
    </div>

    <div class="groupPanel-body">
        <ng-container *ngIf="!partitionCollapsed">
            <div class="card card-alt" *ngFor="let po of predicateObjectList" style="margin-bottom: 4px;">
                <div class="card-header">
                    <label>{{po.getPredicate().getShow()}}</label>
                </div>
                <div class="card-body">
                    <ng-container *ngFor="let obj of po.getObjects()">
                        <!-- Member list -->
                        <resview-value-renderer
                            [subject]="resource" [predicate]="po.getPredicate()" [object]="obj" [rendering]="rendering" 
                            [readonly]="readonly" [partition]="partition"
                            (dblClick)="objectDblClick(obj)" (link)="onDblClick($event)"
                            (delete)="removePredicateObject(po.getPredicate(), obj)"
                            (edit)="editHandler(po.getPredicate(), obj)" (update)="onObjectUpdate()">
                        </resview-value-renderer>
                        
                        <div class="card card-alt">
                            <div class="card-header">
                                <label style="flex: 1">Members</label>
                                <div class="btn-group float-right" ngbDropdown>
                                    <button class="btn btn-xs btn-light dropdown-toggle predObjRenderPanelBtn" style="padding: 3px 6px;"
                                        data-toggle="dropdown" ngbDropdownToggle title="Add member" [disabled]="addDisabled">
                                        <span class="fas fa-plus" style="font-size: 9px;"></span>
                                    </button>
                                    <div class="dropdown-menu" ngbDropdownMenu>
                                        <a class="dropdown-item" (click)="addFirst(po.getPredicate())">Add first</a>
                                        <a class="dropdown-item" (click)="addLast(po.getPredicate())">Add last</a>
                                        <a class="dropdown-item" [ngClass]="{disabled : !selectedMember}" (click)="addBefore(po.getPredicate())">Add before the selected member</a>
                                        <a class="dropdown-item" [ngClass]="{disabled : !selectedMember}" (click)="addAfter(po.getPredicate())">Add after the selected member</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div *ngFor="let memb of obj.members" class="listItem" (click)="selectMember(memb)"
                                    [ngClass]="{active: memb == selectedMember}">
                                    <editable-resource style="flex: 1" [resource]="memb" [rendering]="rendering"
                                        [subject]="obj" [predicate]="membersProperty" [readonly]="readonly" [partition]="partition" 
                                        (dblClick)="objectDblClick(memb)" (delete)="removeMember(memb)" (update)="onObjectUpdate()">
                                    </editable-resource>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>

</div>