<div class="groupPanel">

    <div class="groupPanel-heading">
        <div class="expandCollapseBtnContainer groupPanel-heading-content" style="margin: 0px">
            <img src="./assets/images/icons/arrow.png" (click)="partitionCollapsed = !partitionCollapsed"
                [ngClass]="{'arrow-right': partitionCollapsed}">
        </div>
        <span style="flex: 1">
            <label class="groupPanel-heading-content">{{labelTranslationKey|translate}}:</label>
        </span>
        <span class="groupPanel-heading-content groupPanel-add-btn">
            <button class="resViewPartitionAddBtn" (click)="addHandler(null, AddAction.default)" [title]="addTitleTranslationKey|translate" [disabled]="addDisabled">
                <img [src]="addBtnImgSrc"/>
            </button>
            <div *ngIf="addManuallyAllowed" class="btn-group" style="vertical-align: initial;" ngbDropdown>
                <button class="dropdown-toggle transparentBtn" style="width: 12px; padding-right: 2px;" data-toggle="dropdown" ngbDropdownToggle>
                    <span class="fas fa-caret-down fa-sm" style="margin: 0px;"></span>
                </button>
                <div class="dropdown-menu float-right" ngbDropdownMenu>
                    <a class="dropdown-item" [ngClass]="{ disabled: addDisabled }" (click)="addManually()">{{'RESOURCE_VIEW.ACTIONS.ADD_VALUE_MANUALLY'|translate}}</a>
                    <a *ngIf="addExteranlResourceAllowed" class="dropdown-item" [ngClass]="{ disabled: addDisabled }" (click)="addExternalValue()">{{'RESOURCE_VIEW.ACTIONS.ADD_VALUE_FROM_ANOTHER_PROJ'|translate}}</a>
                </div>
            </div>
        </span>
    </div>

    <div class="groupPanel-body">
        <ng-container *ngIf="!partitionCollapsed">
            <div class="d-flex align-items-center pt-2 pb-3">
                <div *ngFor="let f of facets; let i=index" class="form-check form-check-inline">
                    <input class="form-check-input" [id]="'facetCheck'+i" type="checkbox" [(ngModel)]="f.value" [disabled]="isChangeFacetDisabled(f)" (change)="changeFacet(f)">
                    <label class="form-check-label" [for]="'facetCheck'+i" style="font-weight: initial;">{{f.name}}</label>
                </div>
            </div>
            <ng-container *ngFor="let po of predicateObjectList">
                <pred-obj-renderer *ngIf="po.getObjects().length > 0"
                    [pred-obj]="po" [resource]="resource" [rendering]="rendering"
                    [readonly]="readonly" [partition]="partition" (dblclickObj)="objectDblClick($event)"
                    (add)="addHandler(po.getPredicate(), $event)" (remove)="removeHandler(po.getPredicate(), $event)"
                    (edit)="editHandler(po.getPredicate(), $event)">
               </pred-obj-renderer>
            </ng-container>
        </ng-container>
    </div>
    
</div>