<div class="card card-default vbox">

    <div class="card-body vbox">

        <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">
            <ng-container *ngFor="let n of list; let idx=index">
                <div *ngIf="idx < nodeLimit && (!n.scheme.isDeprecated() || showDeprecated && n.scheme.isDeprecated())">
                    <div class="listNodeItem">
                        <input *ngIf="context == 'dataPanel'" type="checkbox" style="margin-right: 5px;" [(ngModel)]="n.checked"
                            (ngModelChange)="updateActiveSchemesPref()">
                        <scheme-list-node [node]="n.scheme" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" 
                            [context]="context" [projectCtx]="projectCtx" (nodeSelected)="selectNode(n)" (nodeChecked)="onNodeChecked($event)" style="flex:1">
                        </scheme-list-node>
                    </div>
                </div>
            </ng-container>
        </div>

        <div #blockDivList class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="./assets/images/loading.gif"/>
                </div>
            </div>
        </div>

    </div>

</div>