<div class="modal-header">
    <h3 class="modal-title">Project view settings</h3>
</div>
<div class="modal-body vbox">

    <div class="hbox" style="align-items: center;">
        <label style="white-space: nowrap; margin-right: 4px;">Top level elements:</label>
        <select class="form-control input-sm" [(ngModel)]="selectedVisualizationMode">
            <option *ngFor="let m of visualizationModes" [ngValue]="m">{{m.show}}</option>
        </select>
    </div>

    <div class="panel panel-default" style="margin-top: 6px;">
        <div class="panel-heading">
            <label>Project info</label>
            <label style="flex: 1"></label>
            <div class="btn-group btn-group-xs" style="margin-right: 4px;">
                <button class="btn btn-default" (click)="moveUp()" title="Move up"
                    [disabled]="!selectedColumn || columns.indexOf(selectedColumn) == 0">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </button>
                <button class="btn btn-default" (click)="moveDown()" title="Move down"
                    [disabled]="!selectedColumn || columns[columns.length-1] == selectedColumn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
            </div>
            <button class="btn btn-xs btn-default" (click)="reset()" title="Restore default">
                <span class="glyphicon glyphicon-repeat"></span>
            </button>
        </div>
        <div class="panel-body">

            <div class="alert alert-info" style="margin-bottom: 8px;">
                Here you can show or hide info about the projects and customize their order.
            </div>
            
            <table class="table table-hoverable table-condensed table-borderless">
                <thead>
                    <th class="text-center">Column name</th>
                    <th class="text-center">Show</th>
                </thead>
                <tbody>
                    <tr *ngFor="let c of columns" [ngClass]="{ info : c == selectedColumn }" (click)="selectColumn(c)">
                        <td class="text-center" [ngClass]="{ grayText : !c.show }">{{c.name}}</td>
                        <td class="text-center">
                            <input type="checkbox" [(ngModel)]="c.show" [disabled]="c.mandatory">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
</div>