<div class="panel panel-default vbox blockingDivHost">
    <div class="panel-heading">
        <rdf-resource style="flex: 1;" *ngIf="resource" [resource]="resource"></rdf-resource>
        <input class="form-control input-xs" [ngModel]="resource.getURI()" readonly>

        <button class="btn btn-xs btn-default" style="margin-left: 3px;" (click)="buildResourceSimpleView(resource)" title="Refresh">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <button class="btn btn-default btn-xs" style="margin-left: 3px;" (click)="openSettings()" title="ResourceView settings">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
    </div>
    <div  *ngIf="resource && !unexistingResource" class="panel-body scrollableContainer">
        <ng-container *ngIf="!unexistingResource && !unknownHost">
            <!-- first-->
            <div class="panel panel-default"> 
                <div class="panel-body">
                    <h2 class="qname"><span>{{resource.qname}}</span></h2>
                    <div>
                        <p>{{resource.getShow()}}</p>
                        <p *ngFor="let item of definitions">{{item.getShow()}}</p>
                    </div>
                    <h2 class="concept"><span>Broader Concepts</span></h2>
                    <div>
                        <p *ngFor="let broader of broaders">{{broader.getShow()}}</p>
                    </div>
                </div>
            </div>
            <!-- Languages-->
            <div class="lang">
                <lang-item *ngFor="let item of languages" class="clickable" [language]="item.lang" [disabled]="item.disabled" 
                    [showName]="false" [size]="'md'" (click)="onClick(item)">
                </lang-item>
            </div>
            <!-- Language definitions-->
            <div class="def-lang">
                <lang-def *ngFor="let item of objectKeys" [resource]="resource" (update)="buildResourceSimpleView(resource)" 
                    [langFromServer]="item" [langStruct]="langStruct" [lexicalizationModelType]="lexicalizationModelType" #langItem>
                </lang-def>
            </div>
        </ng-container>

        <div *ngIf="unexistingResource" class="alert alert-danger">
            This resource is not available in the current project
        </div>
        <div *ngIf="unknownHost" class="alert alert-danger">
            This resource is not available on accessible local projects nor can be reached on the Web
        </div>

    </div>
    <div class="panel-footer" style="min-height: 31px;"></div>

    <div #blockDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>