.custom {
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(251, 251, 251);
    box-shadow: none;
    height: auto; 
    white-space: pre-wrap; 
}
.custom.disabled {
    background-color: rgb(244, 244, 244);
    cursor: not-allowed;
}

.custom:hover{
    border: 1px solid rgb(244, 244, 244) !important;
}

textarea:hover {
    border: 1px solid rgb(244, 244, 244);
}

textarea:focus {
    border: 1px solid rgb(244, 244, 244);
}

