<div class="d-flex align-items-center">
    <label>{{'RESOURCE_VIEW.PARTITIONS.CONSTITUENTS'|translate}}:</label>
    <div *ngFor="let c of constituents; let last=last" class="clickable d-flex align-items-center" (dblclick)="resourceDblClick(c.id)">
        <constituent class="ml-3" [constituent]="c" (dblclickObj)="resourceDblClick($event)" (update)="onUpdate()"></constituent>
        <ng-container *ngIf="!last">;</ng-container>
    </div>
    <button *ngIf="!readonly" class="btn btn-xs btn-faded ml-3" (click)="edit()" [title]="'ACTIONS.EDIT'|translate">
        <span class="fas fa-pencil-alt"></span>
    </button>
</div>