.common {
    box-shadow: none;
    height: auto; 
    min-height: 26px;
    white-space: pre-wrap; 
}

textarea {
    /* resize: vertical; */
    resize: both;
    background-color: #f7f7f7;
    border: 1px solid #4285f4;
}
textarea:focus {
    background-color: #f7f7f7;
    border: 1px solid #4285f4;
}