<div class="card card-default">
    <div class="card-header">
        <label style="flex: 1">Resource view</label>
    </div>
    <div class="card-body">

        <div class="card card-default">
            <div class="card-body hbox">
                <div class="vbox" style="margin-right: 8px;">
                    <div class="hbox" style="align-items: center;">
                        <label>Mode:</label>
                        <select class="form-control form-control-sm" style="margin-left: 4px;" [(ngModel)]="resViewMode" (ngModelChange)="onResViewModeChange()">
                            <option value="splitted">Splitted</option>
                            <option value="tabbed">Tabbed</option>
                        </select>
                    </div>
                    <div class="alert alert-info" style="margin-top: 4px;">
                        <span *ngIf="resViewMode == 'tabbed'">
                            The Resource View is shown in a tab and multiple Resource View can be open in different tabs.
                        </span>
                        <span *ngIf="resViewMode == 'splitted'">
                            The Resource View panel is splitted in two: on the left there is a main Resource View which describes
                            (and is synched with) the resource selected in the tree/list; on the right there is an optional
                            secondary Resource View which describes a resource selected (double click) from the main Resource View.<br>
                            <span class="fas fa-exclamation-triangle"></span> This mode is not recommended in screen with resolution width below 1440px
                        </span>
                    </div>
                    <div *ngIf="resViewMode == 'tabbed'">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" [(ngModel)]="resViewTabSync" (ngModelChange)="onTabSyncChange()">
                                Keep selected tab synchronized with tree/list
                                <span class="fas fa-exclamation-circle"
                                    title="It is recommended to disable this option. The synchronization between tabs and tree/list could slow down the navigation of the ResourceView tabbed panel.">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <img *ngIf="resViewMode == 'tabbed'" src="../../assets/images/res_view_tabbed.jpg" style="height: 100px;">
                    <img *ngIf="resViewMode == 'splitted'" src="../../assets/images/res_view_splitted.jpg" style="height: 100px;">
                </div>
            </div>
        </div>

        <div *ngIf="typeSelectionAvailable" class="card card-default" style="margin-top: 4px">
            <div class="card-body">
                <div class="hbox" style="align-items: center;">
                    <label style="white-space: nowrap;">
                        Initial view for concepts:
                        <span class="fas fa-info-circle" title="This selection will be used by default for browsing SKOS concepts. The user can switch to other views during their session of work, but this selection will be applied as an initial setting at each new login"></span>
                    </label>
                    <select class="form-control form-control-sm" style="margin-left: 4px;" [(ngModel)]="selectedRvConceptType" (ngModelChange)="onResViewConceptTypeChange()">
                        <option *ngFor="let t of rvConceptTypes" [ngValue]="t">{{t.show}}</option>
                    </select>
                </div>
                <div class="alert alert-info" style="margin-top: 4px;">
                    {{selectedRvConceptType.description}}
                </div>
            </div>
        </div>

        <div class="card card-default" style="margin-top: 4px">
            <div class="card-body">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" [(ngModel)]="displayImg" (ngModelChange)="onDisplayImgChange()">
                        Display images
                        <span class="fas fa-info-circle"
                            title="If enabled, URL values resolvable to images on the web will be displayed as images (preview) in the ResourceView">
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="card card-default" style="margin-top: 4px">
            <div class="card-body">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" [(ngModel)]="showDeprecated" (ngModelChange)="onShowDeprecatedChange()">
                        Show deprecated values
                        <span class="fas fa-info-circle"
                            title="If enabled, linked resources marked as deprecated will be shown in the ResourceView">
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="card card-default" style="margin-top: 4px">
            <div class="card-body">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" [(ngModel)]="showDatatypeBadge" (ngModelChange)="onShowDatatypeBadge()">
                        Always show datatype badge
                        <span class="fas fa-info-circle"
                            title="If enabled, a datatype badge will be always shown beside the value. If not, the badge is only shown in case of an unknown datype (the icon on the left of the value will classify the known datatype)">
                        </span>
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>