<div class="hbox">
    <rdf-resource *ngIf="reifiedResource" [resource]="reifiedResource" style="flex:1"></rdf-resource>
    <button *ngIf="predicateObjectList" class="close" style="margin-right: 10px; width: 20px;" (click)="toggle()">
        <span *ngIf="open">-</span>
        <span *ngIf="!open">+</span>
    </button>
</div>

<div *ngIf="open" class="panel panel-default" style="margin: 0px 3px 3px;">
    <div class="panel-body" style="padding: 2px;">
        <table class="table table-condensed table-borderless table-hoverable">
            <tbody>
                
                <template ngFor let-predObj [ngForOf]="predicateObjectList">
                    <tr *ngFor="let obj of predObj.getObjects()">
                        <td style="width: 1%" nowrap>{{predObj.getPredicate().getShow()}}</td>
                        <td>
                            <input type="text" class="form-control input-xs" [ngModel]="obj.getNominalValue()" readonly>
                            <!--Restore when getReifiedResourceDescription will contain roles of objects in <predicateObjects>-->
                            <!--<rdf-resource [resource]="obj"></rdf-resource>-->
                        </td>
                    </tr>
                </template>
                
            </tbody>
        </table>
    </div>
</div>