<div class="card card-default vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">Dangling concepts</label>
        <span>Scheme:</span>
        <select class="form-control form-control-sm ml-1" style="width: initial;" [(ngModel)]="selectedScheme">
            <option [ngValue]="null" style="font-style: italic">All schemes</option>
            <option *ngFor="let s of schemeList" [ngValue]="s">{{s.getShow()}}</option>
        </select>
        <button class="btn btn-xs btn-light ml-3" (click)="runIcv()">Run</button>
    </div>
    <div class="card-body vbox">
        
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <i>
                skos:Concept(s) that are not reachable in a concept tree because they have no broader
                concept and are not top concept of its scheme.
            </i>
        </div>

        <div *ngIf="!brokenConceptList && !brokenConceptMap" style="padding: 4px;">
            Press <strong>Run</strong> button to run the check.
        </div>

        <div *ngIf="brokenConceptList" class="scrollableContainer">
            <table class="table table-sm table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">Concept</th>
                        <th class="text-center" style="width: 1%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let concept of brokenConceptList">
                        <td>
                            <rdf-resource class="clickable" [resource]="concept" (click)="onResourceClick(concept)"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-light" (click)="selectBroader(concept, selectedScheme)">Select skos:broader</button>
                            <button class="btn btn-xs btn-light" (click)="setAsTopConcept(concept, selectedScheme)">Set as skos:topConceptOf</button>
                            <button class="btn btn-xs btn-light" (click)="removeFromScheme(concept, selectedScheme)">Remove from scheme</button>
                            <button class="btn btn-xs btn-light" (click)="deleteConcept(concept)">Delete concept</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="brokenConceptMap" class="scrollableContainer">
            <table class="table table-sm" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">Scheme</th>
                        <th class="text-center">Concept</th>
                        <th class="text-center" style="width: 1%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let entry of brokenConceptMap">
                        <tr *ngFor="let concept of entry.concepts; let idx = index">
                            <td *ngIf="idx == 0" [attr.rowspan]="entry.concepts.length">
                                <rdf-resource class="clickable" [resource]="entry.scheme" (click)="onResourceClick(entry.scheme)"></rdf-resource>
                            </td>
                            <td>
                                <rdf-resource class="clickable" [resource]="concept" (click)="onResourceClick(concept)"></rdf-resource>
                            </td>
                            <td style="white-space: nowrap">
                                <button class="btn btn-xs btn-light" (click)="selectBroader(concept, entry.scheme)">Select skos:broader</button>
                                <button class="btn btn-xs btn-light" (click)="setAsTopConcept(concept, entry.scheme)">Set as skos:topConceptOf</button>
                                <button class="btn btn-xs btn-light" (click)="removeFromScheme(concept, entry.scheme)">Remove from scheme</button>
                                <button class="btn btn-xs btn-light" (click)="deleteConcept(concept)">Delete concept</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="brokenConceptList && brokenConceptList.length != 0" class="card-footer">
        <div class="dropup" ngbDropdown>
            <button class="btn btn-light dropdown-toggle btn-xs" type="button" data-toggle="dropdown" ngbDropdownToggle>
                Quick action
                <span class="fas fa-caret-up fa-sm"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="setAllTopConcept()" style="cursor: pointer;">Set all as skos:topConceptOf</a>
                <a class="dropdown-item" (click)="selectBroaderForAll()" style="cursor: pointer;">Select a skos:broader for all</a>
                <a class="dropdown-item" (click)="removeAllFromScheme()" style="cursor: pointer;">Remove all from scheme</a>
                <a class="dropdown-item" (click)="deleteAll()" style="cursor: pointer;">Delete all</a>
            </div>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>