<div class="vbox">

     <div class="panel panel-default vbox">

        <div class="panel-body hbox"> 

            <div class="panel panel-default vbox" style="flex: 2;">
                <div class="panel-heading">
                    <label style="flex: 1;">Users:</label>
                    <div class="pull-right">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group btn-group-xs">
                                <button #actBtn class="btn btn-default" [ngClass]="{active: showActive}" (click)="showActive = !showActive"
                                    title="Show/Hide active users" (mouseup)="actBtn.blur()">Active
                                </button>
                                <button #inactBtn class="btn btn-default" [ngClass]="{active: showInactive}" (click)="showInactive = !showInactive"
                                    title="Show/Hide inactive users" (mouseup)="inactBtn.blur()">Inactive
                                </button>
                                <button #newBtn class="btn btn-default" [ngClass]="{active: showNew}" (click)="showNew = !showNew"
                                    title="Show/Hide new users" (mouseup)="newBtn.blur()">New
                                </button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" (click)="createUser()" title="Create user">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body vbox" style="padding: 0px;">
                    <div class="scrollableContainer">
                        <ng-template ngFor let-u [ngForOf]="users">
                            <div *ngIf="isUserVisible(u)" class="listItem" [ngClass]="{active: u == selectedUser}" (click)="selectUser(u)">
                                <span style="flex:1">{{u.getShow()}}</span>
                                <span *ngIf="u.getStatus() == 'NEW'; else notNewBlock" class="glyphicon glyphicon-exclamation-sign"
                                    style="color: red" title="New registered user"></span>
                                <ng-template #notNewBlock>
                                    <span *ngIf="u.isOnline()" class="glyphicon glyphicon-user"
                                        style="color: green" title="Online"></span>
                                    <span *ngIf="!u.isOnline()" class="glyphicon glyphicon-user"
                                        style="color: lightgray" title="Offine"></span>
                                </ng-template>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>

            <div class="panel panel-default vbox" style="flex: 5; margin-left: 5px;">
                <div class="panel-heading">
                    <label style="flex: 1;">User Details:</label>
                    <div *ngIf="selectedUser" class="btn-group btn-group-xs" role="group">
                        <button type="button" class="btn btn-default" (click)="enableDisableUser()"
                            [ngClass]="{'active green': isUserActive(selectedUser)}" [disabled]="isChangeStatusButtonDisabled()">
                            Active
                        </button>
                        <button type="button" class="btn btn-default" (click)="enableDisableUser()"
                            [ngClass]="{'active red': !isUserActive(selectedUser)}" [disabled]="isChangeStatusButtonDisabled()">
                            Inactive
                        </button>
                    </div>
                </div>
                <div class="panel-body" style="flex: 1;">
                    <div *ngIf="selectedUser">
                        <table class="table table-condensed table-borderless">
                            <colgroup>
                                <col style="width: 10%;">
                                <col style="width: 40%;">
                                <col style="width: 10%;">
                                <col style="width: 40%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td nowrap><label>Given name:</label></td>
                                    <td><input class="form-control input-sm" [ngModel]="selectedUser.getGivenName()" readonly></td>
                                    <td nowrap><label>Family name:</label></td>
                                    <td><input class="form-control input-sm" [ngModel]="selectedUser.getFamilyName()" readonly></td>
                                </tr>
                                <tr>
                                    <td nowrap><label>E-mail:</label></td>
                                    <td><input class="form-control input-sm" [ngModel]="selectedUser.getEmail()" readonly></td>
                                    <td nowrap><label>Phone:</label></td>
                                    <td>
                                        <input class="form-control input-sm" [ngModel]="selectedUser.getPhone()" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap><label>Office address:</label></td>
                                    <td>
                                        <input class="form-control input-sm" [ngModel]="selectedUser.getAddress()" readonly>
                                    </td>
                                    <td nowrap><label>Affiliation:</label></td>
                                    <td>
                                        <input class="form-control input-sm" [ngModel]="selectedUser.getAffiliation()" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap><label>Personal Url:</label></td>
                                    <td>
                                        <input class="form-control input-sm" [ngModel]="selectedUser.getUrl()" readonly>
                                    </td>
                                    <td nowrap><label>Avatar Url:</label></td>
                                    <td><input class="form-control input-sm" [ngModel]="selectedUser.getAvatarUrl()" readonly></td>
                                </tr>
                                <tr>
                                    <td nowrap><label>Language proficiencies:</label></td>
                                    <td><input class="form-control input-sm" [ngModel]="selectedUser.getLanguageProficiencies()" readonly></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr style="padding-top: 5px;">
                                    <td colspan="5"><label>Registered: </label> {{selectedUser.getRegistrationDate()}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="panel-footer" *ngIf="selectedUser">
                    <button class="btn btn-default btn-xs" (click)="changePassword()" [disabled]="isChangePwdButtonDisabled()">
                        Change password
                    </button>
                    <button class="btn btn-default btn-xs pull-right" (click)="deleteUser()" [disabled]="isDeleteButtonDisabled()">
                        Delete
                    </button>
                </div>
            </div>

         </div>

    </div> 

</div>