<div class="hbox">

    <!--
        Extension selector visible if: 
        * there are multiple extensions;
        * there is one extension (immediately selected) and it has 0 or 1 configuration
        Configuration selector visible if the selected extension has multiple configurations.
    -->
    <select *ngIf="extensions.length > 1 || !selectedExtension.configurations || selectedExtension.configurations.length == 1"
        class="form-control input-sm" [(ngModel)]="selectedExtension" (ngModelChange)="onChangeExtension()"
        [title]="selectedExtension.description" style="margin-right: 5px;" [disabled]="disabled">
        <option *ngFor="let ext of extensions" [ngValue]="ext" [title]="ext.description">
            {{ext.name}} 
        </option>
    </select>
    <select *ngIf="selectedExtension.configurations?.length > 1" class="form-control input-sm" [(ngModel)]="selectedConfiguration"
        (ngModelChange)="onChangeConfig()" style="margin-right: 5px;" [disabled]="disabled">
        <option *ngFor="let cfg of selectedExtension.configurations" [ngValue]="cfg">{{cfg.shortName}}</option>
    </select>

    <span *ngIf="selectedExtension.configurations" class="btn-group btn-group-sm" style="display: flex;">
        <button class="btn btn-default" (click)="configure()" [disabled]="disabled">Configure</button>
        <ng-template [ngIf]="storeable">
            <button class="btn btn-default" title="Save configuration" (click)="saveConfig()" [disabled]="disabled">
                <span class="glyphicon glyphicon-floppy-save"></span>
            </button>
            <button class="btn btn-default" title="Load configuration" (click)="loadConfig()" [disabled]="disabled">
                <span class="glyphicon glyphicon-floppy-open"></span>
            </button>
        </ng-template>
    </span>

</div>