<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body">

    <div class="hbox" style="align-items: center;">
        <label *ngIf="context.label" style="margin-right: 4px;">{{context.label}}:</label>
        <div class="col-sm-12">
            <div class="input-group input-group-sm">
                <ng-template [ngIf]="namespaceLocked">
                    <span class="input-group-addon" style="padding-right: 5px;">{{context.prefix}}</span>
                    <input id="toFocus" type="text" class="form-control" [(ngModel)]="prefixedTxt"
                        (keydown)="onKeydown($event)" [sanitized]="context.inputSanitized">
                </ng-template>
                
                <ng-template [ngIf]="!namespaceLocked">
                    <input id="toFocus" type="text" class="form-control" [(ngModel)]="expandedTxt"
                        (keydown)="onKeydown($event)" [sanitized]="context.inputSanitized">
                </ng-template>
                
                <div *ngIf="context.prefixEditable" class="input-group-btn">
                    <button class="btn btn-default" style="width:30px; padding: 1px 3px;" (click)="unlockNamespace()"
                        title="Lock/Unlock namespace" [ngClass]="{active: namespaceLocked}">
                        <span class="glyphicon glyphicon-lock" style="font-size: 10px;"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isInputValid() && !context.inputOptional && submitted" class="alert alert-danger">
        <strong>{{context.label}}</strong> is required
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!context.inputOptional && !isInputValid()">Ok</button>
    <button *ngIf="!context.hideNo" class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>