<div class="card card-default vbox blockingDivHost">
    <div class="card-header">
        <rdf-resource style="flex: 1;" *ngIf="resource" [resource]="resource"></rdf-resource>
        <input class="form-control form-control-sm" [ngModel]="resource.getNominalValue()" readonly>

        <button class="btn btn-xs btn-light" style="margin-left: 3px;" (click)="buildLexicographerView()" [title]="'ACTIONS.REFRESH'|translate">
            <span class="fas fa-redo"></span>
        </button>
        <button class="btn btn-light btn-xs" style="margin-left: 3px;" (click)="openSettings()" [title]="'COMMONS.SETTINGS'|translate">
            <span class="fas fa-cog"></span>
        </button>
    </div>

    <div class="card-body vbox scrollableContainer">

        <!-- Lemma -->
        <div>
            <lexical-form *ngFor="let l of lemma" style="flex: 1" [entry]="resource" [form]="l" lemma="true" [readonly]="readonly" (update)="buildLexicographerView()">
            </lexical-form>
        </div>

        <!-- Other forms -->
        <div class="mt-3">
            <lexical-form *ngFor="let f of otherForms;" class="mb-2" style="flex: 1" [entry]="resource" [form]="f" [lexViewCache]="lexViewCache" [readonly]="readonly" 
                (update)="buildLexicographerView()">
            </lexical-form>
            <inline-editable-value *ngIf="pendingOtherForm" [textStyle]="formStyle" [focusOnInit]="true" 
                (edited)="onPendingOtherFormConfirmed($event)" (editCanceled)="onPendingOtherFormCanceled()">
            </inline-editable-value>
        </div>

        <!-- Senses -->
        <div class="mt-3">
            <lexical-sense *ngFor="let s of senses" class="mb-2" [sense]="s" [lang]="lang" [readonly]="readonly" [lexViewCache]="lexViewCache" 
                (update)="buildLexicographerView()" (dblclickObj)="resourceDblClick($event)">
            </lexical-sense>
        </div>

        <div class="dropdown mt-3" ngbDropdown>
            <button class="btn btn-faded btn-xs dropdown-toggle" data-toggle="dropdown" [disabled]="readonly" ngbDropdownToggle>
                <span class="fas fa-plus"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="addOtherForm()">
                    {{'DATA.ACTIONS.ADD_OTHER_FORM'|translate}}
                </a>
                <a class="dropdown-item" (click)="addSense()">
                    {{'DATA.ACTIONS.ADD_LEXICAL_SENSE'|translate}}
                </a>
            </div>
        </div>
    </div>

    <div class="card-footer" style="min-height: 31px;"></div>

    <div #blockDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>