<div class="modal-header">
    <h3 class="modal-title text-info">Export as RDF</h3>
</div>
<div class="modal-body vbox">
    
    <select class="form-control" [(ngModel)]="selectedExportFormat">
        <option *ngFor="let f of exportFormats" [ngValue]="f">{{f.name}}</option>
    </select>

    <div class="form-check my-2 mx-1">
        <input class="form-check-input" id="filterCheck" type="checkbox" [(ngModel)]="applyFilter">
        <label class="form-check-label" for="filterCheck">Apply export filters</label>
    </div>

    <div *ngIf="applyFilter" class="card card-alt vbox">
        <div class="card-header">
            <label style="flex: 1">Export transformations:</label>
            <div class="btn-group btn-group-xs" role="group">
                <button class="btn btn-light" title="Add filter" (click)="appendFilter()">
                    <span class="fas fa-plus"></span>
                </button>
                <button class="btn btn-light" title="Remove filter" (click)="removeFilter()"
                    [disabled]="filtersChain.length == 0 || !selectedFilterChainElement">
                    <span class="fas fa-minus"></span>
                </button>
                <button class="btn btn-light" title="Move down"  (click)="moveFilterDown()"
                    [disabled]="isSelectedFilterLast() || !selectedFilterChainElement">
                    <span class="fas fa-chevron-down"></span>
                </button>
                <button class="btn btn-light" title="Move up" (click)="moveFilterUp()"
                    [disabled]="isSelectedFilterFirst() || !selectedFilterChainElement">
                    <span class="fas fa-chevron-up"></span>
                </button>
            </div>
        </div>
        <div class="card-body scrollableContainer" style="min-height: 60px;">
            <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom: 5px;">
                Here it is possible to create and configure a sequence of transformations to be applied during the export process.
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
            <table class="table table-sm table-hoverable">
                <colgroup>
                    <col style="width: 2%">
                    <col>
                    <col style="width: 5%">
                </colgroup>
                <tbody>
                    <tr *ngFor="let filterChainEl of filtersChain; let l = last; let f = first; let idx = index" 
                        [ngClass]="{ 'table-primary': filterChainEl == selectedFilterChainElement }" (click)="selectFilterChainElement(filterChainEl)">
                        <td class="text-center" style="font-size: 11px; font-weight: 700;">{{idx+1}}</td>
                        <td class="hbox">
                            <extension-configurator [extensions]="filterChainEl.availableFactories"
                                (extensionUpdated)="onExtensionUpdated(filterChainEl, $event)"
                                (configurationUpdated)="onConfigurationUpdated(filterChainEl, $event)" style="flex: 1;">
                            </extension-configurator>
                        </td>
                        <td class="text-center" style="font-size: 14px; font-weight: 700;">
                            <span *ngIf="requireConfiguration(filterChainEl)" class="fas fa-exclamation-triangle"
                                title="This filter needs to be configured"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.CANCEL'|translate}}</button>
</div>