<div class="vbox">

    <!--Tabs navigation-->
    <ul class="nav nav-tabs" (click)="$event.preventDefault()">
        <li *ngFor="let t of tabs" [ngClass]="{active : t.active}">
            <a href (click)="selectTab(t)">
                <span *ngIf="t.type=='query'" class="label label-primary" title="Query">Q</span>
                <span *ngIf="t.type=='parameterization'" class="label label-info" title="Parameterized query">P</span>
                <span>
                    {{t.name}}
                    <span *ngIf="!t.saved">*</span>
                </span>
                <span *ngIf="tabs.length > 1" class="glyphicon glyphicon-remove-circle" (click)="closeTab(t)" style="cursor: pointer"
                    onmouseover="this.className='glyphicon glyphicon-remove-sign';"
                    onmouseout="this.className='glyphicon glyphicon-remove-circle';">
                </span>
            </a>
        </li>

        <li [ngStyle]="{ 'cursor': tabs.length>= tabLimit ? 'not-allowed' : 'pointer' }">
            <div class="btn-group btn-group-xs">
                <button #addBtn class="btn btn-default addQueryBtn" (click)="addQueryTab()" (mouseup)="addBtn.blur()" [disabled]="tabs.length>=tabLimit">+</button>
                <button type="button" class="btn btn-default addQueryBtn dropdown-toggle" style="padding: 4px;" data-toggle="dropdown" [disabled]="tabs.length>=tabLimit">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href (click)="addQueryTab()">Add query tab</a></li>
                    <li><a href (click)="addParameterizationTab()">Add parameterized query tab</a></li>
                </ul>
              </div>
        </li>

    </ul>
    <!--Tabs content-->
    <div class="tab-content">
        <div *ngFor="let t of tabs" [ngClass]="{vbox : t.active}" [hidden]="!t.active">
            <sparql-tab *ngIf="t.type=='query'" class="vbox" (updateName)="t.name=$event" (savedStatus)="t.saved=$event"></sparql-tab>
            <sparql-tab-param *ngIf="t.type=='parameterization'" class="vbox" (updateName)="t.name=$event"  (savedStatus)="t.saved=$event"></sparql-tab-param>
        </div>
    </div>
    
</div>