<div class="vbox">

    <!--Tabs navigation-->
    <ul class="nav nav-tabs" (click)="$event.preventDefault()">
        <li *ngFor="let t of tabs" [ngClass]="{active : t.active}">
            <a href (click)="selectTab(t)">
                Query
                <span *ngIf="tabs.length > 1" class="glyphicon glyphicon-remove-circle" (click)="closeTab(t)"
                    onmouseover="this.className='glyphicon glyphicon-remove-sign'; this.style.cursor='pointer'"
                    onmouseout="this.className='glyphicon glyphicon-remove-circle'; this.style.cursor='default'">
                </span>
            </a>
        </li>
        <li [ngClass]="{disabled : tabs.length==10}">
            <a href (click)="addTab()" style="font-weight: bold" onmouseover="this.style.color='#555'" onmouseout="this.style.color='#337ab7'">
                +
            </a>
        </li>
    </ul>
    <!--Tabs content-->
    <div class="tab-content">
        <div *ngFor="let t of tabs" [ngClass]="{vbox : t.active}" [hidden]="!t.active">
            <sparql-tab class="vbox"></sparql-tab>
        </div>
    </div>
    
</div>