<div class="panel panel-default vbox">

    <div class="panel-body vbox">

        <div *ngIf="instanceList && instanceList.length > 0" class="scrollableContainer">
            
            <ng-template ngFor let-instance [ngForOf]="instanceList" let-idx="index">
                <ng-template [ngIf]="showInstance(idx)"> <!-- paging filter -->
                    <rdf-resource [resource]="instance" [rendering]="rendering" (click)="selectInstance(instance)"
                        class="listItem" [ngClass]="{selectedResource : instance.getAdditionalProperty('selected')}">
                    </rdf-resource>
                </ng-template>
            </ng-template>

            <div *ngIf="showMoreButton()">
                <button class="btn btn-xs btn-default" style="width: 100%; color: #888; border-color: #ddd;" (click)="showMore()">
                    Show more...
                </button>
            </div>

        </div>

        <div *ngIf="instanceList && instanceList.length==0">
            No instances
        </div>

        <div #blockDivInstanceList class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="../../../../assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>

</div>