<div class="panel panel-default vbox">

    <div class="panel-body vbox">

        <div *ngIf="instanceList && instanceList.length > 0" class="scrollableContainer">
            
            <ng-template ngFor let-instance [ngForOf]="instanceList" let-idx="index">
                <div *ngIf="showInstance(idx)"> <!-- paging filter -->
                    <instance-list-node [node]="instance" [rendering]="rendering" (nodeSelected)="selectInstance($event)">
                    </instance-list-node>
                </div>
            </ng-template>

            <div *ngIf="showMoreButton()">
                <button class="btn btn-xs btn-default" style="width: 100%; color: #888; border-color: #ddd;" (click)="showMore()">
                    Show more...
                </button>
            </div>

        </div>

        <div #blockDivInstanceList class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="../../../../assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>

</div>