<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group" style="margin-right: 4px;">
            <button class="btn btn-default" title="Create Class" (click)="createRoot()" [disabled]="isCreateDisabled()">
                <img src="../../../../assets/images/icons/actions/class_create.png" class="panelButtonImg"/>
            </button>
            <button class="btn btn-default" title="Create SubClass" (click)="createChild()" [disabled]="isCreateChildDisabled()">
                <img src="../../../../assets/images/icons/actions/class_addSubClass.png" class="panelButtonImg"/>
            </button>
            <ng-template [ngIf]="deletable">
                <button class="btn btn-default" title="Delete Class" (click)="delete()" [disabled]="isDeleteDisabled()">
                    <img src="../../../../assets/images/icons/actions/class_delete.png" class="panelButtonImg"/>
                </button>
                <button class="btn btn-default" title="Deprecate Class" (click)="deprecate()" [disabled]="isDeprecateDisabled()">
                    <img src="../../../../assets/images/icons/actions/class_deprecate.png" class="panelButtonImg"/>
                </button>
            </ng-template>
        </div>
        <div style="flex: 1"></div>

        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering = !rendering" [ngClass]="{active: rendering}">
                <span class="glyphicon glyphicon-font"></span>
            </button>
            <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <button *ngIf="isContextDataPanel()" class="btn btn-default btn-xs" title="Settings" (click)="settings()">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            <button *ngIf="!isContextDataPanel()" class="btn btn-default btn-xs" title="SubClass filter" (click)="filterEnabled = !filterEnabled"
                [ngClass]="{active: filterEnabled}">
                <span class="glyphicon glyphicon-filter"></span>
            </button>
        </div>
    </div>
    
    <!-- Tree -->
    <div class="panel-body vbox">
        <class-tree [rendering]="rendering" [showDeprecated]="showDeprecated" [filterEnabled]="filterEnabled" [roots]="roots" 
            [context]="context" (nodeSelected)="onNodeSelected($event)"></class-tree>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)" [roles]="[panelRole]" [context]="context"></search-bar>
    </div>
    
</div>