<div class="card card-alt">
    
    <div class="card-header">
        <label style="flex: 1">{{predicate.getShow()}}</label>
    </div>
    
    <div class="card-body">

        <ng-container [ngSwitch]="category">
            <ng-container *ngSwitchCase="'geospatial'">
                <map-renderer *ngFor="let v of customViews" [view]="v" [subject]="resource" [predicate]="predicate" [readonly]="v.readonly || readonly" (update)="onUpdate()" (doubleClick)="onDblClick($event)"></map-renderer>
            </ng-container>
            <ng-container *ngSwitchCase="'statistical_series'">
                <charts-renderer *ngFor="let v of customViews" [view]="v" [subject]="resource" [predicate]="predicate" [readonly]="v.readonly || readonly" (update)="onUpdate()" (doubleClick)="onDblClick($event)"></charts-renderer>
            </ng-container>
            <ng-container *ngSwitchCase="'single_value'">
                <single-value-renderer *ngFor="let v of customViews" [view]="v" [subject]="subject" [predicate]="predicate" [readonly]="readonly" (update)="onUpdate()" (doubleClick)="onDblClick($event)"></single-value-renderer>
            </ng-container>
            <ng-container *ngSwitchCase="'vector'">
                <cv-table-renderer *ngSwitchCase="'vector'" [views]="customViews" [subject]="subject" [predicate]="predicate" [readonly]="readonly" (update)="onUpdate()" (doubleClick)="onDblClick($event)"></cv-table-renderer>
            </ng-container>
        </ng-container>

    </div>

</div>