<div class="card card-alt">
    
    <div class="card-header">
        <label style="flex: 1">{{predicate.getShow()}}</label>
        <!-- <div class="btn-group" ngbDropdown>
            <button class="btn btn-xs btn-light predObjRenderPanelBtn" style="padding: 3px 6px;" (click)="addValue()" [title]="'ACTIONS.ADD'|translate" [disabled]="addDisabled">
                <span class="fas fa-plus fa-sm"></span>
            </button>
            <button class="btn btn-xs btn-light dropdown-toggle predObjRenderPanelBtn" style="padding: 3px;" data-toggle="dropdown" ngbDropdownToggle [disabled]="actionMenuDisabled">
                <span class="fas fa-caret-down fa-sm"></span>
            </button>
            <div class="dropdown-menu float-right" ngbDropdownMenu>
                <a *ngIf="addManuallyAllowed" class="dropdown-item" [ngClass]="{ disabled: addDisabled }"(click)="addManually()">{{'RESOURCE_VIEW.ACTIONS.ADD_VALUE_MANUALLY'|translate}}</a>
                <a *ngIf="addExteranlResourceAllowed" class="dropdown-item" [ngClass]="{ disabled: addDisabled }" (click)="addExternalValue()">{{'RESOURCE_VIEW.ACTIONS.ADD_VALUE_FROM_ANOTHER_PROJ'|translate}}</a>
                <a class="dropdown-item" [ngClass]="{ disabled: deleteAllDisabled }" (click)="removeAllValues()">{{'RESOURCE_VIEW.ACTIONS.DELETE_ALL_VALUES'|translate}}</a>
            </div>
        </div> -->

    </div>
    
    <div class="card-body">

        <ng-container [ngSwitch]="category">
            <ng-container *ngSwitchCase="'geospatial'">
                <map-renderer *ngFor="let v of customViews" [view]="v" [subject]="resource" [predicate]="predicate" [readonly]="readonly" (update)="onUpdate()" (doubleClick)="onDblClick($event)"></map-renderer>
            </ng-container>
            <ng-container *ngSwitchCase="'statistical_series'">
                <charts-renderer *ngFor="let v of customViews" [view]="v" [subject]="resource" [predicate]="predicate" [readonly]="readonly" (update)="onUpdate()" (doubleClick)="onDblClick($event)"></charts-renderer>
            </ng-container>
            <ng-container *ngSwitchCase="'single_value'">
                <single-value-renderer *ngFor="let v of customViews" [view]="v" [subject]="subject" [predicate]="predicate" [readonly]="readonly" (update)="onUpdate()" (doubleClick)="onDblClick($event)"></single-value-renderer>
            </ng-container>
            <ng-container *ngSwitchCase="'vector'">
                <cv-table-renderer *ngSwitchCase="'vector'" [views]="customViews" [subject]="subject" [predicate]="predicate" [readonly]="readonly" (update)="onUpdate()" (doubleClick)="onDblClick($event)"></cv-table-renderer>
            </ng-container>
        </ng-container>

    </div>

</div>