<div class="vbox">

    <div class="card card-default vbox">
        <div class="card-header">
            <label>Create project:</label>
        </div>

        <div class="card-body scrollableContainer">

            <div class="form-group row">
                <label class="col-form-label col-sm-1">Project Name:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" [(ngModel)]="projectName"
                        placeholder="Project name" (ngModelChange)="onProjectNameChange()" sanitized>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-1">Optional data preloading:</label>
                <div class="col-sm-3">
                    <select class="form-control" [(ngModel)]="selectedPreloadOpt" (ngModelChange)="onPreloadChange()">
                        <option *ngFor="let p of preloadOptList">{{p}}</option>
                    </select>
                </div>
                <div *ngIf="selectedPreloadOpt != preloadOptNone" class="col-sm-5">
                    <div class="hbox" style="align-items: center">
                        <div *ngIf="selectedPreloadOpt == preloadOptFromLocalFile" class="hbox" style="align-items: center">
                            <file-picker (fileChanged)="preloadFromFileChanged($event)" [file]="preloadFile" [accept]="filePickerAccept"></file-picker>
                            <label style="margin-left: 8px;">Format:</label>
                            <select class="form-control" style="margin-left: 5px; width: initial" [(ngModel)]="selectedInputFormat">
                                <option *ngFor="let f of inputFormats" [ngValue]="f">{{f.name}}</option>
                            </select>
                            <button class="btn btn-light" (click)="preloadFromFile()" [disabled]="!preloadFile" style="margin-left: 10px;">Preload</button>
                        </div>

                        <div *ngIf="selectedPreloadOpt == preloadOptFromURI" class="input-group" style="flex: 1;">
                            <input type="text" class="form-control" [(ngModel)]="preloadUri">
                            <div class="input-group-append">
                                <button class="btn btn-light" (click)="preloadFromUri()" [disabled]="!preloadUri || preloadUri.trim() == ''">Preload</button>
                            </div>
                        </div>

                        <div *ngIf="selectedPreloadOpt == preloadOptFromDatasetCatalog" class="input-group" style="flex: 1;">
                            <input type="text" class="form-control" [(ngModel)]="preloadCatalog" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-light" (click)="preloadFromDatasetCatalog()">
                                    <span class="fas fa-pencil-alt"></span>
                                </button>
                            </div>
                        </div>
                        <div style="margin-left: 8px; font-size: 15px;">
                            <ng-container *ngIf="preloadedData?.option == selectedPreloadOpt && preloadedData?.summary; then preloadDone; else preloadNotDone"></ng-container>
                            <ng-template #preloadDone>
                                <span class="far fa-check-circle" title="Data loaded correctly"></span>
                            </ng-template>
                            <ng-template #preloadNotDone>
                                <span class="fas fa-exclamation-triangle" title="Data not loaded"></span>    
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedPreloadOpt != preloadOptNone" class="col-sm-3">
                    <div class="hbox" style="align-items: center;">
                        <label>Transitive imports:</label>
                        <select class="form-control" style="margin-left: 5px;" [(ngModel)]="selectedImportAllowance">
                            <option *ngFor="let ia of importAllowances" [value]="ia.allowance">{{ia.show}}</option>
                        </select>                    
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-1">Base URI:</label>
                <div class="col-sm-11">

                    <div class="hbox" style="align-items: center">
                        <input type="text" class="form-control" [(ngModel)]="baseUri" [readonly]="baseUriLocked">
                        <div *ngIf="preloadedData?.summary" style="margin-left: 4px;">
                            <button *ngIf="baseUriForced" class="btn btn-light" [ngClass]="{ active : baseUriLocked }" (click)="baseUriLocked = !baseUriLocked"
                                title="This selection has been automatically determined on the basis of the preloaded data; modify it only if you know what you are doing">
                                <span class="fas fa-lock"></span>
                            </button>
                            <span *ngIf="!baseUriForced" class="fas fa-exclamation-triangle" title="Preload operation could not determine the baseURI. Please provide it manually"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-1">Model:</label>
                <div class="col-sm-3">
                    <div class="hbox" style="align-items: center">
                        <select class="form-control" [(ngModel)]="ontoModelType" (ngModelChange)="onOntoModelChanged()" [disabled]="ontoModelLocked">
                            <option *ngFor="let om of ontoModelList" [ngValue]="om.value">{{om.label}}</option>
                        </select>
                        <div *ngIf="preloadedData?.summary" style="margin-left: 4px;">
                            <button *ngIf="ontoModelForced" class="btn btn-light" [ngClass]="{ active : ontoModelLocked }" (click)="ontoModelLocked = !ontoModelLocked"
                                title="This selection has been automatically determined on the basis of the preloaded data; modify it only if you know what you are doing">
                                <span class="fas fa-lock"></span>
                            </button>
                            <span *ngIf="!ontoModelForced" class="fas fa-exclamation-triangle" title="Preload operation could not determine the model. Please provide it manually"></span>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="!isEdoalProject(); else edoalBlock">
                    <label class="col-form-label col-sm-1">Lexicalization:</label>
                    <div class="col-sm-4">
                        <div class="hbox" style="align-items: center">
                            <select class="form-control" [(ngModel)]="lexicalModelType" [disabled]="(isOntoModelOntolex() && !lexicalModelForced) || lexicalModelLocked">
                                <option *ngFor="let lm of lexicalModelList" [ngValue]="lm.value">{{lm.label}}</option>
                            </select>
                            <div *ngIf="preloadedData?.summary" style="margin-left: 4px;">
                                <button *ngIf="lexicalModelForced" class="btn btn-light" [ngClass]="{ active : lexicalModelLocked }" (click)="lexicalModelLocked = !lexicalModelLocked"
                                    title="This selection has been automatically determined on the basis of the preloaded data; modify it only if you know what you are doing">
                                    <span class="fas fa-lock"></span>
                                </button>
                                <span *ngIf="!lexicalModelForced" class="fas fa-exclamation-triangle" title="Preload operation could not determine the lexical model. Please provide it manually"></span>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #edoalBlock>
                    <label class="col-form-label col-sm-1">
                        Left/Right:
                        <span class="fas fa-info-circle" title="Due to technology limitations, the left dataset must be remote"></span>
                    </label>
                    <div class="col-sm-4">
                        <div class="hbox" style="align-items: center">
                            <select class="form-control" [(ngModel)]="leftProject" (ngModelChange)="updateRightProjectList()">
                                <option *ngFor="let p of leftProjectList" [ngValue]="p">{{p.getName()}}</option>
                            </select>
                            <span style="margin: 0px 4px; font-size: 14px;">/</span>
                            <select class="form-control" [(ngModel)]="rightProject" [disabled]="!leftProject">
                                <option *ngFor="let p of rightProjectList" [ngValue]="p">{{p.getName()}}</option>
                            </select>
                        </div>
                    </div>
                </ng-template>
                <div class="col-sm-3 d-flex align-items-center justify-items-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="history">
                        <label class="form-check-label">
                            History
                            <span class="fas fa-info-circle ml-1" title="Enable this to keep track of the changes made on the working graph"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline ml-3">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="validation" (input)="blacklisting=false">
                        <label class="form-check-label">
                            Validation
                            <span class="fas fa-info-circle ml-1" title="Enable this to keep track of change requests in order to validate them later (accepting or rejecting)"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline ml-3">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="blacklisting" [disabled]="!validation">
                        <label class="form-check-label">
                            Blacklisting
                            <span class="fas fa-info-circle ml-1" title="Enable this to blacklist terms that have been rejected through validation"></span>
                        </label>
                    </div>
                </div>
            </div>

            <!--Triple store configuration-->
            <div class="card card-alt mb-2">
                <div class="card-header">
                    <label>Data Store</label>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Repository Access:</label>
                        <div class="col-sm-10">
                            <div class="hbox">
                                <select class="form-control" style="flex: 4" [(ngModel)]="selectedRepositoryAccess" (ngModelChange)="onRepoAccessChange()">
                                    <option *ngFor="let repoAcc of repositoryAccessList" [ngValue]="repoAcc">{{repoAcc}}</option>
                                </select>
                                <div *ngIf="isSelectedRepoAccessRemote()" class="input-group ml-2" style="flex: 1; min-width: 210px;">
                                    <select class="form-control" [(ngModel)]="selectedRemoteRepoConfig">
                                        <option *ngFor="let c of remoteRepoConfigs" [ngValue]="c">{{c.serverURL}}</option>
                                    </select>
                                    <span class="input-group-append">
                                        <button class="btn btn-light" (click)="configureRemoteRepositoryAccess()">
                                            <span class="fas fa-pencil-alt"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Data repo -->
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Data Repository ID</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="dataRepoId"
                                    placeholder="Data Repository ID" [disabled]="isSelectedRepoAccessCreateMode()">
                                <span class="input-group-append">
                                    <button class="btn btn-light" type="button" (click)="changeRemoteRepository('data')"
                                        title="Select remote repository" [disabled]="isSelectedRepoAccessCreateMode()">
                                        <span class="fas fa-folder-open"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <ng-container *ngIf="isSelectedRepoAccessCreateMode()">
                            <div class="col-form-label col-sm-1">
                                <label>Configuration</label>
                            </div>
                            <div class="col-sm-5">
                                <extension-configurator #dataRepoConfigurator *ngIf="dataRepoExtensions"
                                    [extensions]="dataRepoExtensions" [storeable]="false"
                                    (extensionUpdated)="selectedDataRepoExtension = $event"
                                    (configurationUpdated)="selectedDataRepoConfig = $event">
                                </extension-configurator>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!isSelectedRepoAccessCreateMode()">
                            <div class="col-form-label col-sm-1">
                                <label>Backend type</label>
                            </div>
                            <div class="col-sm-5">
                                <select class="form-control" [(ngModel)]="selectedCoreRepoBackendType">
                                    <option *ngFor="let bt of backendTypes" [value]="bt">{{bt}}</option>
                                </select>
                            </div>
                        </ng-container>
                    </div>

                    <!-- Support repo -->

                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">History/Validation Repository ID</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="supportRepoId"
                                    placeholder="History/Validation Repository ID" [disabled]="isSelectedRepoAccessCreateMode() || !(history || validation)">
                                <span class="input-group-append">
                                    <button class="btn btn-light" type="button" (click)="changeRemoteRepository('support')"
                                        title="Select remote repository" [disabled]="isSelectedRepoAccessCreateMode() || !(history || validation)">
                                        <span class="fas fa-folder-open"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <ng-container *ngIf="isSelectedRepoAccessCreateMode()">
                            <div class="col-form-label col-sm-1" style="white-space: nowrap">
                                <label>Configuration</label>
                                <span class="fas fa-info-circle ml-2" title="It is highly recommended not to use inference"></span>
                            </div>
                            <div class="col-sm-5">
                                <extension-configurator #supportRepoConfigurator *ngIf="supportRepoExtensions"
                                    [extensions]="supportRepoExtensions" [storeable]="false" [disabled]="!(history || validation)"
                                    (extensionUpdated)="selectedSupportRepoExtension = $event"
                                    (configurationUpdated)="selectedSupportRepoConfig = $event">
                                </extension-configurator>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!isSelectedRepoAccessCreateMode()">
                            <div class="col-form-label col-sm-1">
                                <label>Backend type</label>
                            </div>
                            <div class="col-sm-5">
                                <select class="form-control" [(ngModel)]="selectedSupportRepoBackendType" [disabled]="!(history || validation)">
                                    <option *ngFor="let bt of backendTypes" [value]="bt">{{bt}}</option>
                                </select>
                            </div>
                        </ng-container>
                    </div>

                </div>
            </div>

            <!--Extention points configuration-->
            <div class="card card-alt mb-2">
                <div class="card-header">
                    <div class="expandCollapseBtnContainer">
                        <img src="../../../assets/images/icons/arrow.png" (click)="extPointPanelOpen = !extPointPanelOpen"
                            [ngClass]="{'arrow-right' : !extPointPanelOpen}">
                    </div>
                    <label style="flex: 1">Optional settings:</label>
                </div>
                <div class="card-body" *ngIf="extPointPanelOpen">

                    <div class="card card-alt mb-2">
                        <div class="card-header">
                            <label style="flex: 1;">URI Generator</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="uriGenUseDefaultSetting">
                                <label class="form-check-label">Use default settings</label>
                            </div>
                        </div>
                        <div class="card-body">
                            <ng-container *ngIf="!uriGenUseDefaultSetting">
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-1">Plugin:</label>
                                    <div class="col-sm-11">
                                        <select class="form-control" [(ngModel)]="selectedUriGenPlugin" (ngModelChange)="onUriGenPluginChanged()">
                                            <option *ngFor="let ugp of uriGenPluginList" [ngValue]="ugp">
                                                {{ugp.factoryID.substring(ugp.factoryID.lastIndexOf('.')+1)}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-1">Configuration:</label>
                                    <div class="col-sm-11">
                                        <div class="input-group">
                                            <select class="form-control" [(ngModel)]="selectedUriGenPluginConf">
                                                <option *ngFor="let ugpConf of selectedUriGenPluginConfList" [ngValue]="ugpConf">
                                                    {{ugpConf.shortName}}
                                                </option>
                                            </select>
                                            <span class="input-group-append">
                                                <button class="btn btn-light" (click)="configureUriGenConf()">Configure</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="card card-alt mb-2">
                        <div class="card-header">
                            <label style="flex: 1;">Rendering Engine</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="rendEngUseDefaultSetting">
                                <label class="form-check-label">Use default settings</label>
                            </div>
                        </div>
                        <div class="card-body">
                            <ng-container *ngIf="!rendEngUseDefaultSetting">
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-1">Plugin:</label>
                                    <div class="col-sm-11">
                                        <select class="form-control" [(ngModel)]="selectedRendEngPlugin" (ngModelChange)="onRendEnginePluginChanged()"
                                            [disabled]="rendEngUseDefaultSetting">
                                            <option *ngFor="let rep of rendEngPluginList" [ngValue]="rep">
                                                {{rep.factoryID.substring(rep.factoryID.lastIndexOf('.')+1)}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-1">Configuration:</label>
                                    <div class="col-sm-11">
                                        <div class="input-group">
                                            <select class="form-control" [(ngModel)]="selectedRendEngPluginConf" [disabled]="rendEngUseDefaultSetting">
                                                <option *ngFor="let repConf of selectedRendEngPluginConfList" [ngValue]="repConf">
                                                    {{repConf.shortName}}
                                                </option>
                                            </select>
                                            <span class="input-group-append">
                                                <button class="btn btn-light" (click)="configureRendEngConf()" [disabled]="rendEngUseDefaultSetting">Configure</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="card card-alt mb-2">
                        <div class="card-header">
                            <label style="flex: 1;">Resource Metadata</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="useResourceMetadata">
                                <label class="form-check-label">
                                    Use Resource Metadata
                                    <span class="fas fa-info-circle ml-1" title="Usage of Resource Metadata can be enabled also after the project creation"></span>
                                </label>
                            </div>
                        </div>
                        <div class="card-body">
                            <ng-container *ngIf="useResourceMetadata">
                                <table class="table table-sm table-borderless">
                                    <colgroup>
                                        <col style="width: 1%;">
                                        <col>
                                        <col style="width: 1%;">
                                        <col>
                                        <col style="width: 1%;">
                                        <col style="width: 1%;">
                                    </colgroup>
                                    <tbody>
                                        <tr *ngFor="let ma of metadataAssociations; let last = last">
                                            <td class="text-rigth" nowrap>
                                                <label>Resource Type:</label>
                                            </td>
                                            <td>
                                                <select class="form-control" [(ngModel)]="ma.role">
                                                    <option *ngFor="let r of resourceTypes" [ngValue]="r">{{r.show}}</option>
                                                </select>
                                            </td>
                                            <td class="text-rigth" nowrap>
                                                <label>Pattern:</label>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input class="form-control" [ngModel]="ma.pattern?.name" readonly>
                                                    <span class="input-group-append">
                                                        <button class="btn btn-light" (click)="selectMetadataPattern(ma)">
                                                            <span class="fas fa-pencil-alt"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn btn-xs btn-light" (click)="removeMetadataAssociation(ma)">
                                                    <span class="far fa-trash-alt"></span>
                                                </button>
                                            </td>
                                            <td>
                                                <button *ngIf="last" class="btn btn-xs btn-light" (click)="addMetadataAssociation()">
                                                    <span class="fas fa-plus"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ng-container>
                        </div>
                    </div>

                    <div class="card card-alt mb-2">
                        <div class="card-header">
                            <label style="flex: 1;">SHACL Shape Validation</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="enableSHACL" (ngModelChange)="onShacleEnableChange()">
                                <label class="form-check-label">Enable shape validation</label>
                            </div>
                        </div>
                        <div class="card-body">
                            <ng-container *ngIf="enableSHACL">
                                <settings-renderer *ngIf="isSelectedRepoAccessCreateMode() && shaclSettings" [(ngModel)]="shaclSettings" [disabled]="!enableSHACL">
                                </settings-renderer>
                                <div *ngIf="!isSelectedRepoAccessCreateMode()" class="alert alert-warning">
                                    <span class="fas fa-exclamation-triangle"></span>
                                    You should check that the existing repository being accessed actually supports SHACL with the desired settings.
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="card card-alt">
                        <div class="card-header">
                            <label style="flex: 1;">Trivial Inference Engine</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="enableTrivialInference">
                                <label class="form-check-label">Enable trivial inference</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-light float-right" (click)="create()">Create</button>
            <span class="clearfix"></span>
        </div>
    </div>

</div>