<div class="card card-default vbox">
    <div class="card-header">
        <label style="flex: 1;">Visualization tools:</label>
    </div>
    <div class="card-body hbox">

        <div class="card card-alt vbox">
            <div class="card-header">
                <label style="flex: 1">Widgets:</label>
                <div class="btn-toolbar">
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-light" [title]="'ACTIONS.CREATE'|translate" (click)="createWidget()" [disabled]="!createWidgetAuthorized">
                            <span class="fas fa-plus"></span>
                        </button>
                        <button class="btn btn-light" [title]="'ACTIONS.DELETE'|translate" [disabled]="!selectedWidget || !deleteWidgetAuthorized">
                            <span class="fas fa-minus"></span>
                        </button>
                        <button class="btn btn-light" [title]="'ACTIONS.EDIT'|translate" (click)="editWidget()" [disabled]="!selectedWidget || !modifyWidgetAuthorized">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body vbox scrollableContainer">
                <table class="table table-sm table-borderless table-hoverable">
                    <thead style="border-bottom: 1px solid #ddd;">
                        <tr>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let w of widgets" (click)="selectedWidget = w" [ngClass]="{ 'table-primary': w == selectedWidget }">
                            <td>{{w.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card card-alt vbox ml-2">
            <div class="card-header">
                <label style="flex: 1">Triggers:</label>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-light" [title]="'ACTIONS.CREATE'|translate" (click)="createAssociation()" [disabled]="!createAssociationAuthorized">
                        <span class="fas fa-plus"></span>
                    </button>
                    <button class="btn btn-light" [title]="'ACTIONS.DELETE'|translate" (click)="deleteAssociation()" [disabled]="!selectedAssociation || !deleteAssociationAuthorized">
                        <span class="fas fa-minus"></span>
                    </button>
                </div>
            </div>
            <div class="card-body vbox scrollableContainer">
                <table class="table table-sm table-borderless table-hoverable">
                    <thead style="border-bottom: 1px solid #ddd;">
                        <tr>
                            <th>Predicate</th>
                            <th>Widget</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of associations" (click)="selectedAssociation = a" [ngClass]="{ 'table-primary': a == selectedAssociation }">
                            <td>{{a.trigger.getURI()}}</td>
                            <td>{{a.widget.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <span class="grayText float-right">{{'RESOURCE_METADATA.PATTERN_FACTORY_PROVIDED'|translate}}</span>
    </div>

</div>