
<ng-container *ngIf="viewInitialized && series">
    <bar-chart *ngIf="activeWidget=='bar'" [chartData]="series" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (doubleClick)="onDoubleClick($event)" (dataChanged)="onDataChanged($event)"></bar-chart>
    <pie-chart *ngIf="activeWidget=='pie'" [chartData]="series" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (doubleClick)="onDoubleClick($event)" (dataChanged)="onDataChanged($event)"></pie-chart>
</ng-container>

<select class="form-control form-control-sm ml-2" style="width: initial;" [(ngModel)]="activeWidget" (ngModelChange)="onWidgetChanged()">
    <option *ngFor="let w of compliantWidgets">{{w}}</option>
</select>