<div class="card card-default vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">Dangling xLabels</label>
        <button class="btn btn-xs btn-light" (click)="runIcv()">Run</button>
    </div>
    <div class="card-body vbox">
        
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <i>
                skosxl:Label(s) that are not linked with any skos:Concept.
            </i>
        </div>

        <div *ngIf="!brokenLabelList" style="padding: 4px;">
            Press <strong>Run</strong> button to run the check.
        </div>
        
        <div *ngIf="brokenLabelList" class="scrollableContainer">
            <table class="table table-sm table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">XLabel</th>
                        <th class="text-center" style="width: 1%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let label of brokenLabelList">
                        <td>
                            <rdf-resource [resource]="label"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-light" (click)="deleteLabel(label)">Delete label</button>
                            <button class="btn btn-xs btn-light" (click)="assignLabel(label)">Add to a concept</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div  class="dropup float-right">
            <button *ngIf="brokenLabelList && brokenLabelList.length != 0" class="btn btn-light btn-xs" type="button"
                (click)="deleteAllLabel()">
                Delete all
            </button>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>