<div class="modal-header">
    <h3 class="modal-title">
        {{'COLLABORATION.COLLABORATION_SYSTEM_CONFIG'|translate}}
    </h3>
</div>
<div class="modal-body scrollableContainer blockingDivHost">

    <div class="hbox" style="align-items: center; margin: 4px;">
        <label style="margin-right: 4px; white-space: nowrap">{{'COLLABORATION.BACKEND_TYPE'|translate}}:</label>
        <select class="form-control form-control-sm" [(ngModel)]="selectedExtension" (ngModelChange)="onExtensionChange()">
            <option *ngFor="let ext of extensions" [title]="ext.description" [ngValue]="ext">{{ext.name}}</option>
        </select>
        <button *ngIf="resettable" class="btn btn-light btn-sm" style="margin-left: 4px;" (click)="reset()">{{'COMMONS.ACTIONS.RESET'|translate}}</button>
    </div>

    <settings-renderer-panel *ngIf="projSettings" [(ngModel)]="projSettings"></settings-renderer-panel>

    <div #blockingDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <span class="float-left">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkClickable()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
</div>