<div class="hbox">

    <ng-container *ngIf="searchSettings.useAutocompletion">
        <div style="flex: 1;" (keydown.enter)="doSearch()">
            <ng-autocomplete #autocompleter [(ngModel)]="searchStr" (inputChanged)='onChangeSearch()'
                [placeHolder]="'ACTIONS.SEARCH'|translate" minQueryLength="2" debounceTime="500"
                [data]="completerData" [isLoading]="isCompleterLoading" [itemTemplate]="itemTemplate" [disabled]="disabled">
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item"></a>
            </ng-template>
        </div>
    </ng-container>
    <input *ngIf="!searchSettings.useAutocompletion" type="text" class="form-control form-control-sm" style="flex: 1;" 
        [(ngModel)]="searchStr" (keydown.enter)="doSearch()" [placeholder]="'ACTIONS.SEARCH'|translate" [disabled]="disabled">

    <div class="btn-group btn-group-xs dropup ml-2" ngbDropdown placement="top-right">
        <button class="btn btn-light" type="button" (click)="doSearch()" [disabled]="disabled">
            <span class="fas fa-search"></span>
        </button>
        <ng-container *ngIf="showOtherSearch()">
            <button class="btn btn-light dropdown-toggle pl-1 pr-1" data-toggle="dropdown" ngbDropdownToggle>
                <span class="fas fa-caret-up"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="advancedSearch()">{{'SEARCH.ADV_SEARCH.ADVANCED_SEARCH'|translate}}</a>
                <a class="dropdown-item" (click)="customSearch()">{{'SEARCH.CUSTOM_SEARCH.CUSTOM_SEARCH'|translate}}</a>
            </div>
        </ng-container>
    </div>

    <div class="btn-group btn-group-xs dropup ml-2" ngbDropdown>
        <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle
            style="border-radius: 0px; padding-left: 3px; padding-right: 3px; border-right: 1px; width: 24px;">
            <span *ngIf="searchSettings.stringMatchMode == 'startsWith'" style="font-weight: bold; font-size: 14px; line-height: 1;">&#945;..</span>
            <span *ngIf="searchSettings.stringMatchMode == 'contains'" style="font-weight: bold; font-size: 14px; line-height: 1;">.&#945;.</span>
            <span *ngIf="searchSettings.stringMatchMode == 'endsWith'" style="font-weight: bold; font-size: 14px; line-height: 1;">..&#945;</span>
            <span *ngIf="searchSettings.stringMatchMode == 'exact'" style="font-weight: bold; font-size: 14px; line-height: 1;">&#945;</span>
            <span *ngIf="searchSettings.stringMatchMode == 'fuzzy'" style="font-weight: bold; font-size: 14px; line-height: 1; width: 16px">~&#945;</span>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <a *ngFor="let mode of stringMatchModes" class="dropdown-item" (click)="updateSearchMode(mode.value, $event)">
                <span style="font-weight: bold; font-size: 13px; display: inline-block; width: 24px;" class="mr-2">{{mode.symbol}}</span>
                <span>{{mode.labelTranslationKey|translate}}</span>
                <span *ngIf="searchSettings.stringMatchMode == mode.value" class="fas fa-check ml-3"></span>
            </a>
        </div>

        <button class="btn btn-light" type="button" (click)="editSettings()">
            <span class="fas fa-cog"></span>
        </button>
    </div>
</div>