<div class="vbox">

    <ul class="nav nav-tabs" (click)="$event.preventDefault()">
        <li [ngClass]="{active : currentRoute == 'customService', disabled: !csAuthorized }">
            <a (click)="currentRoute = 'customService'">Custom Service</a>
        </li>
        <li [ngClass]="{active : currentRoute == 'reporter', disabled: !reporterAuthorized }">
            <a (click)="currentRoute = 'reporter'">Reporter</a>
        </li>
    </ul>

    <!--Tabs content-->
    <div class="tab-content">
        <div *ngIf="csAuthorized" [ngClass]="{vbox : currentRoute == 'customService'}" [hidden]="currentRoute != 'customService'">
            <custom-services-component></custom-services-component>
        </div>
        <div *ngIf="reporterAuthorized" [ngClass]="{vbox : currentRoute == 'reporter'}" [hidden]="currentRoute != 'reporter'">
            <invokable-reporters-component></invokable-reporters-component>
        </div>
    </div>
</div>