<div *ngIf="tabs.length > 0" class="vbox">
    <!--Tabs navigation-->
    <ul class="nav nav-tabs">
        <li *ngFor="let t of tabs" class="nav-item" [ngClass]="{active : t.active}">
            <a (click)="selectTab(t, 'true')" class="nav-link" style="display: flex; align-items: center;">
                <rdf-resource [resource]="t.resource" [rendering]="t.rendering"></rdf-resource>
                <span #closeTabBtn class="far fa-times-circle clickable" (click)="closeTab(t)"
                    (mouseover)="closeTabBtn.classList.add('fas'); closeTabBtn.classList.remove('far')" 
                    (mouseout)="closeTabBtn.classList.add('far'); closeTabBtn.classList.remove('fas')">
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a (click)="promptAddress()" class="nav-link clickable px-2" [title]="'RESOURCE_VIEW.ACTIONS.OPEN_RES_IN_NEW_TAB'|translate">
                <span class="fas fa-plus" style="line-height: 1.5; border: 1px solid transparent;"></span>
            </a>
        </li>
        <li class="nav-item ml-auto">
            <a #closeAllTabsBtn (click)="closeAllTabs()" class="nav-link clickable px-2" [title]="'RESOURCE_VIEW.ACTIONS.CLOSE_ALL_TABS'|translate"
                (mouseover)="closeAllTabsBtn.classList.add('bg-danger'); closeAllTabsBtn.classList.add('text-white')" 
                (mouseout)="closeAllTabsBtn.classList.remove('bg-danger'); closeAllTabsBtn.classList.remove('text-white')">
                <span class="fas fa-times" style="line-height: 1.5; border: 1px solid transparent;"></span>
            </a>
        </li>
    </ul>
    <!--Tabs content-->
    <div class="tab-content">
        <div *ngFor="let t of tabs" [ngClass]="{vbox : t.active}" [hidden]="!t.active">
            <resource-view [resource]="t.resource" (dblclickObj)="objectDblClick($event)" (update)="onResourceUpdate($event, t)" (renderingChanged)="t.rendering = $event"></resource-view>
        </div>
    </div>
</div>