<div *ngIf="tabs.length > 0" class="vbox">
    <!--Tabs navigation-->
    <ul class="nav nav-tabs">
        <li *ngFor="let t of tabs" class="nav-item" [ngClass]="{active : t.active}">
            <a (click)="selectTab(t, 'true')" class="nav-link" style="display: flex; align-items: center;">
                <rdf-resource [resource]="t.resource" [rendering]="t.rendering"></rdf-resource>
                <span class="far fa-times-circle" (click)="closeTab(t)" style="cursor: pointer;"
                    onmouseover="this.className='fas fa-times-circle';"
                    onmouseout="this.className='far fa-times-circle';">
                </span>
            </a>
        </li>
        <!-- style top necessary to align the bottom of this tab with the others (since this is smaller) -->
        <li *ngIf="tabs.length > 1" class="nav-item">
            <a (click)="closeAllTabs()" class="nav-link px-2" [title]="'RESOURCE_VIEW.MISC.CLOSE_ALL_TABS'|translate"
                onmouseover="this.style.color='#555'" onmouseout="this.style.color='#337ab7'">
                <span class="fas fa-times" style="line-height: 1.5; border: 1px solid transparent;"></span>
            </a>
        </li>
    </ul>
    <!--Tabs content-->
    <div class="tab-content">
        <div *ngFor="let t of tabs" [ngClass]="{vbox : t.active}" [hidden]="!t.active">
            <resource-view [resource]="t.resource" (dblclickObj)="objectDblClick($event)" (update)="onResourceUpdate($event, t)" (renderingChanged)="t.rendering = $event"></resource-view>
        </div>
    </div>
</div>