<div class="modal-header">
    <h3 class="modal-title">Create task</h3>
</div>
<div class="modal-body vbox scrollableContainer">

    <div>
        <div class="col-sm-6 text-center">
            <label>Left project</label>
        </div>
        <div class="col-sm-6 text-center">
            <label>Left project</label>
        </div>
    </div>
    <div style="margin-top: 8px;">
        <div class="col-sm-6">
            <div class="hbox" style="align-items: center;">
                <input class="form-control input-sm" [ngModel]="leftProjectStruct.project.getName()" readonly>
                <button class="btn btn-sm btn-default" style="margin-left: 4px;" (click)="profileProject(leftProjectStruct)" title="Profile project">
                    <span class="glyphicon glyphicon-align-right" style="transform: rotate(90deg)"></span>
                </button>
                <div style="margin-left: 4px;">
                    <span *ngIf="leftProjectStruct.profileAvailable" class="glyphicon glyphicon-ok" title="Metadata profile available"></span>
                    <span *ngIf="!leftProjectStruct.profileAvailable" class="glyphicon glyphicon-remove" title="Metadata profile not available"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="hbox" style="align-items: center;">
                <select class="form-control input-sm" [(ngModel)]="selectedRightProject" 
                    (ngModelChange)="onRightProjectChange()" [disabled]="context.rightProject">
                    <ng-container *ngFor="let p of projectList">
                        <option *ngIf="p.getName() != leftProjectStruct.project.getName()" [ngValue]="p">{{p.getName()}}</option>
                    </ng-container>
                </select>
                <button *ngIf="rightProjectStruct" class="btn btn-sm btn-default" style="margin-left: 4px;" 
                    (click)="profileProject(rightProjectStruct)" title="Profile project">
                    <span class="glyphicon glyphicon-align-right" style="transform: rotate(90deg)"></span>
                </button>
                <div *ngIf="rightProjectStruct" style="margin-left: 4px;">
                    <span *ngIf="rightProjectStruct.profileAvailable" class="glyphicon glyphicon-ok" title="Metadata profile available"></span>
                    <span *ngIf="!rightProjectStruct.profileAvailable" class="glyphicon glyphicon-remove" title="Metadata profile not available"></span>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 8px;">
        <div class="col-sm-12 text-center">
            <button class="btn btn-sm btn-info" (click)="profileMatching()" [disabled]="!isProfileEnabled()">Profile matching</button>
        </div>
    </div>

    <div *ngIf="refinableTaskReport" class="vbox" style="margin-top: 8px;">
        <div class="hbox" style="flex: initial;">
            <maple-dataset [dataset]="refinableTaskReport.leftDataset" style="flex: 1; margin-right: 6px;"></maple-dataset>
            <maple-dataset [dataset]="refinableTaskReport.rightDataset" style="flex: 1; margin-left: 6px;"></maple-dataset>
        </div>

        <div class="panel panel-default vbox" style="margin-top: 6px;">
            <div class="panel-heading">
                <label>Pairings</label>
            </div>
            <div class="panel-body scrollableContainer">
                <div *ngFor="let p of refinablePairings" class="panel panel-default" style="margin: 4px 0px">
                    <div class="panel-body">
                        <div class="hbox" style="align-items: center; justify-content: center;">
                            <lang-item [language]="p.language" size="lg" [showName]="false"></lang-item>
                            <div style="margin-left: 10px;">
                                <div class="text-center">
                                    <span>Score:</span>
                                    <b [title]="p.score">{{p.scoreRound}}</b>
                                </div>
                                <div class="text-center">
                                    <span>Best combined score:</span>
                                    <b [title]="p.bestCombinedScore">{{p.bestCombinedScoreRound}}</b>
                                </div>
                            </div>
                        </div>

                        <div class="groupPanel">
                            <div class="groupPanel-heading">
                                <div class="groupPanel-heading-content">
                                    <label>Synonymizers</label>
                                </div>
                            </div>
                            <div class="groupPanel-body">
                                <div *ngFor="let s of p.synonymizers" class="hbox" style="align-items: center; padding: 2px 4px">
                                    <input type="radio" name="synRadio" [checked]="selectedSynonymizer == s" (click)="selectSynonymizer(p, s)"/>
                                    <lang-item style="margin-left: 12px;" [language]="s.language" [showName]="false"></lang-item>
                                    <i *ngIf="s.lexiconDataset.title" style="margin-left: 12px;">{{s.lexiconDataset.title[0]}}</i>
                                    <div style="margin-left: 10px;">
                                        Score: <b [title]="s.score">{{s.scoreRound}}</b>
                                    </div>
                                    <button class="btn btn-default btn-xs" style="margin-left: 12px;" (click)="describeSynonymizer(s)" title="Details">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

</div>
<div class="modal-footer">
    <div *ngIf="refinableTaskReport && noSynonymizersAvailable" class="alert alert-warning pull-left">
        <span class="glyphicon glyphicon-warning-sign"></span>
        The matching profilation process has not found any pairing with available synonymizers. Cannot create a task.
    </div>
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>

<div #blockingDiv class="blockingDiv" style="display:none">
    <div class="loadingDiv">
        <div>
            <p>Loading...</p><img src="../../../../assets/images/loading.gif" />
        </div>
    </div>
</div>
