<div class="modal-header">
    <h3 class="modal-title">Create task</h3>
</div>
<div class="modal-body vbox scrollableContainer">

    <div>
        <div class="col-sm-6 text-center">
            <label>Left project</label>
        </div>
        <div class="col-sm-6 text-center">
            <label>Left project</label>
        </div>
    </div>
    <div style="margin-top: 8px;">
        <div class="col-sm-6">
            <div class="hbox" style="align-items: center;">
                <input class="form-control input-sm" [ngModel]="leftProjectStruct.project.getName()" readonly>
                <button class="btn btn-sm btn-default" style="margin-left: 4px;" (click)="profileProject(leftProjectStruct)" title="Profile project">
                    <span class="glyphicon glyphicon-align-right" style="transform: rotate(90deg)"></span>
                </button>
                <div style="margin-left: 4px;">
                    <span *ngIf="leftProjectStruct.profileAvailable" class="glyphicon glyphicon-ok" title="Metadata profile available"></span>
                    <span *ngIf="!leftProjectStruct.profileAvailable" class="glyphicon glyphicon-remove" title="Metadata profile not available"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="hbox" style="align-items: center;">
                <select class="form-control input-sm" [(ngModel)]="selectedRightProject" 
                    (ngModelChange)="onRightProjectChange()" [disabled]="context.rightProject">
                    <ng-container *ngFor="let p of projectList">
                        <option *ngIf="p.getName() != leftProjectStruct.project.getName()" [ngValue]="p">{{p.getName()}}</option>
                    </ng-container>
                </select>
                <button *ngIf="rightProjectStruct" class="btn btn-sm btn-default" style="margin-left: 4px;" 
                    (click)="profileProject(rightProjectStruct)" title="Profile project">
                    <span class="glyphicon glyphicon-align-right" style="transform: rotate(90deg)"></span>
                </button>
                <div *ngIf="rightProjectStruct" style="margin-left: 4px;">
                    <span *ngIf="rightProjectStruct.profileAvailable" class="glyphicon glyphicon-ok" title="Metadata profile available"></span>
                    <span *ngIf="!rightProjectStruct.profileAvailable" class="glyphicon glyphicon-remove" title="Metadata profile not available"></span>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 8px;">
        <div class="col-sm-12 text-center">
            <button class="btn btn-sm btn-info" (click)="profileMatching()" [disabled]="!isProfileEnabled()">Profile matching</button>
        </div>
    </div>

    <div *ngIf="alignmentScenario" class="vbox" style="margin-top: 8px;">
        <div class="hbox" style="flex: initial;">
            <maple-dataset [dataset]="alignmentScenario.leftDataset" style="flex: 1; margin-right: 6px;"></maple-dataset>
            <maple-dataset [dataset]="alignmentScenario.rightDataset" style="flex: 1; margin-left: 6px;"></maple-dataset>
        </div>

        <div class="panel panel-default vbox" style="margin-top: 6px;">
            <div class="panel-heading">
                <label>Pairings</label>
            </div>
            <div class="panel-body scrollableContainer">
                <div *ngFor="let p of refinablePairings" class="groupPanel" style="margin: 12px 0px; position: relative;">

                    <div class="groupPanel-heading">
                        <div class="groupPanel-heading-content">
                            <div class="checkbox-inline" title="If checked enable the usage of this pairing">
                                <label>
                                    <input type="checkbox" [(ngModel)]="p.checked" (ngModelChange)="onPairingSelectionChange()">Use
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="groupPanel-body">
                        <div class="hbox" style="align-items: center; justify-content: center;">
                            <lang-item [language]="p.language" size="lg" [showName]="false"></lang-item>
                            <div style="margin-left: 10px;">
                                <div class="text-center">
                                    <span>Score:</span>
                                    <b [title]="p.score">{{p.scoreRound}}</b>
                                </div>
                                <div class="text-center">
                                    <span>Best combined score:</span>
                                    <b [title]="p.bestCombinedScore">{{p.bestCombinedScoreRound}}</b>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="p.synonymizers.length > 0" class="groupPanel">
                            <div class="groupPanel-heading">
                                <div class="groupPanel-heading-content">
                                    <label>
                                        Synonymizers
                                        <span class="glyphicon glyphicon-info-sign" title="Allow the usage of a synonymizer for improving the quality of the alignment"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="groupPanel-body">
                                <div *ngFor="let s of p.synonymizers" class="hbox" style="align-items: center; padding: 2px 4px">
                                    <input type="radio" [checked]="s == p.selectedSynonymizer" (click)="selectSynonymizer(p, s)" [disabled]="!p.checked"/>
                                    <lang-item style="margin-left: 12px;" [language]="s.language" [showName]="false" [disabled]="!p.checked"></lang-item>
                                    <i *ngIf="s.lexiconDataset.title?.length > 0; else noTitleBlock" style="margin-left: 12px;">{{s.lexiconDataset.title[0]}}</i>
                                    <ng-template #noTitleBlock>
                                        <i style="margin-left: 12px;">{{s.lexiconDataset['@id']}}</i>
                                    </ng-template>
                                    <div style="margin-left: 10px;">
                                        Score: <b [title]="s.score">{{s.scoreRound}}</b>
                                    </div>
                                    <button class="btn btn-default btn-xs" style="margin-left: 12px;" (click)="describeSynonymizer(s)" title="Details">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default vbox" style="margin-top: 6px;">
            <div class="panel-heading">
                <label style="flex: 1">Matchers</label>
            </div>
            <div class="panel-body scrollableContainer">

                <ng-container *ngIf="!matchers; then noMatchersBlock; else matchersBlock"></ng-container>

                <ng-template #noMatchersBlock>
                    <div *ngIf="!matchers" class="alert alert-info">
                        Optionally a matcher can be provided to the alignment system.
                        Click <a href="javascript:void(0)" (click)="searchMatchers()"><b>here</b></a> to search for available matchers.
                    </div>
                </ng-template>

                <ng-template #matchersBlock>
                    <div *ngIf="outdatedMatchers && matchers.length > 0" class="alert alert-warning" style="margin-bottom: 8px;">
                        The pairings selection has changed, the list of available matchers could be outdated.
                        Click <a href="javascript:void(0)" (click)="searchMatchers()"><b>here</b></a> to refresh the list.
                    </div>

                    <div *ngFor="let m of matchers" class="groupPanel" style="margin: 12px 0px; position: relative;">
                        <div class="groupPanel-heading">
                            <div class="groupPanel-heading-content">
                                <label class="radio-inline" style="font-weight: bold;" title="If selected use this matcher">
                                    <input type="radio" (click)="selectMatcher(m)" [checked]="selectedMatcher == m">
                                    {{m.id}}
                                    <span *ngIf="m.description" class="glyphicon glyphicon-info-sign" [title]="m.description"></span>
                                </label>
                            </div>
                        </div>
                        <div class="groupPanel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <label>Settings</label>
                                </div>
                                <div class="panel-body">
                                    <ng-container *ngIf="m.settings">
                                        <settings-renderer *ngIf="m.settings.stProperties; else originalSchemaBlock" 
                                            [(ngModel)]="m.settings.stProperties" [disabled]="selectedMatcher != m">
                                        </settings-renderer>
                                        <ng-template #originalSchemaBlock>
                                            <json-editor [(ngModel)]="m.settings.originalSchemaStr" class="CodeMirror-sm" [disabled]="selectedMatcher != m"></json-editor>
                                        </ng-template>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                
            </div>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>

<div #blockingDiv class="blockingDiv" style="display:none">
    <div class="loadingDiv">
        <div>
            <p>Loading...</p><img src="../../../../assets/images/loading.gif" />
        </div>
    </div>
</div>
