<div class="modal-header">
    <h3 class="modal-title text-info">Query parameterization</h3>
</div>
<div class="modal-body vbox" style="min-height: 30vh; max-height: 75vh;">

    <div class="panel panel-default vbox">
        <div class="panel-heading">
            <label style="flex: 1">Query parameters</label>
            <button class="btn btn-xs btn-default" (click)="addBinding()" title="Add binding">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="panel-body table-responsive" style="flex: 1;">
            <table class="table table-condensed table-borderless">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col style="width: 1%">
                </colgroup>
                <thead>
                    <tr>
                        <th>Binding name</th>
                        <th>Binding type</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of bindings">
                        <td><input class="form-control input-sm" [(ngModel)]="b.varName"></td>
                        <td>
                            <select class="form-control input-sm" [(ngModel)]="b.bindingType">
                                <option *ngFor="let t of bindingTypes" [ngValue]="t">{{t.show}}</option>
                            </select>
                        </td>
                        <td>
                            <div *ngIf="b.bindingType?.value=='assignment'; else constraintBlock" class="input-group input-group-sm">
                                <input type="text" class="form-control" [(ngModel)]="b.value" disabled>
                                <div class="input-group-btn">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a (click)="setAssignemntValue(b, 'resource')">Resource</a></li>
                                        <li><a (click)="setAssignemntValue(b, 'typedLiteral')">Typed literal</a></li>
                                        <li><a (click)="setAssignemntValue(b, 'plainLiteral')">Plain literal</a></li>
                                    </ul>
                                </div>
                            </div>
                            <ng-template #constraintBlock>
                                <select *ngIf="b.bindingType?.specialization=='datatype'; else roleBlock" class="form-control input-sm" [(ngModel)]="b.datatype">
                                    <option *ngFor="let d of datatypes" [ngValue]="d">{{d.getShow()}}</option>
                                </select>
                                <ng-template #roleBlock>
                                    <select class="form-control input-sm" [(ngModel)]="b.resourceRole">
                                        <option *ngFor="let r of roles" [value]="r.value">{{r.show}}</option>
                                    </select>
                                </ng-template>
                            </ng-template>
                        </td>
                        <td>
                            <button class="btn btn-default btn-sm" (click)="removeBinding(b)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="bindings.length == 0">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>