<div class="card card-alt vbox">
    <div *ngIf="mode=='sparql'" class="card-header">
        <label style="flex: 1">{{'SPARQL.PARAMETERIZATION.VARIABLE_BINDINGS'|translate}}</label>
        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-xs btn-light" [ngClass]="{ active: showDisplayName }" (click)="showDisplayName = !showDisplayName" 
                [title]="'SPARQL.VARIABLE_BINDINGS_DISPLAY_NAME'|translate">
                <span class="fas fa-eye"></span>
            </button>
            <button *ngIf="configurable" class="btn btn-xs btn-light" (click)="editParameterization()" title="Edit parameterization">
                <span class="fas fa-pencil-alt"></span>
            </button>
        </div>
    </div>
    <div class="card-body vbox table-responsive">
        <table class="table table-sm table-borderless">
            <colgroup>
                <col>
                <col>
                <col style="width: 1%">
            </colgroup>
            <tbody>
                <tr *ngFor="let b of bindingStructs">
                    <!-- In search mode the assignment should not be shown -->
                    <ng-container *ngIf="mode=='sparql' || mode=='search' && b.bindingType != 'assignment'">
                        <td class="text-right" style="margin-right: 2px;">
                            <div *ngIf="mode == 'sparql'; then sparqlModeBlock; else searchModeBlock"></div>
                            <ng-template #sparqlModeBlock>
                                <ng-container *ngIf="showDisplayName">
                                    <label *ngIf="b.displayName">{{b.displayName}}:</label>
                                    <label *ngIf="!b.displayName">{{b.varName}}:</label>
                                </ng-container>
                                <label *ngIf="!showDisplayName">{{b.varName}}:</label>
                            </ng-template>
                            <ng-template #searchModeBlock>
                                <label *ngIf="b.displayName">{{b.displayName}}:</label>
                                <label *ngIf="!b.displayName">{{b.varName}}:</label>
                            </ng-template>
                        </td>

                        <td>
                            <ng-container *ngIf="b.bindingType == 'assignment' && b.value">
                                <input class="form-control form-control-sm" [ngModel]="b.value.toNT()" readonly>
                            </ng-container>
        
                            <ng-container *ngIf="b.bindingType == 'constraint' && b.datatype">
                                <literal-picker [plain]="false" [typed]="true" [datatypes]="[b.datatype]" (literalChanged)="onLiteralChanged(b, $event)">
                                </literal-picker>
                            </ng-container>
        
                            <ng-container *ngIf="b.bindingType == 'constraint' && b.resourceRole">
                                <resource-picker [resource]="b.value" [config]="{ roles: [b.resourceRole] }" [editable]="true" (resourceChanged)="onResourceChanged(b, $event)">
                                </resource-picker>
                            </ng-container>
                        </td>
                        <td *ngIf="b.description"><span class="fas fa-info-circle" [title]="b.description"></span></td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="configurable" class="card-footer">
        <div class="form-check">
            <input class="form-check-input" id="bindingCheck" type="checkbox" [(ngModel)]="useBindings" (ngModelChange)="emitUpdate()">
            <label class="form-check-label" for="bindingCheck">{{'SPARQL.PARAMETERIZATION.USE_VARIABLE_BINDINGS'|translate}}</label>
        </div>
    </div>
</div>