<div class="subPanel vbox">
    <div class="subPanel-heading">
        <label style="flex: 1">Variable bindings</label>
        <button *ngIf="configurable" class="btn btn-xs btn-default" (click)="editParameterization()" title="Edit parameterization">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </div>
    <div class="subPanel-body vbox table-responsive">
        <table class="table table-condensed table-borderless">
            <tbody>
                <tr *ngFor="let b of bindingStructs">
                    <td class="text-right" style="margin-right: 2px;"><label>{{b.varName}}:</label></td>
                    <td>
                        <ng-template [ngIf]="b.bindingType == 'assignment' && b.value">
                            <input class="form-control input-sm" [ngModel]="b.value.toNT()" readonly>
                        </ng-template>
    
                        <ng-template [ngIf]="b.bindingType == 'constraint' && b.datatype">
                            <literal-picker [plain]="false" [typed]="true" [datatypes]="[b.datatype]" (literalChanged)="onLiteralChanged(b, $event)">
                            </literal-picker>
                        </ng-template>
    
                        <ng-template [ngIf]="b.bindingType == 'constraint' && b.resourceRole">
                            <resource-picker [resource]="b.value" [roles]="[b.resourceRole]" [editable]="true" (resourceChanged)="onResourceChanged(b, $event)">
                            </resource-picker>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="configurable" class="subPanel-footer">
        <div class="checkbox" style="margin: 0px;">
            <label>
                <input type="checkbox" [(ngModel)]="useBindings" (ngModelChange)="emitUpdate()">Use variable bindings
            </label>
        </div>
    </div>
</div>