<div class="vbox">
    
    <div>
        <div class="btn-group btn-group-sm" style="margin-bottom: 10px;" role="group">
            <button type="button" class="btn btn-default" (click)="createProject()">Create</button>
            <button type="button" class="btn btn-default" (click)="deleteProject()" [disabled]="!selectedProject">Delete</button>
            <button type="button" class="btn btn-default" (click)="importProject()">Import</button>
            <button type="button" class="btn btn-default" (click)="exportProject()" [disabled]="!selectedProject">Export</button>
        </div>
        <a [href]="exportLink" download="export.zip" [hidden]="!exportLink">Download link</a>
    </div>

    <div class="scrollableContainer">
        <table class="table table-condensed table-hoverable" style="flex: 1">
            <thead>
                <tr>
                    <th class="text-center">Accessed</th>
                    <th class="text-center" nowrap>Open/Close</th>
                    <th class="text-center">Project Name</th>
                    <th class="text-center">Triple Store</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Onto Type</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of projectList" (click)="selectProject(p)" [ngClass]="{active: p == selectedProject}">
                    <td class="text-center">
                        <input #input type="radio" name="projRadioGrp" [value]="p.getName()" (click)="accessProject(input.value)"
                            [checked]="isWorkingProject(input.value)" [disabled]="!p.isOpen()"/>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-default btn-sm" [ngClass]="{active: p.isOpen()}" (click)="openOrCloseProject(p)">
                            <img *ngIf="!p.isOpen()" src="app/assets/images/folder.gif">
                            <img *ngIf="p.isOpen()" src="app/assets/images/folder-open.gif">
                        </button>
                    </td>
                    <td class="text-center">{{p.getName()}}</td>
                    <td class="text-center">{{p.getPrettyPrintOntoMgr()}}</td>
                    <td class="text-center">{{p.getType()}}</td>
                    <td class="text-center">{{p.getPrettyPrintOntoType()}}</td>
                    <td class="text-center">
                        <span [class]="p.getStatus().class" [title]="p.getStatus().message"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    <div>
</div>