<div class="modal-header">
    <h3 *ngIf="!id" class="modal-title">Create Custom Form</h3>
    <h3 *ngIf="id" class="modal-title">Edit Custom Form</h3>
</div>
<div class="modal-body vbox">
    
    <div class="entryRow">
        <div class="hbox" style="align-items: center;">
            <label class="entryLabel">ID:</label>
            <div class="input-group" style="flex: 1;">
                <ng-container *ngIf="namespaceLocked">
                    <span class="input-group-prepend">
                        <span class="input-group-text">
                            {{cfPrefix}}
                        </span>
                    </span>
                    <input type="text" class="form-control" [(ngModel)]="cfShortId" [disabled]="mode == 'edit'" sanitized>
                </ng-container>
                
                <ng-container *ngIf="!namespaceLocked">
                    <input type="text" class="form-control" [(ngModel)]="cfId" [disabled]="mode == 'edit'" sanitized>
                </ng-container>
                
                <div class="input-group-append">
                    <button class="btn btn-light" style="width:30px; padding: 1px 3px;" (click)="unlockNamespace()"
                        title="Lock/Unlock namespace" [ngClass]="{active: namespaceLocked}" [disabled]="mode == 'edit'">
                        <span class="fas fa-lock" style="font-size: 10px;"></span>
                    </button>
                </div>
            </div>
            <span class="optionalCell">*</span>
        </div>
    </div>
    <div class="entryRow">
        <div class="hbox" style="align-items: center;">
            <label class="entryLabel">
                {{'COMMONS.NAME'|translate}}:
                <span class="fas fa-info-circle" title="The name that will be shown to the user to identify this form"></span>
            </label>
            <input type="text" class="form-control" style="flex: 1" [(ngModel)]="name" [disabled]="readOnly">
            <span class="optionalCell">*</span>
        </div>
    </div>
    <div class="entryRow">
        <div class="hbox" style="align-items: center;">
            <label class="entryLabel">
                {{'COMMONS.DESCRIPTION'|translate}}:
                <span class="fas fa-info-circle" title="A natural language description that briefly explain the purpose of this form"></span>
            </label>
            <textarea class="form-control" style="flex: 1;" [(ngModel)]="description" [rows]="descriptionTextareaRows" [disabled]="readOnly"></textarea>
            <span class="optionalCell"></span>  
        </div>
    </div>
    <div class="entryRow">
        <div class="hbox" style="align-items: center;">
            <label class="entryLabel">
                {{'COMMONS.TYPE'|translate}}:
            </label>
            <select class="form-control" style="flex: 1;" [(ngModel)]="type" [disabled]="cfId">
                <option value="graph">Graph</option>
                <option value="node">Node</option>
            </select>
            <span class="optionalCell">*</span>  
        </div>
    </div>
    <div class="entryRow vbox">
        <div class="hbox">
            <label class="entryLabel" style="align-self: center;">
                Ref:
                <span class="fas fa-info-circle"
                    title="In case of Graph type this should contain a PEARL rule otherwise, in case of Node type, this should contain simply a PEARL projection operator">
                </span>
            </label>
            <div class="hbox">
                <pearl-editor [(ngModel)]="ref" [disabled]="readOnly">
                </pearl-editor>
                <div class="vbox" style="flex: initial; margin-left: 6px;">
                    <button class="btn btn-light btn-sm" (click)="pickConverter()" title="Pick converter" [disabled]="readOnly">
                        Pick converter
                    </button>
                    <ng-container *ngIf="type == 'graph'">
                        <button class="btn btn-light btn-sm" (click)="inferAnnotations()" style="margin-top: 4px;" 
                            title="Infer annotations from CF definition" [disabled]="!ref || readOnly">
                            Infer annotations
                        </button>
                        <button *ngIf="extractFromShaclAuthorized" class="btn btn-light btn-sm" (click)="extractFromShacl()" style="margin-top: 4px;" 
                            title="Extract PEARL from SHACL shape" [disabled]="readOnly">
                            From SHACL
                        </button>
                    </ng-container>
                </div>
                
            </div>
            <span class="optionalCell">*</span>
        </div>
    </div>
    <div class="entryRow">
        <div class="hbox" style="align-items: center;">
            <label class="entryLabel">
                Show property chain:
                <span class="fas fa-info-circle" 
                    title="A property chain to follow to retrieve the value to be shown to represent the graph generated by means of this Form">
                </span>
            </label>
            <div class="hbox" style="align-items: center;">
                <div class="hbox tile-group">
                    <span *ngFor="let prop of showPropertyChain" (click)="selectPropInChain(prop)" 
                        class="tile" [ngClass]="{selectedResource : selectedPropInChain == prop}">
                        <rdf-resource [resource]="prop"></rdf-resource>
                        <span *ngIf="!readOnly" class="far fa-times-circle" (click)="removePropFromChain(prop)"
                            style="cursor: pointer" onmouseover="this.className='fas fa-times-circle';"
                            onmouseout="this.className='far fa-times-circle';">
                        </span>
                        <span *ngIf="readOnly" class="far fa-times-circle" style="cursor: not-allowed"></span>
                    </span>
                </div>
                <div class="btn-group dropup ml-2" ngbDropdown>
                    <button class="btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" [disabled]="readOnly" ngbDropdownToggle>
                        <span class="fas fa-pencil-alt"></span>
                    </button>
                    <div class="dropdown-menu float-right" ngbDropdownMenu>
                        <a class="dropdown-item" (click)="addPropToChain()">{{'COMMONS.ACTIONS.ADD'|translate}}</a>
                        <a class="dropdown-item" (click)="editPropChain()">Edit manually</a>
                        <a class="dropdown-item" [ngClass]="{disabled : !selectedPropInChain}" (click)="addPropToChain('before')">Add before</a>
                        <a class="dropdown-item" [ngClass]="{disabled : !selectedPropInChain}" (click)="addPropToChain('after')">Add after</a>
                        <a class="dropdown-item" [ngClass]="{disabled : disableMove('before')}" (click)="movePropInChain('before')">Move before</a>
                        <a class="dropdown-item" [ngClass]="{disabled : disableMove('after')}" (click)="movePropInChain('after')">Move after</a>
                    </div>
                </div>
            </div>
            <span class="optionalCell"></span>
        </div>
    </div>

</div>
<div class="modal-footer">
    <div class="hbox">
        <div class="hbox" style="align-items: center; margin-right: 10px;">
            <span style="margin-right: 6px">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
            <div *ngIf="submitted && !isDataValid()" class="alert alert-danger" style="flex: 1; text-align: left; padding: 5px">
                {{errorMsg}}
            </div>
        </div>
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="readOnly">Ok</button>
        <button class="btn btn-light btn-sm ml-2" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>