<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group">
            <button class="btn btn-default" title="Create Instance" (click)="create()" [disabled]="isCreateDisabled()">
                <img src="../../../../assets/images/icons/actions/individual_create.png" class="panelButtonImg"/>
            </button>
            <ng-template [ngIf]="deletable">
                <button class="btn btn-default" title="Delete Instance" (click)="delete()" [disabled]="isDeleteDisabled()">
                    <img src="../../../../assets/images/icons/actions/individual_delete.png" class="panelButtonImg"/>
                </button>
                <button class="btn btn-default" title="Deprecate Instance" (click)="deprecate()" [disabled]="isDeprecateDisabled()">
                    <img src="../../../../assets/images/icons/actions/individual_deprecate.png" class="panelButtonImg"/>
                </button>
            </ng-template>
        </div>
        <div style="flex: 1"></div>
        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>

        <div class="dropdown pull-right">
            <button class="dropdown-toggle transparentBtn" data-toggle="dropdown">
                <span>&#9662;</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a (click)="rendering = !rendering">
                        <span style="flex: 1;">
                            <span class="glyphicon glyphicon-font" style="margin-right: 4px;"></span>
                            Rendering
                        </span>
                        <span *ngIf="rendering" class="glyphicon glyphicon-ok pull-right"></span>
                    </a>
                </li>
                <li *ngIf="allowMultiselection">
                    <a (click)="toggleMultiselection()">
                        <span style="flex: 1;">
                            <span class="glyphicon glyphicon-check" style="margin-right: 4px;"></span>
                            Multiselection
                        </span>
                        <span *ngIf="multiselection" class="glyphicon glyphicon-ok pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- Tree -->
    <div class="panel-body vbox">
        <instance-list [cls]="cls" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context"
            (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)">
        </instance-list>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)" [roles]="[panelRole]" [cls]="cls" [disabled]="!cls" [context]="context"></search-bar>
    </div>
    
</div>