<div class="table-responsive">
    <table class="table table-sm table-borderless">
        <colgroup>
            <col style="width: 1%">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <td><label>{{'COMMONS.RESOURCE'|translate}}:</label></td>
                <td><rdf-resource *ngIf="resource" [resource]="resource"></rdf-resource></td>
            </tr>
            <tr *ngIf="resource.isURIResource()">
                <td><label>IRI:</label></td>
                <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{resource.getURI()}}</td>
            </tr>
            <tr *ngIf="resource.isBNode()">
                <td><label>ID:</label></td>
                <td>{{resource.getId()}}</td>
            </tr>
            <tr>
                <td><label>Label:</label></td>
                <td>{{resource.getShow()}}</td>
            </tr>
            <tr *ngIf="resource.isResource()">
                <td><label>Role:</label></td>
                <td>{{resource.getRole()}}</td>
            </tr>
            <tr *ngIf="resource.isResource()">
                <td><label>Deprecated:</label></td>
                <td>{{resource.isDeprecated()}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr *ngIf="resource.isResource()">
                <td colspan="2">
                    Show the complete <a style="cursor: pointer" (click)="showResourceView()">ResourceView</a>
                </td>
            </tr>   
        </tfoot>
    </table>
</div>