<div class="groupPanel">

    <div class="groupPanel-heading">
        <div class="expandCollapseBtnContainer groupPanel-heading-content m-0">
            <img src="./assets/images/icons/arrow.png" (click)="partitionCollapsed = !partitionCollapsed"
                [ngClass]="{'arrow-right': partitionCollapsed}">
        </div>
        <span style="flex: 1">
            <label class="groupPanel-heading-content">Widgets:</label>
        </span>
        <span class="groupPanel-heading-content groupPanel-add-btn" style="top: 0px;">
            <button #wdgBtn class="btn btn-xs btn-bright py-0" [ngClass]="{ active: widgetActive }" (click)="widgetActive = !widgetActive" (mouseup)="wdgBtn.blur()">
                <i class="fas fa-chart-pie"></i>
            </button>
        </span>
    </div>

    <div class="groupPanel-body">
        <ng-container *ngIf="!partitionCollapsed">

            <ng-container *ngIf="widgetActive; then widgetsBlock; else predObjBlock"></ng-container>

            <ng-template #widgetsBlock>
                <div *ngFor="let pw of predWidgetsList" class="card card-alt mb-1">
                    <div class="card-header">
                        <label style="flex: 1">{{pw.predicate.getShow()}}</label>
                    </div>
                    <div class="card-body">
                        <ng-container *ngFor="let w of pw.widgets">
                            <widget-renderer class="p-1" [subject]="resource" [predicate]="pw.predicate" [widget]="w" (update)="onObjectUpdate()" (doubleClick)="objectDblClick($event)">
                            </widget-renderer>
                        </ng-container>
                    </div>
                </div>
            </ng-template>

            <ng-template #predObjBlock>
                <ng-container *ngIf="!widgetActive">
                    <pred-obj-renderer *ngFor="let po of predicateObjectList"
                        [pred-obj]="po" [resource]="resource" [readonly]="readonly"
                        [rendering]="rendering" [partition]="partition" (dblclickObj)="objectDblClick($event)"
                        (add)="addHandler(po.getPredicate(), $event)" (edit)="editHandler(po.getPredicate(), $event)" 
                        (remove)="removeHandler(po.getPredicate(), $event)" (update)="onObjectUpdate()"
                        (copyLocale)="copyLocaleHandler(po.getPredicate(), $event)" >
                    </pred-obj-renderer>
                </ng-container>
            </ng-template>

        </ng-container>
    </div>

</div>