<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body vbox" style="max-height: 70vh;">
    <div class="scrollableContainer">
        <table class="table table-condensed table-hoverable">
            <colgroup>
                <col style="width: 1%">
                <col style="width: 1%">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th class="text-center" style="padding: 0px 8px;">Selected</th>
                    <th class="text-center" style="padding: 0px 8px;" nowrap>ISO code</th>
                    <th class="text-center" style="padding: 0px 8px;">Language</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let l of languageItems">
                    <td class="text-center">
                        <input type="checkbox" style="vertical-align: middle" [(ngModel)]="l.selected">
                    </td>
                    <td class="text-center" nowrap>{{l.lang.tag}}</td>
                    <td class="text-center">
                        <img *ngIf="getFlagImgSrc(l.lang.tag).indexOf('unknown') == -1" [src]="getFlagImgSrc(l.lang.tag)">
                        <span *ngIf="getFlagImgSrc(l.lang.tag).indexOf('unknown') != -1" class="flagIcon">
                            <img [src]="getFlagImgSrc(l.lang.tag)">
                            <span>{{l.lang.tag}}</span>
                        </span>
                        {{l.lang.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>