<table class="table table-condensed table-borderless">
    <colgroup>
        <col>
        <col style="width: 1%">
        <col style="width: 1%">
    </colgroup>
    <tbody>
        <!-- Why index and track by? https://stackoverflow.com/q/40314732/5805661 -->
        <tr *ngFor="let v of value; let index = index; let last = last; trackBy: trackByIndex;">
            <td style="padding: 2px 0px;">
                <div [ngSwitch]="types[0].name">
                    <resource-picker *ngSwitchCase="'IRI'" [resource]="value[index]" [roles]="getIRIRoleConstraints()" [editable]="true"
                        (resourceChanged)="updateValue(index, $event)">
                    </resource-picker>

                    <resource-picker *ngSwitchCase="'Resource'" [resource]="value[index]" [roles]="getIRIRoleConstraints(p)" [editable]="true"
                        (resourceChanged)="updateValue(index, $event)">
                    </resource-picker>

                    <value-picker *ngSwitchCase="'RDFValue'" [value]="value[index]" [editable]="true" (valueChanged)="updateValue(index, $event)">
                    </value-picker>

                    <literal-picker *ngSwitchCase="'Literal'" [literal]="value[index]" (literalChanged)="updateValue(index, $event)">
                    </literal-picker>

                    <textarea *ngSwitchDefault type="text" rows="1" class="form-control input-sm" style="resize: vertical" [(ngModel)]="value[index]" (ngModelChange)="onModelChange()">
                    </textarea>
                </div>
            </td>
            <td style="padding: 0px;">
                <button *ngIf="value.length > 1" class="btn btn-sm btn-default" (click)="delete(index)" style="margin-left: 3px;">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
            <td style="padding: 0px;">
                <button *ngIf="last" class="btn btn-sm btn-default" (click)="add(index)" style="margin-left: 3px;">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>