<table class="table table-sm table-borderless">
    <colgroup>
        <col>
        <col style="width: 1%">
        <col style="width: 1%">
    </colgroup>
    <tbody>
        <!-- Why index and track by? https://stackoverflow.com/q/40314732/5805661 -->
        <tr *ngFor="let v of value; let index = index; let last = last; trackBy: trackByIndex">
            <td style="padding: 2px 0px;">
                <setting-value [value]="value[index]" [type]="types[0]" [disabled]="disabled" (valueChanged)="onValueChange(index, $event)"></setting-value>
            </td>
            <td style="padding: 0px;">
                <button *ngIf="value.length > 1 || collapsable" class="btn btn-sm btn-light" (click)="delete(index)" style="margin-left: 3px;" [disabled]="disabled">
                    <span class="far fa-trash-alt"></span>
                </button>
            </td>
            <td style="padding: 0px;">
                <button *ngIf="last" class="btn btn-sm btn-light" (click)="add(index)" style="margin-left: 3px;" [disabled]="disabled">
                    <span class="fas fa-plus"></span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!value?.length && collapsable">
            <td colspan="3" style="padding: 0px;">
                <button class="btn btn-sm btn-light" (click)="add(0)" [disabled]="disabled">
                    <span class="fas fa-plus"></span>
                </button>
            </td>    
        </tr>
    </tbody>
</table>