<div class="d-flex align-items-center">
    <!-- <label *ngIf="category" (dblclick)="relationDblClick()">{{category.getLocalName()}}:</label> -->
    <!-- <div *ngFor="let ref of targetRef" class="d-flex align-items-center ml-3">
        <rdf-resource class="clickable" [resource]="ref.lemma[0].writtenRep[0]" (dblclick)="targetDblClick(ref)"></rdf-resource>
    </div> -->
    <span *ngFor="let ref of targetRef" class="clickable ml-2" (dblclick)="targetDblClick(ref)">
        {{ref.lemma[0].writtenRep[0].getShow()}}
    </span>
    <span *ngIf="category" class="ml-2">({{category.getLocalName()}})</span>
    <button *ngIf="!readonly" class="btn btn-xs btn-faded ml-2" (click)="delete()" [title]="'ACTIONS.DELETE'|translate" [disabled]="!deleteAuthorized">
        <span class="fas fa-minus"></span>
    </button>
</div>