<div class="vbox">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <label>Import project:</label>
        </div>
       
        <div class="panel-body">
            
            <form role="form">
                
                <div class="form-group">
                    <label>Project name:</label>
                    <input type="text" class="form-control input-sm" [(ngModel)]="projectName" name="projectName" placeholder="Name">
                    <div *ngIf="(!projectName || projectName.trim() =='') && submitted" class="alert alert-danger" style="margin-top: 2px">
                        A <strong>project name</strong> is required
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Project file:</label>
                    <file-picker (fileChanged)="fileChangeEvent($event)" [accept]="'application/zip'" 
                        [placeholder]="'Select a project archive...'"></file-picker>
                    <div *ngIf="!fileToUpload && submitted" class="alert alert-danger" style="margin-top: 2px">
                        A <strong>file</strong> is required
                    </div>
                </div>
                
            </form>
            
        </div>
        
        <div class="panel-footer">
            <button type="submit" class="btn btn-default btn-sm pull-right" (click)="import()">Submit</button>
            <span class="clearfix"></span> <!--To fix UI bug-->
        </div>
    </div>
    
</div>