<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <div class="hbox" style="align-items: center">
            <h3 class="modal-title" style="flex: 1">{{title}}</h3>
            <span *ngIf="createSense">
                <button class="btn btn-light btn-xs" [title]="'DATA.ACTIONS.CHANGE_CLASS'|translate" (click)="changeClass()" [disabled]="!clsChangeable">
                    <rdf-resource [resource]="resourceClass"></rdf-resource>
                </button>
            </span>
        </div>
    </div>
    <div class="modal-body vbox" (keydown.enter)="onEnter()">

        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td class="text-right">
                        <label *ngIf="showReference">{{'RESOURCE_VIEW.LEX_VIEW.REFERENCE'|translate}}:</label>
                        <label *ngIf="showLexEntry">{{'DATA.LEX_ENTRY.LEX_ENTRY'|translate}}:</label>

                        <select *ngIf="showRefAndConc" class="form-control" style="width: initial;" [(ngModel)]="scenario" (ngModelChange)="linkedResource = null">
                            <option [value]="'reference'">{{'RESOURCE_VIEW.LEX_VIEW.REFERENCE'|translate}}</option>
                            <option [value]="'lexConcept'">{{'DATA.LEX_ENTRY.LEX_CONCEPT'|translate}}</option>
                        </select>
                    </td>
                    <td>
                        <ng-container *ngIf="scenario == 'reference'">
                            <resource-picker [config]="{ roles: pickerRoles }" [editable]="true" (resourceChanged)="updateLinkedRes($event)"></resource-picker>
                        </ng-container>
                        <ng-container *ngIf="scenario == 'lexEntry'">
                            <div class="hbox">
                                <editable-ns-input style="flex: 1" [(ngModel)]="linkedResource"></editable-ns-input>
                                <button class="btn btn-light btn-sm" style="margin-left: 4px;" (click)="pickLexicalEntry()">
                                    <span class="fas fa-pencil-alt"></span>
                                </button>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="scenario == 'lexConcept'">
                            <resource-picker [config]="{ roles: ['concept'] }" [editable]="true" (resourceChanged)="updateLinkedRes($event)"></resource-picker>
                        </ng-container>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <div *ngIf="showCreatePlain" class="form-check">
                            <input class="form-check-input" id="plainCheck" type="checkbox" [(ngModel)]="createPlainCheck">
                            <label class="form-check-label" for="plainCheck">{{'DATA.ACTIONS.CREATE_PLAIN'|translate}}</label>
                        </div>
                        <div *ngIf="showCreateSense" class="form-check">
                            <input class="form-check-input" id="senseCheck" type="checkbox" [(ngModel)]="createSenseCheck">
                            <label class="form-check-label" for="senseCheck">{{'DATA.ACTIONS.CREATE_SENSE'|translate}}</label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

        <custom-form *ngIf="customFormId && showCreateSense" [cfId]="customFormId" style="border-top:1px solid #ddd; margin-top: 5px;" 
            [(ngModel)]="formFields"></custom-form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>