
<div class="panel panel-default vbox">
    <div class="panel-body hbox">

        <div class="panel panel-default vbox" style="margin-right: 4px;">
            <div class="panel-heading">
                <label>Resource Types</label>
            </div>
            <div class="panel-body scrollableContainer">
                <div *ngFor="let rps of rolePartitionsStructs" class="listItem" (click)="selectRolePartitionsStruct(rps)"
                    [ngClass]="{ active: rps == selectedRolePartitionsStruct }">
                    {{rps.role.show}}
                </div>
            </div>
        </div>

        <div class="panel panel-default vbox">
            <div class="panel-heading">
                <label style="flex: 1;">Partitions</label>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-xs" role="group">
                        <button class="btn btn-default" (click)="checkAll(selectedRolePartitionsStruct, true)" title="Check all">
                            <span class="glyphicon glyphicon-check"></span>
                        </button>
                        <button class="btn btn-default" (click)="checkAll(selectedRolePartitionsStruct, false)" title="Uncheck all">
                            <span class="glyphicon glyphicon-unchecked"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body scrollableContainer">
                <div *ngFor="let partition of selectedRolePartitionsStruct?.partitions" class="listItem">
                    <input type="checkbox" [(ngModel)]="partition.checked" (ngModelChange)="updatePref()">
                    <span style="flex: 1; margin-left: 4px">{{partition.show}}</span>
                    <span *ngIf="partition.checked" class="glyphicon glyphicon-eye-open"></span>
                    <span *ngIf="!partition.checked" class="glyphicon glyphicon-eye-close"></span>
                    
                    <div class="dropdown pull-right">
                        <button class="dropdown-toggle transparentBtn" data-toggle="dropdown">
                            <span>&#9662;</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a (click)="checkForAllRoles(partition.id, true)">
                                    <span class="glyphicon glyphicon-eye-open" style="margin-right: 4px;"></span>Set visible for all resource types
                                </a>
                            </li>
                            <li>
                                <a (click)="checkForAllRoles(partition.id, false)">
                                    <span class="glyphicon glyphicon-eye-close" style="margin-right: 4px;"></span>Hide for all resource types
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="panel-footer">
        <button class="btn btn-xs btn-default pull-right" (click)="reset()" title="Set visible all the partitions of all the Resource types">
            <span class="glyphicon glyphicon-eye-open"></span>
            Enable all
        </button>
    </div>
</div>