html, body {
    height: 100%;
    margin: 0;
}

/* Div visible only in some scenario when there is need to block event from user */
.blockingDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.3;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.blockingDiv > div {
    position: relative;
    top: 50%;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}
@keyframes pulsate {
    0% {
      transform: scale(.3);
      opacity: 0.3;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

app {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.navbar li.disabled {
    cursor: not-allowed;    
}

.navbar li.disabled > a {
    pointer-events: none;
}

project-component, class-component, property-component, concept-component, scheme-component, sparql-component {
    flex: 1;
    min-height: 0;
    display: flex;
    padding: 15px;
    overflow-y: hidden;
}

.vbox {
    display: flex;
    flex-flow: column;
    flex: 1;
    min-height: 0;
}

.hbox {
    display: flex;
    flex-flow: row;
    flex: 1;
    min-width: 0;
}

.sidebar {
    display: flex;
    flex-flow: column;
    flex: 1;
    min-height: 0;
}

.resViewContainer {
    display: flex;
    flex-flow: column;
    margin-left: 15px;
    flex: 4;
    min-height: 0;
}

resource-view {
    display: flex;
    flex-flow: column;
    flex: 1;
    min-height: 0;
}

concept-tree-panel, concept-scheme-panel, class-tree-panel, property-tree-panel {
    display: flex;
    flex-flow: column;
    flex: 1;
    min-height: 0;
}

concept-tree-panel>.panel, concept-scheme-panel>.panel, class-tree-panel>.panel, property-tree-panel>.panel, resource-view>.panel {
    display: flex;
    flex-flow: column;
    flex: 1;
    min-height: 0;
}

concept-tree-panel>.panel>.panel-body, concept-scheme-panel>.panel>.panel-body,
class-tree-panel>.panel>.panel-body, property-tree-panel>.panel>.panel-body, resource-view>.panel>.panel-body {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-flow: column;
}

concept-tree, class-tree, property-tree, resource-view {
    display: flex;
    flex: 1;
    min-height: 0;
    position: relative; /* to allow blockDiv with absolute position inside these divs */
}

/* Note: in order to work, the div with this class needs to be placed into a display:flex container */
.scrollableContainer {
    overflow: auto;
    flex: 1;
    min-height: 0;
    /* CHECK THIS for the problem with chrome
     http://stackoverflow.com/questions/33681562/why-does-chrome-not-properly-handle-flexbox-items-added-with-jquery
    */
}

rdf-resource {
	min-height: 24px;
    display: inline-flex;
    align-items: center;
}

rdf-resource > .rdfResourceIcon {
    width: 16px;
    margin-right: 5px;
}

rdf-resource > span {
    flex: 1;
}

.selectedResource {
    background-color: #cde8ff;
    border: 1px solid #7bc3ff;
}

.treeNode {
	min-height: 24px;
	margin: 2px 0px;
    display: flex;
    align-items: center;
}

.treeNode .expandCollapseBtnContainer {
    min-width: 16px;
}

.treeNode rdf-resource {
	border-radius: 2px;
    flex: 1;
}

.treeNode rdf-resource:hover {
    background-color: #e5f3ff;
}

.subTree {
	padding-left:15px;
}

.subtreeOpen {
	/*max-height: 1600px;*/
	overflow: hidden;
}

.subtreeClose {
	max-height: 0;
    overflow: hidden;
}

.conceptSchemeItem {
	height: 24px;
    display: flex;
    align-items: center;
}

.conceptSchemeItem input[type=radio] {
	margin: 0px 5px 0px 0px; /* override input margin defined in bootstrap */
}

.conceptSchemeItem rdf-resource {
	border-radius: 2px;
	flex: 1;
}

.conceptSchemeItem rdf-resource:hover {
    background-color: #e5f3ff;
}

input[type="image"]:disabled  {
	filter : grayscale(100%);
	opacity: 0.5;
}

.table tr:hover td {
    background-color: #e5f3ff !important;
}

.table tr.active td {
    background-color: #cde8ff !important;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.resViewObjectItem {
    display: flex;
    align-items: center;
}

.resViewObjectItem:hover {
    background-color: #e5f3ff;
}

.resViewObjectItem > rdf-resource {
    flex: 1;
}

.resViewPartitionRendererPanel {
	display: flex;
	flex-flow: column;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 5px;
}

.resViewPartitionRendererHeading {
    display: flex;
    align-items: center;
	background: linear-gradient(#fff, #ddd);
	padding: 4px 8px;
	border-bottom: 1px solid #ccc;
}

.resViewPartitionRendererHeading > label {
    flex: 1;
}

.resViewPartitionRendererBody {
	padding: 8px;
}

/* BOOTSTRAP OVERRIDE */

body {
    font-size: 11px;
}

nav {
    font-size: 13px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
	background: linear-gradient(to right, #1B3671, #7486AB);
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #fff;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #000;
    background-color: #7486AB;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #7486AB;
}

.navbar-default .navbar-nav>.disabled>a, .navbar-default .navbar-nav>.disabled>a:focus, .navbar-default .navbar-nav>.disabled>a:hover {
    color: #777;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #000;
}

.table {
    font-size: 11px;
    margin-bottom: 0px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.panel { margin-bottom: 0px; }
.panel .panel { margin-bottom: 5px; } /*panel inside panel (resource view)*/
.panel-heading { margin-bottom: 0px; padding: 5px 10px; }
.panel-default > .panel-heading {
    background: linear-gradient(#FFFFFF, #CACACA);
    border-color: #BFBFBF;
}
.panel-body { padding: 6px; }
.panel-footer { padding: 5px; }

label { margin-bottom: 0px; }

.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    height: 26px;
    padding: 0px 6px;
    font-size: 11px;
}