rdf-resource {
	min-height: 24px;
    display: inline-flex;
    align-items: center;
}

rdf-resource > .rdfResourceIcon {
    width: 16px;
    margin-right: 5px;
}

rdf-resource > span {
    flex: 1;
}

.selectedResource {
    background-color: #cde8ff;
    border: 1px solid #7bc3ff;
}

.treeNode {
	min-height: 24px;
	margin: 2px 0px;
    display: flex;
    align-items: center;
}

.treeNode .expandCollapseBtnContainer {
    width: 16px;
}

.treeNode rdf-resource {
	border-radius: 2px;
    flex: 1;
}

.treeNode rdf-resource:HOVER {
    background-color: #e5f3ff;
}

.subTree {
	padding-left:15px;
}

.subtreeOpen {
	max-height: 1600px; /* A big value possibly not exceeded by the content (to allow the transition) */
	transition: max-height 0.5s ease-in;
	overflow: hidden;
}

.subtreeClose {
	max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

.conceptSchemeItem {
	height: 24px;
    display: flex;
    align-items: center;
    
}

.conceptSchemeItem input[type=radio] {
	margin: 0px 5px 0px 0px; /* override input margin defined in bootstrap */
}

.conceptSchemeItem rdf-resource {
	border-radius: 2px;
	flex: 1;
}

.conceptSchemeItem rdf-resource:HOVER {
    background-color: #e5f3ff;
}

input[type="image"]:disabled  {
	filter : grayscale(100%);
	opacity: 0.5;
}

.table tr.active td {
    background-color: #cde8ff !important;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.resViewObjectItem {
    display: flex;
    align-items: center;
}

.resViewObjectItem:HOVER {
    background-color: #e5f3ff;
}

.resViewObjectItem > rdf-resource {
    flex: 1;
}

.resViewPartitionRendererHeading {
    display: flex;
    align-items: center;
}

.resViewPartitionRendererHeading > label {
    flex: 1;
}

/* BOOTSTRAP OVERRIDE */

body {
    font-size: 11px;
}

nav {
    font-size: 13px;
}

.table {
    font-size: 11px;
    margin-bottom: 0px;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.panel .panel { margin-bottom: 5px; } /*panel inside panel (resource view)*/
.panel-heading { margin-bottom: 0px; padding: 5px 10px; }
.panel-body { padding: 10px; }

label { margin-bottom: 0px; }