<div class="modal-header">
    <h3 class="modal-title text-info">{{context.title}}</h3>
</div>
<div class="modal-body">
    <div class="panel panel-default vbox">
        <div class="panel-body vbox scrollableContainer">
            <div *ngFor="let cf of context.cfList" class="listItem" [ngClass]="{ active: selectedCF == cf }" (click)="selectedCF = cf">
                <span style="white-space: nowrap;">
                    <span style="font-size: 13px;">{{cf.getName()}}</span>
                    <span *ngIf="cf.getDescription()" class="glyphicon glyphicon-info-sign" style="margin-left: 4px;" [title]="cf.getDescription()"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!selectedCF">Ok</button>
    <button *ngIf="!context.hideNo" class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>