<div class="panel panel-default vbox">
    <div class="panel-heading">
        <label>Alignment Validation:</label>
    </div>
    
    <div class="panel-body vbox">
        <div style="display: flex; align-items: center; margin-bottom: 8px;">
            <label style="margin-right: 4px;">Source:</label>
            <select class="form-control input-sm" [(ngModel)]="selectedSource">
                <option *ngFor="let source of alignmentSources">{{source}}</option>
            </select>
        </div>

        <alignment-file *ngIf="selectedSource == sourceFile"></alignment-file>
        <alignment-genoma *ngIf="selectedSource == sourceGenoma"></alignment-genoma>

    </div>
    
</div>