<div class="vbox">

    <div class="card card-default vbox">

        <div class="card-body hbox">

            <div class="card card-default vbox">
                <div class="card-header">
                    <label style="flex: 1;">{{'COMMONS.ROLES'|translate}}:</label>
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-light" (click)="createRole()" [title]="getCreateRoleTitle()" [disabled]="!isProjectOpen()">
                            <span class="fas fa-plus"></span>
                        </button>
                        <button class="btn btn-light" (click)="deleteRole()" [title]="'COMMONS.DELETE'|translate"
                             [disabled]="!selectedRole || selectedRole.getLevel() == 'system'">
                            <span class="fas fa-minus"></span>
                        </button>
                        <button class="btn btn-light" title="Clone role" (click)="cloneRole()" [disabled]="!isProjectOpen() || !selectedRole">
                            <span class="fas fa-copy"></span>
                        </button>
                        <button class="btn btn-light" (click)="importRole()" title="Import role" [disabled]="!isProjectOpen()">
                            <span class="fas fa-upload"></span>
                        </button>
                        <button class="btn btn-light" (click)="exportRole()" title="Export role" [disabled]="!selectedRole">
                            <span class="fas fa-download"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body vbox" style="padding: 0px;">
                    <div class="scrollableContainer">
                        <div *ngFor="let r of roleList" class="listItem" (click)="selectRole(r)"
                            [ngClass]="{active: r == selectedRole, grayText: r.getLevel() == 'system'}">
                            <span>{{r.getName()}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-default vbox" style="margin-left: 5px;">
                <div class="card-header">
                    <label style="flex: 1;">Role capabilities:</label>
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-light" (click)="addCapability()" title="Add capability"
                            [disabled]="!selectedRole || selectedRole.getLevel() == 'system'">
                            <span class="fas fa-plus"></span>
                        </button>
                        <button class="btn btn-light" (click)="removeCapability()" [title]="'COMMONS.REMOVE'|translate"
                            [disabled]="!selectedCapability || (selectedRole && selectedRole.getLevel() == 'system')">
                            <span class="fas fa-minus"></span>
                        </button>
                        <button class="btn btn-light" (click)="editCapability()" title="Edit capability"
                            [disabled]="!selectedCapability || (selectedRole && selectedRole.getLevel() == 'system')">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body vbox" style="padding: 0px;">
                    <div class="scrollableContainer">
                        <ng-container *ngIf="selectedRole">
                            <div *ngFor="let c of capabilityList" class="listItem"
                                [ngClass]="{active: c == selectedCapability, grayText: (selectedRole && selectedRole.getLevel() == 'system')}"
                                (click)="selectCapability(c)">
                                {{c}}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>