<div class="modal-header">
    <h3 class="modal-title">Concept tree settings</h3>
</div>
<div class="modal-body vbox">

    <div class="hbox" style="align-items: center; flex: initial">
        <label style="margin-right: 4px; white-space: nowrap;">Visualization mode:</label>
        <select class="form-control" [(ngModel)]="visualization">
            <option *ngFor="let vm of visualizationModes" [value]="vm.value">{{vm.label}}</option>
        </select>
    </div>

    <div *ngIf="visualization == 'hierarchyBased'" class="card card-default vbox" style="margin-top: 6px;">
        <div class="card-body vbox">

            <div class="form-group row">
                <label class="col-form-label col-sm-4">
                    Top concepts limitation
                    <span class="fas fa-info-circle" 
                        title="Sets the maximum amount of top concepts visible in the tree. This setting prevents the initialization of a tree that might cause performance issues"></span>
                </label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" min="1" [(ngModel)]="safeToGoLimit">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">
                    Multi-scheme mode
                    <span class="fas fa-info-circle" 
                        title="Toggles between OR and AND scheme-based filter of concepts in the concept tree"></span>
                </label>
                <div class="col-sm-8">
                    <select class="form-control" [(ngModel)]="selectedMultischemeMode">
                        <option *ngFor="let mode of multischemeModes" [value]="mode">{{mode | uppercase}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">
                    Base broader property
                    <span class="fas fa-info-circle" title="Base broader property to be selected when creating narrower concepts"></span>
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" [ngModel]="baseBroaderProp" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-light" (click)="changeBaseBroaderProperty()">
                                <img src="./assets/images/icons/res/propObject.png"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-default vbox" style="margin-top: 6px;">
                <div class="card-header">
                    <label>Management of broader/narrower</label>
                </div>
                <div class="card-body vbox">

                    <div class="alert alert-info" style="margin-bottom: 4px;">
                        Here it is possible to customize the properties on which the concept tree hierarchy is based on.<br>
                        If none of broader/narrower properties is selected, then skos:broader^ and skos:narrower will be used (in OR) to check narrower concepts.
                        If any of the two is selected (with one or more properties), then only the selected properties will be used.
                    </div>

                    <div class="hbox">
                        <div class="card card-alt vbox">
                            <div class="card-header">
                                <label style="flex:1">Broader</label>
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-light" (click)="addBroader()">
                                            <span class="fas fa-plus"></span>
                                        </button>
                                        <button class="btn btn-light" (click)="removeBroader()" [disabled]="!selectedBroader">
                                            <span class="fas fa-minus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body vbox" style="min-height: 80px;">
                                <resource-list [resources]="broaderProps" (nodeSelected)="selectedBroader = $event"></resource-list>
                            </div>
                        </div>

                        <div class="card card-alt vbox" style="margin-left: 4px;">
                            <div class="card-header">
                                <label style="flex:1">Narrower</label>
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-light" (click)="addNarrower()">
                                            <span class="fas fa-plus"></span>
                                        </button>
                                        <button class="btn btn-light" (click)="removeNarrower()" [disabled]="!selectedNarrower">
                                            <span class="fas fa-minus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body vbox" style="min-height: 80px;">
                                <resource-list [resources]="narrowerProps" (nodeSelected)="selectedNarrower = $event"></resource-list>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="inverseCheck" type="checkbox" [(ngModel)]="syncInverse" (ngModelChange)="onSyncChange()">
                            <label class="form-check-label" for="inverseCheck">
                                Sync inverse properties
                                <span class="fas fa-info-circle ml-1" title="Keep synced the broader/narrower properties with their inverse properties">
                                </span>
                            </label>
                        </div>
                        <div class="form-check form-check-inline ml-3">
                            <input class="form-check-input" id="subCheck" type="checkbox" [(ngModel)]="includeSubProps">
                            <label class="form-check-label" for="subCheck">
                                Include subProperties
                                <span class="fas fa-info-circle ml-1"
                                    title="Includes the subProperties of the selected broader/narrower properties">
                                </span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div *ngIf="userGroup" class="card-footer" style="margin-top: 6px;">
            <button class="btn btn-xs btn-light float-right" (click)="applyGroupSettings()">
                Apply group settings
                <span class="fas fa-info-circle" [title]="'Group: ' + userGroup.shortName"></span>
            </button>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.CANCEL'|translate}}</button>
</div>