<div class="panel panel-default vbox">
    <div class="panel-body vbox">

        <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">
            
            <ng-container *ngIf="safeToGo.safe; else unsafetyBlock">
                <ng-container *ngFor="let r of roots; let idx = index">
                    <concept-tree-node *ngIf="idx < rootLimit && (!r.isDeprecated() || showDeprecated && r.isDeprecated())"
                        [node]="r" [projectCtx]="projectCtx" [schemes]="schemes" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context"
                        (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)" (nodeExpandStart)="onNodeExpandStart()" (nodeExpandEnd)="onNodeExpandEnd()">
                    </concept-tree-node>
                </ng-container>
            </ng-container>

            <ng-template #unsafetyBlock>
                <div class="alert alert-warning">
                    This Concept tree has an amount of top concepts ({{safeToGo.count}}) that exceeds the limit set in the settings ({{safeToGoLimit}}). 
                    Retrieving them all could be a long process, you might experience performance decrease or it might even hang the system.<br>
                    It is recommended to switch from <i>Hierarchy based</i> to <i>Search based</i> visualization mode from the tree <a href="javascript:void(0)" (click)="requireSettings.emit()">settings</a>.
                    <br>
                    <ng-container *ngIf="!schemes || schemes.length == 0">
                        You can also reduce the amount of top concepts by selecting a scheme from the <i>Scheme</i> panel.<br>
                    </ng-container>
                    If you want to force the Concept tree initialization at your own risk, click <a href="javascript:void(0)" (click)="forceSafeness()">here</a>.
                </div>
            </ng-template>
            
        </div>

        <div #blockDivTree class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="../../../../../assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>
</div>