<div class="hbox">
    <div class="card card-alt vbox">
        <div class="card-header">
            <label style="flex: 1;">{{'COMMONS.USERS'|translate}}:</label>
            <div class="btn-group btn-group-xs">
                <button class="btn btn-light" (click)="addUserToProject()" [disabled]="!project" [title]="'ADMINISTRATION.ACTIONS.ADD_USER_TO_PROJ'|translate">
                    <span class="fas fa-plus"></span>
                </button>
                <button class="btn btn-light" (click)="removeUserFromProject()" 
                    [disabled]="!selectedUser || selectedUser.isAdmin() || !project" [title]="'ADMINISTRATION.ACTIONS.REMOVE_USER_FROM_PROJ'|translate">
                    <span class="fas fa-minus"></span>
                </button>
            </div>
        </div>
        <div class="card-body vbox scrollableContainer">
            <div *ngFor="let u of usersBound" class="listItem" [ngClass]="{active: u == selectedUser}" (click)="selectUser(u)">
                <span style="flex: 1">{{u.getShow()}} <span class="grayText">&nbsp;({{u.getEmail()}})</span></span>
                <span *ngIf="u.isAdmin()" class="badge badge-primary">Admin</span>
            </div> 
        </div>
    </div>
    <div *ngIf="selectedUser" class="card card-alt vbox" style="margin-left: 5px; flex: 3;">
        <div class="card-header">
            <label style="flex: 1;">{{'ADMINISTRATION.PROJECTS.PROJ_USER.PROJ_USER_SETTINGS'|translate}}:</label>
            <button *ngIf="isLoggedUserAdmin()" class="btn btn-xs btn-light" (click)="cloneSettings()" [title]="'ADMINISTRATION.ACTIONS.DUPLICATE_SETTINGS_TO_ANOTHER_PROJ'|translate">
                <span class="fas fa-copy"></span>
            </button>
        </div>
        <div class="card-body vbox scrollableContainer">

            <!-- Roles -->
            <div *ngIf="isRoleManagementAuthorized() && !isSelectedUserAdmin()" class="card card-default vbox" style="min-height: 200px;">
                <div class="card-body vbox">
                    <div class="hbox">
                        <div class="card card-alt vbox">
                            <div class="card-header">
                                <label>{{'ADMINISTRATION.PROJECTS.PROJ_USER.ROLES.ASSIGNED_ROLES'|translate}}:</label>
                            </div>
                            <div class="card-body vbox scrollableContainer">
                                <ng-container *ngIf="puBinding">
                                    <div *ngFor="let r of puBinding.getRoles()" (click)="selectUserRole(r)"
                                        class="listItem" [ngClass]="{active: r == selectedUserRole}">
                                        {{r}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div style="align-self: center; margin: 5px;">
                            <button class="btn btn-light btn-sm btn-block" (click)="addRole()" [disabled]="!selectedRole || !puBinding">
                                <span class="fas fa-chevron-left"></span> {{'ACTIONS.ADD'|translate}}
                            </button>
                            <button class="btn btn-light btn-sm btn-block"  (click)="removeRole()" [disabled]="!selectedUserRole">
                                {{'ACTIONS.REMOVE'|translate}} <span class="fas fa-chevron-right"></span>
                            </button>
                        </div>
                        <div class="card card-alt vbox">
                            <div class="card-header">
                                <label>{{'ADMINISTRATION.PROJECTS.PROJ_USER.ROLES.AVAILABLE_ROLES'|translate}}:</label>
                            </div>
                            <div class="card-body vbox scrollableContainer">
                                <div *ngFor="let r of roleList" class="listItem" (click)="selectRole(r)"
                                    [ngClass]="{active: r == selectedRole, disabled: isRoleAlreadyAssigned(r)}">
                                    <span style="flex: 1;">{{r.getName()}}</span>
                                    <span *ngIf="r.getLevel()=='project'" class="badge badge-secondary" style="font-size: 10px; padding: 2px 3px;"
                                        [title]="'ADMINISTRATION.PROJECTS.PROJ_USER.ROLES.DEFINED_AT_PROJ_LEVEL'|translate">P</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Groups -->
            <div *ngIf="isGroupManagementAuthorized()" class="card card-default vbox" style="min-height: 120px; margin-top: 4px">
                <div class="card-body vbox">
                    <div class="hbox">
                        <div class="card card-alt vbox">
                            <div class="card-header">
                                <label style="flex: 1">{{'ADMINISTRATION.PROJECTS.PROJ_USER.GROUPS.ASSIGNED_GROUP'|translate}}:</label>
                                <button *ngIf="puBinding?.getGroup()" class="btn btn-xs btn-light" [ngClass]="{ active: puBinding.isSubjectToGroupLimitations()}" (click)="changeGroupLimitations()" 
                                    [title]="'ADMINISTRATION.PROJECTS.PROJ_USER.GROUPS.RESTRICTIONS_INFO'|translate" [disabled]="selectedUser.isAdmin()">
                                    <span *ngIf="puBinding.isSubjectToGroupLimitations()" class="greenText" style="font-weight: bold">{{'ADMINISTRATION.PROJECTS.PROJ_USER.GROUPS.RESTRICTIONS_APPLIED'|translate}}</span>
                                    <span *ngIf="!puBinding.isSubjectToGroupLimitations()" class="grayText">{{'ACTIONS.APPLY_RESTRICTIONS'|translate}}</span>
                                </button>
                            </div>
                            <div class="card-body vbox scrollableContainer">
                                <ng-container *ngIf="puBinding">
                                    <div *ngIf="puBinding.getGroup()" class="listItem" [ngClass]="{active: selectedUserGroup}"
                                        (click)="selectUserGroup(puBinding.getGroup())">
                                        {{puBinding.getGroup().shortName}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div style="align-self: center; margin: 5px;">
                            <button class="btn btn-light btn-sm btn-block" (click)="assignGroup()" [disabled]="!selectedGroup || !puBinding">
                                <span class="fas fa-chevron-left"></span> {{'ACTIONS.ASSIGN'|translate}}
                            </button>
                            <button class="btn btn-light btn-sm btn-block"  (click)="removeGroup()" [disabled]="!selectedUserGroup">
                                {{'ACTIONS.REMOVE'|translate}} <span class="fas fa-chevron-right"></span>
                            </button>
                        </div>
                        <div class="card card-alt vbox" style="margin: 0px">
                            <div class="card-header">
                                <label>{{'ADMINISTRATION.PROJECTS.PROJ_USER.GROUPS.AVAILABLE_GROUPS'|translate}}:</label>
                            </div>
                            <div class="card-body vbox scrollableContainer">
                                <div *ngFor="let g of groupList" class="listItem" (click)="selectGroup(g)"
                                    [ngClass]="{active: g == selectedGroup, disabled: isGroupAlreadyAssigned(g)}" >
                                    {{g.shortName}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Languages -->
            <div class="card card-default vbox" style="min-height: 320px; margin-top: 4px;">
                <div class="card-body vbox">
                    <div class="hbox">
                        <div class="card card-alt vbox" style="margin: 0px">
                            <div class="card-header">
                                <label>{{'ADMINISTRATION.PROJECTS.PROJ_USER.LANGS.ASSIGNED_LANGUAGES'|translate}}:</label>
                            </div>
                            <div class="card-body vbox scrollableContainer">
                                <ng-container *ngIf="puBinding">
                                    <div *ngFor="let l of puLanguages" class="listItem" [ngClass]="{active: l == selectedUserLang}" 
                                        (click)="selectUserLang(l)">
                                        <lang-item style="flex: 1" [language]="l" showTag="true"></lang-item>
                                        <span *ngIf="l.proficiency" class="fas fa-star" 
                                            [title]="'ADMINISTRATION.PROJECTS.PROJ_USER.LANGS.LANG_PROFICIENCIES_INFO'|translate">
                                        </span>
                                    </div>
                                    <div *ngIf="puLanguages?.length == 0 && selectedUser.isAdmin()" class="alert alert-warning">
                                        <span class="fas fa-exclamation-triangle"></span>
                                        {{'ADMINISTRATION.PROJECTS.PROJ_USER.LANGS.LANGUAGE_ADMIN_INFO'|translate}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="vbox" style="align-self: center; margin: 5px; flex: initial;">
                            <div class="btn-group" style="display: flex; margin-bottom: 5px;">
                                <button class="btn btn-sm btn-light" style="width: 100%" (click)="addLanguage()" [disabled]="!selectedLang || !puBinding">
                                    <span class="fas fa-chevron-left"></span> {{'ACTIONS.ADD'|translate}}
                                </button>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-sm btn-light dropdown-toggle" style="padding: 5px 3px;" data-toggle="dropdown" ngbDropdownToggle>
                                        <span class="fas fa-caret-down fa-sm"></span>
                                    </button>
                                    <div class="dropdown-menu" ngbDropdownMenu>
                                        <a class="dropdown-item" (click)="addAllLanguages()">{{'ACTIONS.ADD_ALL'|translate}}</a>
                                        <a class="dropdown-item" (click)="addProficienciesLangs()">
                                            {{'ADMINISTRATION.ACTIONS.ADD_ALL_PROFICIENCIES'|translate}}
                                            <span class="fas fa-star"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-light" (click)="removeLanguage()" [disabled]="!selectedUserLang">
                                    {{'ACTIONS.REMOVE'|translate}} <span class="fas fa-chevron-right"></span>
                                </button>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-sm btn-light dropdown-toggle" style="padding: 5px 3px;" data-toggle="dropdown" ngbDropdownToggle>
                                        <span class="fas fa-caret-down fa-sm"></span>
                                    </button>
                                    <div class="dropdown-menu" ngbDropdownMenu>
                                        <a class="dropdown-item" (click)="removeAllLanguages()">{{'ACTIONS.REMOVE_ALL'|translate}}</a>
                                        <a class="dropdown-item" (click)="leaveProficienciesLangs()">
                                            {{'ADMINISTRATION.ACTIONS.LEAVE_ONLY_PROFICIENCIES'|translate}}
                                            <span class="fas fa-star"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-alt vbox" style="margin: 0px">
                            <div class="card-header">
                                <label style="flex: 1">{{'ADMINISTRATION.PROJECTS.PROJ_USER.LANGS.AVAILABLE_LANGUAGES'|translate}}:</label>
                                <button class="btn btn-xs btn-light" (click)="toggleFilterProficencies()" [ngClass]="{ active: filterProficiencies }">
                                    <span class="fas fa-star" [title]="'ADMINISTRATION.ACTIONS.SHOW_ONLY_PROFICIENCIES'|translate"></span>
                                </button>
                            </div>
                            <div class="card-body vbox scrollableContainer">
                                <div *ngFor="let l of availableLanguages" class="listItem" [ngClass]="{active: l == selectedLang}" (click)="selectLang(l)">
                                    <lang-item [language]="l" showTag="true" style="flex: 1" [disabled]="isLangAlreadyAssigned(l)"></lang-item>
                                    <span *ngIf="l.proficiency" class="fas fa-star" 
                                        [title]="'ADMINISTRATION.PROJECTS.PROJ_USER.LANGS.LANG_PROFICIENCIES_INFO'|translate">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Templates -->
            <div *ngIf="isLoggedUserAdmin()" class="card card-alt vbox" style="min-height: 420px; margin-top: 4px;">
                <div class="card-header">
                    <label style="flex: 1;">
                        {{'ADMINISTRATION.PROJECTS.PROJ_USER.TEMPLATE.RES_VIEW_TEMPLATE'|translate}}
                    </label>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-light" (click)="storeTemplate()" [title]="'ACTIONS.STORE'|translate">
                                <span class="fas fa-download"></span>
                            </button>
                            <button class="btn btn-light" (click)="loadTemplate()" [title]="'ACTIONS.LOAD'|translate">
                                <span class="fas fa-upload"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body vbox">
                    <div class="alert alert-info" role="alert" style="margin-bottom: 5px;">
                        {{'ADMINISTRATION.PROJECTS.PROJ_USER.TEMPLATE.RES_VIEW_TEMPLATE_DESCRIPTION'|translate}}
                    </div>
                    <partition-filter-editor [(ngModel)]="puTemplate" (ngModelChange)="updateTemplate()"></partition-filter-editor>
                </div>
            </div>

        </div>
    </div>
</div>