<div class="vbox">

    <div class="card vbox">

        <div class="card-body hbox">

            <project-list-panel *ngIf="isAdminLogged" (projectSelected)="selectProject($event)"></project-list-panel>

            <div class="card vbox" style="margin-left: 5px; flex: 4;">

                <div class="card-header" style="justify-content: flex-end">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-xs">
                            <button *ngIf="isRoleMgmtAuthorized && isGroupMgmtAuthorized" class="btn btn-light" [ngClass]="{ active: selectedAspect == projUsersAspect }"
                                style="padding: 1px 5px;" (click)="selectedAspect = projUsersAspect">{{projUsersAspect}}</button>
                            <button *ngIf="isGroupMgmtAuthorized" class="btn btn-light" [ngClass]="{ active: selectedAspect == projGroupsAspect }"
                                style="padding: 1px 5px;" (click)="selectedAspect = projGroupsAspect">{{projGroupsAspect}}</button>
                            <button *ngIf="isProjectMgmtAuthorized" class="btn btn-light" [ngClass]="{ active: selectedAspect == projSettingsAspect }" 
                                style="padding: 1px 5px;" (click)="selectedAspect = projSettingsAspect">{{projSettingsAspect}}</button>
                        </div>
                        <button class="btn btn-xs btn-light" (click)="editACL()" [disabled]="!selectedProject" [title]="'PROJECTS.ACTIONS.EDIT_PROJECT_ACL'|translate">ACL</button>
                    </div>
                </div>

                <div class="card-body vbox">
                    <ng-container *ngIf="selectedProject">
                        <project-users-manager *ngIf="selectedAspect == projUsersAspect" [project]="selectedProject" class="vbox">
                        </project-users-manager>

                        <project-groups-manager *ngIf="selectedAspect == projGroupsAspect" [project]="selectedProject" class="vbox">
                        </project-groups-manager>

                        <project-settings *ngIf="selectedAspect == projSettingsAspect" [project]="selectedProject" class="vbox">
                        </project-settings>
                    </ng-container>
                </div>

            </div>

        </div>

    </div>

</div>