<div class="scrollableContainer">
    <rdf-resource *ngFor="let i of instanceList" [resource]="i" (click)="selectInstance(i)" 
        [ngClass]="{selectedResource : i.getAdditionalProperty('selected')}"></rdf-resource>
    <div *ngIf="instanceList && instanceList.length==0">
        No instances
    </div>
</div>

<div #blockDivInstanceList class="blockingDiv" style="display:none">
    <div class="loadingDiv">
        <div>
            <p>Loading...</p><img src="app/assets/images/loading.gif" />
        </div>
    </div>
</div>