  .wrap {
    text-align: center;
    margin: 2px;
    position: relative;
    margin-top: 3%;
  }
  .links {
    padding: 0 10px;
    display: flex;
    /* justify-content: space-between; */
    position: relative;
  }
  .wrap:before {
    content: '';
    position: absolute;
    top: 100%; /* top:50% for flag in middle of the line*/
    left: 0;
    border-top: 1px solid black;
    background: black;
    width: 100%;
    transform: translateY(-50%);
  } 


.def-wrap{
  display: flex; 
  flex-direction: row; 
  align-items: baseline;
}

.add-button{
  border:none;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
  margin-left: 3px;
}

.add-button:hover,
.add-button:focus,
.add-button:active {
  background: rgba(231, 231, 231, 0.5);
  transition: all 0.5s ease-in;
}

.add-button:focus {
  outline: none;
}

.add-button span{
  color:white;
}

/* .def-button{
  border:none;
  margin-left: 7px;
  background-color:transparent;
}



.def-button:focus{
  outline-color:  rgb(250, 250, 250);
  box-shadow: none;
}

.def-button:hover{
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.def-button span:hover{
  color:#fff;
} */



/* .def-wrap p{
  padding-left: 3px;
  padding-right: 3px;
   min-width: 50px; 
   background-color: rgb(251, 251, 251);
   border: 1px solid rgb(251, 251, 251);
   border-radius: 3px;
}

.def-wrap p:hover{
   border: 1px solid rgb(244, 244, 244);
}

[contenteditable="true"]:focus {
  outline-color:  rgb(244, 244, 244);
}


.def-wrap:hover .def-button{
  background-color: rgb(255, 255, 255) !important;
}

.def-button span{
  color: rgb(226, 224, 224);
}

.def-wrap:hover .def-button span{
  color: black
} */





