
<div class="wrap">
    <div class="links">
        <lang-item class="groupPanel-heading-content" [language]="lang" [showTag]="false" [showName]="false" [size]="'md'"></lang-item>
        <button *ngIf="emptyDef && emptyTerm" (click)="removeBox()" class="btn btn-xs btn-default remove-button"  title="Remove box" >
            <span class="glyphicon glyphicon-remove" style="font-size: 7px;"></span>
        </button>
    </div>
    <div class="btn-group semitransparent" style="display: flex;">
        <button type="button" class="btn btn-xs add-button" (click)="addTermBox()" title="Add new Term" [disabled]="!addLabelAuthorized || emptyTerm">
            <span class="glyphicon glyphicon-plus" style="font-size: 9px;"></span>
        </button>
        <button type="button" class="btn add-button arrow dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li [ngClass]="{ disabled : (!addDefAuthorized || emptyDef) }">
                <a (click)="addDefinitionItem()" >Add definition</a>
            </li>
        </ul>
    </div>
</div>

 
<div class="def-wrap" *ngFor="let def of definitions" >
    <label class="groupPanel-heading-content" style="margin-top: 5px; font-size: 13px;">Definition:</label>
    <text-editable style="flex:1;" [value]="def.object?.getShow()" (valueEdited)="onDefinitionEdited($event,def)"
        [disabled]="!editDefAuthorized || (customRange && !def.object)">
    </text-editable>
    <button *ngIf="customRange && !def.object" (click)="addDefinitionItem()" class="btn btn-xs btn-default add-button" style="margin-left: 3px;"
        [disabled]="!editDefAuthorized">
        <span class="glyphicon glyphicon-plus" style="font-size: 9px;"></span>
    </button>
    <button class="btn btn-xs btn-default minus-button"  (click)="deleteDefinition(def)" title="Delete definition" [disabled]="!deleteDefAuthorized">
        <span class="glyphicon glyphicon-minus" style="font-size: 9px;"></span>
    </button>
</div>

<lang-term *ngFor="let term of terms" [termToShow]="term" (termToDelete)="deleteTerm(term)" [resource]="resource" [lang]="langFromServer" (update)="onTermUpdate()"></lang-term>