<div class="modal-header">
    <h3 class="modal-title text-info">Load Stored Custom Search</h3>
</div>
<div class="modal-body vbox">

    <div class="hbox" style="flex: initial; align-items: center; margin-bottom: 4px;">
        <label>Level:</label>
        <select class="form-control input-sm" style="display: inline-block; margin-left: 4px;" [(ngModel)]="selectedScope" (ngModelChange)="initReferences()">
            <option *ngFor="let s of scopes">{{s}}</option>
        </select>
    </div>

    <div class="panel panel-default vbox">
        <div class="panel-heading">
            <label style="flex: 1;">Stored Custom Search</label>
            <button class="btn btn-xs btn-default" (click)="add()" title="Delete">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>

        <div class="panel-body table-responsive" style="min-height: 80px;">
            <table class="table table-condensed table-hoverable">
                <colgroup>
                    <col>
                    <col style="width: 1%;">
                </colgroup>
                <tbody>
                    <tr *ngFor="let ref of references" (click)="selectReference(ref)" [ngClass]="{active: selectedRef == ref}">
                        <td>{{ref.identifier}}</td>
                        <td>
                            <button class="btn btn-xs btn-default" (click)="deleteReference(ref)" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!selectedRef">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>