<div class="input-group input-group-xs">
    <input #searchinput type="text" class="form-control" placeholder="Search..." 
        (keydown)="searchKeyHandler($event.which, searchinput.value)">
    <div class="input-group-btn dropup">

        <button class="btn btn-default" type="button" (click)="doSearch(searchinput.value)">
            <span class="glyphicon glyphicon-search"></span>
        </button>

        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border-radius: 0px">
            <div *ngIf="activeMatchMode == 'startsWith'" 
                style="font-weight: bold; font-size: 15px; line-height: 1; margin: 0px -2px; margin-top: -2px;">&#945;..</div>
            <div *ngIf="activeMatchMode == 'contains'"
                style="font-weight: bold; font-size: 15px; line-height: 1; margin: 0px -2px; margin-top: -2px;">.&#945;.</div>
            <div *ngIf="activeMatchMode == 'endsWith'" 
                style="font-weight: bold; font-size: 15px; line-height: 1; margin: 0px -2px; margin-top: -2px;">..&#945;</div>
        </button>
        <ul class="dropdown-menu pull-right">
            <li *ngFor="let mode of stringMatchModes">
                <a (click)="updateSearchMode(mode.value, $event)">
                    <span *ngIf="activeMatchMode == mode.value" class="glyphicon glyphicon-ok" style="float: right"></span>
                    <span style="font-weight: bold; font-size: 13px; margin-right: 4px;">{{mode.symbol}}</span>
                    <span>{{mode.show}}</span>
                </a>
            </li>
        </ul>

        <button class="btn btn-default" type="button" (click)="editSettings()">
            <span class="glyphicon glyphicon-cog"></span>
        </button>

    </div>

</div>