<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'ICV.STRUCTURAL.OWL_CONSISTENCY_VIOLATION.INFERENCE_EXPLANATION'|translate}}</h3>
    </div>
    <div class="modal-body scrollableContainer">
        
        <table class="table table-sm">
            <colgroup>
                <col style="width: 33%;">
                <col style="width: 33%;">
                <col style="width: 33%;">
            </colgroup>
            <thead>
                <tr>
                    <th class="text-center">{{'MODELS.RESOURCE.SUBJECT'|translate}}</th>
                    <th class="text-center">{{'MODELS.RESOURCE.PREDICATE'|translate}}</th>
                    <th class="text-center">{{'MODELS.RESOURCE.OBJECT'|translate}}</th>
                </tr>
            </thead>
            <tbody *ngIf="explanation">
                <tr *ngFor="let p of explanation.premises" [ngClass]="{ 'inferred' : p.tripleScope == 'inferred' }">
                    <td class="text-center"><rdf-resource [resource]="p.subject" class="clickable" (click)="onResourceClick(p.subject)"></rdf-resource></td>
                    <td class="text-center"><rdf-resource [resource]="p.predicate" class="clickable" (click)="onResourceClick(p.subject)"></rdf-resource></td>
                    <td class="text-center"><rdf-resource [resource]="p.object" class="clickable" (click)="onResourceClick(p.subject)"></rdf-resource></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-light btn-sm" (click)="ok()">{{'ACTIONS.CLOSE'|translate}}</button>
    </div>
</div>