<div class="card vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">{{'ICV.STRUCTURAL.OWL_CONSISTENCY_VIOLATION.NAME'|translate}}</label>
        <button class="btn btn-xs btn-light" (click)="runIcv()">{{'ACTIONS.RUN'|translate}}</button>
    </div>
    <div class="card-body vbox">

        <div *ngIf="violations" class="row">
            <div class="col-sm-4 text-center">
                <label>{{'MODELS.RESOURCE.SUBJECT'|translate}}</label>
            </div>
            <div class="col-sm-4 text-center">
                <label>{{'MODELS.RESOURCE.PREDICATE'|translate}}</label>
            </div>
            <div class="col-sm-4 text-center">
                <label>{{'MODELS.RESOURCE.OBJECT'|translate}}</label>
            </div>
        </div>

        <div *ngFor="let v of violations" class="card mt-2">
            <div class="card-body">
                <div *ngFor="let t of v.inconsistentTriple2" class="row p-1" [ngClass]="{ 'inferred' : t.tripleScope == 'inferred' }" style="position: relative;">
                    <div class="col-sm-4 text-center"><rdf-resource [resource]="t.subject" class="clickable" (click)="onResourceClick(t.subject)"></rdf-resource></div>
                    <div class="col-sm-4 text-center"><rdf-resource [resource]="t.predicate" class="clickable" (click)="onResourceClick(t.predicate)"></rdf-resource></div>
                    <div class="col-sm-4 text-center"><rdf-resource [resource]="t.object" class="clickable" (click)="onResourceClick(t.object)"></rdf-resource></div>
                    <button *ngIf="t.tripleScope == 'inferred'" class="btn btn-light btn-xs" style="position: absolute; right: 2px;" (click)="showExplanation(t)">
                        <span class="fas fa-question-circle"></span>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>



