<div class="panel panel-default vbox">
    
    <div class="panel-body vbox">

        <table class="table table-condensed table-borderless">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td nowrap>
                        <label>Metadata Vocabulary:</label>
                    </td>
                    <td>
                        <select class="form-control input-sm" [(ngModel)]="selectedExporter" (change)="onExtensionChange()">
                            <option *ngFor="let e of exporters" [ngValue]="e">{{e.name}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="margin-top: 4px;" class="scrollableContainer">
            <settings-renderer-panel [(ngModel)]="selectedExporterSettings"></settings-renderer-panel>

            <settings-renderer-panel *ngIf="extensionPointSettings?.properties.length > 0" style="margin-top: 4px;" [(ngModel)]="extensionPointSettings">
            </settings-renderer-panel>
        </div>

    </div>
    
    <div class="panel-footer">
        <span class="pull-left">(*) Mandatory field</span>
        <button type="submit" class="btn btn-default btn-sm pull-right" (click)="saveSettings()" [disabled]="!selectedExporterSettings">Save</button>
        <div class="col-sm-2 pull-right">
            <div class="input-group">
                <select class="form-control input-sm" [(ngModel)]="selectedExportFormat">
                    <option *ngFor="let f of exportFormats" [ngValue]="f">{{f.name}}</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" (click)="export()" [disabled]="!selectedExporterSettings">
                        Export
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>