<div class="modal-header">
    <h3 class="modal-title">{{'PROJECTS.ACL.PROJECT_ACL'|translate}}</h3>
</div>
<div class="modal-body vbox blockingDivHost">

    <div class="input-group" style="margin-bottom: 4px;">
        <input class="form-control" [placeholder]="'MODELS.PROJECT.CONSUMER'|translate" [(ngModel)]="filterProject">
        <span class="input-group-append">
            <span class="input-group-text">
                <span class="fas fa-filter"></span>
            </span>
        </span>
    </div>

    <div class="card card-default vbox">
        <div class="card-header">
            <label>{{'PROJECTS.ACL.ACL_OF_PROJECT'|translate}} <i>{{project.getName()}}</i></label>
        </div>

        <div class="card-body scrollableContainer">
            <table class="table table-sm table-borderless">
                <tbody>
                    <ng-container *ngFor="let c of consumers">
                        <tr *ngIf="showConsumer(c)">
                            <td>
                                <div class="ellipsable" style="max-width: 180px;">
                                    <label [title]="c.name">{{c.name}}:</label>
                                </div>
                            </td>
                            <td>
                                <select class="form-control form-control-sm" (ngModelChange)="onAccessLevelChange(c, $event)" [(ngModel)]="c.availableACLLevel"
                                    [disabled]="c.name != 'SYSTEM' && universalACLLevel">
                                    <option [ngValue]="nullAccessLevel">---</option>
                                    <option *ngFor="let al of accessLevels" [value]="al">{{al}}</option>
                                </select>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <div *ngIf="lock" class="card-footer">
            <div class="row">
                <label class="col-form-label col-sm-4 text-nowrap">
                    {{'PROJECTS.ACL.UNIVERSAL_ACCESS_LEVEL'|translate}}:
                    <span class="fas fa-info-circle" [title]="'PROJECTS.ACL.UNIVERSAL_ACCESS_LEVEL_INFO'|translate"></span>
                </label>
                <div class="col-sm-8">
                    <select class="form-control form-control-sm" (ngModelChange)="onUniversalAccessLevelChange($event)" [(ngModel)]="universalACLLevel">
                        <option [ngValue]="nullAccessLevel">---</option>
                        <option *ngFor="let al of accessLevels" [value]="al">{{al}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <label class="col-form-label col-sm-4">{{'PROJECTS.ACL.LOCKABLE'|translate}}:</label>
                <div class="col-sm-8">
                    <select class="form-control form-control-sm" (ngModelChange)="onLockLevelChange($event)" [(ngModel)]="lock.availableLockLevel">
                        <option *ngFor="let ll of lockLevels" [value]="ll">{{ll}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div #blockingDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
</div>