<div class="modal-header">
    <h3 class="modal-title">Project ACL</h3>
</div>
<div class="modal-body vbox blockingDivHost">
    <div class="scrollableContainer" style="padding-right: 90px; align-items: center;">
        <table class="table table-condensed table-bordered" style="width: auto; border-top: 0; border-left: 0; border-right: 0;">
            <thead>
                <tr>
                    <th style="vertical-align: bottom;" class="firstCol" style="border-left: 0; border-right: 0; vertical-align: bottom;">
                        <div class="hbox">
                            <div style="flex: 1"><span class="glyphicon glyphicon-chevron-down"></span> Project</div>
                            <div style="margin-left: 15px">Consumer <span class="glyphicon glyphicon-chevron-right"></span></div>
                        </div>
                    </th>
                    <th *ngFor="let cons of consumerList" class="rotate" [title]="cons">
                        <div class="rotated-container">
                            <div class="consumer-container">
                                <span class="consumer-text">{{cons}}</span>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let row of aclTable">
                    <tr>
                        <td style="font-weight: bold;" class="firstCol">
                            <div class="hbox" style="align-items: center;">
                                <div class="ellipsable" style="flex: 1;">{{row.project}}</div>
                                <button class="btn btn-default btn-xs pull-right" style="margin-left: 8px;" title="Edit project ACL" (click)="editProjectACL(row.project)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>

                                <span [class]="row.lock.class" [title]="row.lock.title" style="margin-left: 4px;">
                                    {{row.lock.status.availableLockLevel}}
                                </span>
                            </div>
                        </td>
                        <td *ngFor="let col of row.cols" [class]="col.accessLevelCell.class" [title]="col.accessLevelCell.title">
                            {{col.accessLevelCell.available}}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </div>

    <div #blockingDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
</div>