<div class="d-flex align-items-center">
    <inline-editable-form style="flex: 1" [value]="form" [disabled]="readonly" [textStyle]="inlineEditStyle" [title]="form.id.toNT()" (edited)="onWrittenRepEdited($event)">
    </inline-editable-form>
    <div class="dropdown ml-1" ngbDropdown>
        <button class="btn btn-faded btn-xs dropdown-toggle" data-toggle="dropdown" [disabled]="readonly" ngbDropdownToggle>
            <span class="fas fa-pencil-alt"></span>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" (click)="addMorphosintacticProp()">
                {{'RESOURCE_VIEW.ACTIONS.ADD_MORPHOSYNTACTIC_PROP'|translate}}
            </a>
            <a class="dropdown-item" (click)="addPhoneticRep()">
                {{'RESOURCE_VIEW.ACTIONS.ADD_PHONETIC_REPRESENTATION'|translate}}
            </a>
        </div>
    </div>
    <button *ngIf="!readonly && !lemma" class="btn btn-xs btn-faded ml-1" (click)="deleteForm()" [title]="'ACTIONS.DELETE'|translate" [disabled]="readonly">
        <span class="fas fa-minus"></span>
    </button>
</div>

<!-- Phonetic rep -->
<div class="ml-3">
    <!-- visualization and editing -->
    <phonetic-rep *ngFor="let pr of form.phoneticRep" class="mt-1" [form]="form" [phoneticRep]="pr" (update)="onUpdate()"></phonetic-rep>
    <!-- addition -->
    <phonetic-rep *ngIf="pendingPhoneticRep" class="mt-1" [form]="form" (cancel)="onPendingPhoneticRepCanceled()" (update)="onUpdate()"></phonetic-rep>
</div>

<!-- morphosyntactic properties -->
<div class="ml-3">
    <!-- visualization and editing -->
    <ng-container *ngFor="let mp of form.morphosyntacticProps">
        <morphosyntactic-prop *ngFor="let mv of mp.getObjects()" [form]="form" [property]="mp.getPredicate()" [value]="mv" [readonly]="readonly" (update)="onUpdate()">
        </morphosyntactic-prop>
    </ng-container>
    <!-- addition -->
    <morphosyntactic-prop *ngIf="pendingMorphoProp" [form]="form" (update)="onUpdate()"></morphosyntactic-prop>
</div>