<div class="treeNode" #treeNodeElement>
	<div class="expandCollapseBtnContainer">
        <ng-template [ngIf]="showExpandCollapse()">
            <img *ngIf="!open" src="../../../../assets/images/icons/arrow.png" class="arrow-right" (click)="expandNode().subscribe()">
            <img *ngIf="open" src="../../../../assets/images/icons/arrow.png" (click)="collapseNode()">
        </ng-template>
	</div>
    <rdf-resource [resource]="node" [rendering]="rendering" (click)="selectNode()" 
        [ngClass]="{selectedResource : node.getAdditionalProperty('selected')}"></rdf-resource>
</div>

<div class="subTree" *ngIf="node.getAdditionalProperty('more') == 1">
    <ng-template ngFor let-n [ngForOf]="node.getAdditionalProperty('children')">
        <property-tree-node *ngIf="!n.isDeprecated() || showDeprecated && n.isDeprecated()"
            [node]="n" [rendering]="rendering" [showDeprecated]="showDeprecated" 
            (nodeSelected)="onNodeSelected($event)" (nodeExpandStart)="onNodeExpandStart()" (nodeExpandEnd)="onNodeExpandEnd()">
        </property-tree-node>
    </ng-template>
</div>