<div class="dropdown" ngbDropdown>
    <button class="dropdown-toggle transparentBtn ml-1" data-toggle="dropdown" ngbDropdownToggle [disabled]="readonly">
        <span class="fas fa-caret-down"></span>
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
        <a *ngIf="resource.isURIResource()" class="dropdown-item" [ngClass]="{ disabled : isAlignDisabled }" (click)="alignResource()">
            {{'RESOURCE_VIEW.ACTIONS.ALIGN_WITH_EXTERNAL_RESOURCE'|translate}}
        </a>
        <a *ngIf="isURIResource()" class="dropdown-item" [ngClass]="{ disabled : isSetDeprecatedDisabled }" (click)="setAsDeprecated()">
            {{'RESOURCE_VIEW.ACTIONS.SET_AS_DEPRECATED'|translate}}
        </a>
        <a *ngIf="showInferred" class="dropdown-item" [ngClass]="{ disabled : isAssertInferredDisabled }" (click)="assertInferredStmts()">
            {{'RESOURCE_VIEW.ACTIONS.ASSERT_INFERRED_STATEMENTS'|translate}}
        </a>
        <a *ngIf="resource.getRole() == 'xLabel'" class="dropdown-item" [ngClass]="{ disabled : isSpawnFromLabelDisabled }" (click)="spawnNewConceptWithLabel()">
            {{'RESOURCE_VIEW.ACTIONS.SPAWN_CONCEPT_FROM_XLABEL'|translate}}
        </a>
        <a *ngIf="isOpenDataGraphEnabled()" class="dropdown-item" (click)="openDataGraph()">
            {{'RESOURCE_VIEW.ACTIONS.SHOW_IN_DATA_GRAPH'|translate}}
        </a>
    </div>
</div>