<div class="dropdown" ngbDropdown>
    <button class="dropdown-toggle transparentBtn ml-1" data-toggle="dropdown" ngbDropdownToggle [disabled]="readonly">
        <span class="fas fa-caret-down"></span>
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
        <a *ngIf="resource.isURIResource()" class="dropdown-item" [ngClass]="{ disabled : isAlignDisabled }" (click)="alignResource()">
            Align with external resource
        </a>
        <a *ngIf="isURIResource()" class="dropdown-item" [ngClass]="{ disabled : isSetDeprecatedDisabled }" (click)="setAsDeprecated()">
            Set as deprecated
        </a>
        <a *ngIf="showInferred" class="dropdown-item" [ngClass]="{ disabled : isAssertInferredDisabled }" (click)="assertInferredStmts()">
            Assert all the inferred statements</a>
        <a *ngIf="resource.getRole() == 'xLabel'" class="dropdown-item" [ngClass]="{ disabled : isSpawnFromLabelDisabled }" (click)="spawnNewConceptWithLabel()">
            Spawn new concept from this xLabel
        </a>
        <a *ngIf="isOpenDataGraphEnabled()" class="dropdown-item" (click)="openDataGraph()">
            Show in data-oriented graph
        </a>
    </div>
</div>