<div class="card vbox blockingDivHost">
    <div class="card-header">
        <div class="hbox" style="align-items: center">
            <rdf-resource *ngIf="resource" [resource]="resource"></rdf-resource>
            <resource-rename [resource]="resource" style="flex: 1;" [readonly]="readonly || disabled" (update)="buildResourceView(resource)">
            </resource-rename>

            <button class="btn btn-light btn-xs btn-bright ml-2" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()" [disabled]="disabled">
                <span class="fas fa-font"></span>
            </button>
            <button class="btn btn-light btn-xs btn-bright ml-2" [ngClass]="{active: showInferred}" [title]="'RESOURCE_VIEW.ACTIONS.SHOW_HIDE_INFERRED'|translate" (click)="switchInferred()" [disabled]="disabled">
                <span *ngIf="showInferred" class="fas fa-eye"></span>
                <span *ngIf="!showInferred" class="fas fa-eye-slash"></span>
            </button>
            <button class="btn btn-light btn-xs btn-bright ml-2" [ngClass]="{active: valueFilterLangEnabled}" [title]="'RESOURCE_VIEW.ACTIONS.TOGGLE_VALUE_FILTER_LANG'|translate" (click)="switchValueFilterLang()" [disabled]="disabled">
                <span class="fas fa-filter"></span>
            </button>

            <button *ngIf="notificationsAvailable" class="btn btn-light btn-xs btn-bright ml-2" [ngClass]="{active: isWatching}"
                (click)="changeNotificationStatus()" [title]="'RESOURCE_VIEW.ACTIONS.TOGGLE_NOTIFICATIONS'|translate" [disabled]="disabled">
                <span class="fas fa-bell"></span>
            </button>

            <div *ngIf="timeActionsEnabled" class="dropdown ml-2" ngbDropdown>
                <button class="btn btn-light btn-xs dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle (click)="initVersions()" [title]="'RESOURCE_VIEW.TIME_MACHINE.TIME_MACHINE'|translate"
                    [disabled]="(!versionList || versionList.length == 0) && !timeMachineAvailable || disabled">
                    <span class="far fa-clock"></span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <ng-container *ngIf="versionList?.length > 0">
                        <h6 class="dropdown-header">{{'RESOURCE_VIEW.TIME_MACHINE.CHANGE_VERSION'|translate}}</h6>
                        <a class="dropdown-item" (click)="switchToVersion()">
                            <div class="d-flex align-items-center">
                                <span style="flex: 1;">{{'RESOURCE_VIEW.TIME_MACHINE.CURRENT'|translate}}</span>
                                <span *ngIf="!activeVersion" class="fas fa-check ml-2"></span>
                            </div>
                        </a>
                        <a *ngFor="let v of versionList" class="dropdown-item" (click)="switchToVersion(v)">
                            <div class="d-flex align-items-center">
                                <span style="flex: 1;">{{v.dateTimeLocal}} - {{v.versionId}}</span>
                                <span *ngIf="v == activeVersion" class="fas fa-check ml-2"></span>
                            </div>

                        </a>
                    </ng-container>
                    <ng-container *ngIf="timeMachineAvailable && !activeVersion">
                        <a class="dropdown-header" (click)="timeMachine()">
                            {{'RESOURCE_VIEW.TIME_MACHINE.TRAVER_TO_TIME'|translate}}
                        </a>
                    </ng-container>
                </div>
            </div>

            <div *ngIf="collaborationAvailable" class="dropdown ml-2" ngbDropdown>
                <button class="btn btn-light btn-xs dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle [title]="'COLLABORATION.ACTIONS.SHOW_ISSUES'|translate" [disabled]="disabled">
                    <span [class]="'fas fa-exclamation-circle ' + issuesStruct.btnClass"></span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a *ngFor="let i of issuesStruct.issues" class="dropdown-item hbox align-items-center">
                        <a style="flex: 1;" [href]="i.getUrl()" target="_blank" [title]="i.getSummary()">
                            {{i.getKey()}}
                            <div [class]="'badge float-right ' + i.getStatusClass()" style="font-size: 100%">{{i.getStatus()}}</div>
                        </a>
                        <button class="btn btn-light btn-xs ml-1" (click)="unassignIssue(i)" [title]="'COLLABORATION.ACTIONS.UNASSIGN_ISSUE'|translate">
                            <span class="far fa-trash-alt"></span>
                        </button>
                    </a>
                    <div *ngIf="issuesStruct.issues" class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="createIssue()">{{'COLLABORATION.ACTIONS.CREATE_ISSUE'|translate}}</a>
                    <a class="dropdown-item" (click)="assignToIssue()">{{'COLLABORATION.ACTIONS.ASSIGN_TO_ISSUE'|translate}}</a>
                </div>
            </div>

            <button class="btn btn-light btn-xs ml-2" [title]="'ACTIONS.REFRESH'|translate" (click)="buildResourceView(resource)" [disabled]="disabled">
                <span class="fas fa-redo"></span>
            </button>

            <button *ngIf="settingsAvailable" class="btn btn-light btn-xs ml-2" [title]="'COMMONS.SETTINGS'|translate" (click)="openSettings()" [disabled]="disabled">
                <span class="fas fa-cog"></span>
            </button>

            <res-view-menu [resource]="resource" [rendering]="rendering" [showInferred]="showInferred" [readonly]="readonly || disabled" [projectCtx]="projectCtx"
                (update)="buildResourceView(resource)" (assertInferred)="assertInferredStatements()"></res-view-menu>
        </div>
    </div>
    <div class="card-body scrollableContainer">
        <div *ngIf="unauthorizedResource" class="alert alert-danger">
            {{'RESOURCE_VIEW.STATUS.UNAUTHORIZED_RESOURCE'|translate}}
        </div>
        <div *ngIf="unexistingResource" class="alert alert-danger">
            {{'RESOURCE_VIEW.STATUS.RESOURCE_NOT_EXISTING'|translate}}
            <ng-container *ngIf="availablePosition?.length > 1">
                <span>({{resourcePosition.serialize()}})</span>
                <div class="mt-3">
                    {{'RESOURCE_VIEW.ACTIONS.TRY_DIFFERENT_POSITIONS'|translate}}
                    <ul class="my-2">
                        <li *ngFor="let pos of availablePosition">
                            <a class="alert-link mr-2" href="javascript:void(0)" (click)="forcePosition(pos)">
                                <ng-container *ngIf="pos.isLocal()">{{pos.project}}</ng-container>
                                <ng-container *ngIf="pos.isRemote()">{{pos.datasetMetadata.getShow()}}</ng-container>
                            </a>
                            <span class="badge badge-light">{{pos.position}}</span>
                        </li>
                    </ul>
                </div>
            </ng-container>
        </div>
        <div *ngIf="unknownHost" class="alert alert-danger">
            {{'RESOURCE_VIEW.STATUS.RESOURCE_UNKNOWN_HOST'|translate}}
        </div>
        <ng-container *ngIf="!unexistingResource && !unknownHost">
            <types-renderer *ngIf="resViewSections['types']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['types'] }"
                [pred-obj-list]="resViewSections['types']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </types-renderer>
            <class-axiom-renderer *ngIf="resViewSections['classaxioms']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['classaxioms'] }"
                [pred-obj-list]="resViewSections['classaxioms']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </class-axiom-renderer>
            <top-concepts-renderer *ngIf="resViewSections['topconceptof']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['topconceptof'] }"
                [pred-obj-list]="resViewSections['topconceptof']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </top-concepts-renderer>
            <schemes-renderer *ngIf="resViewSections['schemes']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['schemes'] }"
                [pred-obj-list]="resViewSections['schemes']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </schemes-renderer>
            <broaders-renderer *ngIf="resViewSections['broaders']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['broaders'] }"
                [pred-obj-list]="resViewSections['broaders']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </broaders-renderer>
            <superproperties-renderer *ngIf="resViewSections['superproperties']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['superproperties'] }"
                [pred-obj-list]="resViewSections['superproperties']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </superproperties-renderer>
            <equivalent-properties-renderer *ngIf="resViewSections['equivalentProperties']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['equivalentProperties'] }"
                [pred-obj-list]="resViewSections['equivalentProperties']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </equivalent-properties-renderer>
            <disjoint-properties-renderer *ngIf="resViewSections['disjointProperties']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['disjointProperties'] }"
                [pred-obj-list]="resViewSections['disjointProperties']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </disjoint-properties-renderer>
            <property-chain-renderer *ngIf="resViewSections['subPropertyChains']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['subPropertyChains'] }"
                [pred-obj-list]="resViewSections['subPropertyChains']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </property-chain-renderer>
            <constituents-renderer *ngIf="resViewSections['constituents']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['constituents'] }"
                [pred-obj-list]="resViewSections['constituents']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </constituents-renderer>
            <subterms-renderer *ngIf="resViewSections['subterms']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['subterms'] }"
                [pred-obj-list]="resViewSections['subterms']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </subterms-renderer>
            <domains-renderer *ngIf="resViewSections['domains']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['domains'] }"
                [pred-obj-list]="resViewSections['domains']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </domains-renderer>
            <ranges-renderer *ngIf="resViewSections['ranges']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['ranges'] }"
                [pred-obj-list]="resViewSections['ranges']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </ranges-renderer>
            <property-facets-renderer *ngIf="resViewSections['facets'] && propertyFacets" class="partition-renderer" [ngStyle]="{ order: partitionOrder['facets'] }"
                [pred-obj-list]="resViewSections['facets']" [facets]="propertyFacets" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </property-facets-renderer>
            <datatype-definition-renderer *ngIf="resViewSections['datatypeDefinitions']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['datatypeDefinitions'] }"
                [pred-obj-list]="resViewSections['datatypeDefinitions']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </datatype-definition-renderer>
            <lexicalizations-renderer *ngIf="resViewSections['lexicalizations']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['lexicalizations'] }"
                [pred-obj-list]="resViewSections['lexicalizations']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </lexicalizations-renderer>
            <lexical-forms-renderer *ngIf="resViewSections['lexicalForms']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['lexicalForms'] }"
                [pred-obj-list]="resViewSections['lexicalForms']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </lexical-forms-renderer>
            <lexical-senses-renderer *ngIf="resViewSections['lexicalSenses']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['lexicalSenses'] }"
                [pred-obj-list]="resViewSections['lexicalSenses']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </lexical-senses-renderer>
            <denotations-renderer *ngIf="resViewSections['denotations']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['denotations'] }"
                [pred-obj-list]="resViewSections['denotations']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </denotations-renderer>
            <evoked-lexical-concepts-renderer *ngIf="resViewSections['evokedLexicalConcepts']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['evokedLexicalConcepts'] }"
                [pred-obj-list]="resViewSections['evokedLexicalConcepts']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </evoked-lexical-concepts-renderer>
            <notes-renderer *ngIf="resViewSections['notes']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['notes'] }"
                [pred-obj-list]="resViewSections['notes']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </notes-renderer>
            <members-renderer *ngIf="resViewSections['members']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['members'] }"
                [pred-obj-list]="resViewSections['members']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </members-renderer>
            <members-ordered-renderer *ngIf="resViewSections['membersOrdered']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['membersOrdered'] }"
                [pred-obj-list]="resViewSections['membersOrdered']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </members-ordered-renderer>
            <label-relations-renderer *ngIf="resViewSections['labelRelations']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['labelRelations'] }"
                [pred-obj-list]="resViewSections['labelRelations']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </label-relations-renderer>
            <form-representations-renderer *ngIf="resViewSections['formRepresentations']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['formRepresentations'] }"
                [pred-obj-list]="resViewSections['formRepresentations']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </form-representations-renderer>
            <form-based-preview-renderer *ngIf="resViewSections['formBasedPreview']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['formBasedPreview'] }"
                [pred-obj-list]="resViewSections['formBasedPreview']" [resource]="resource" [rendering]="rendering" [readonly]="true"
                (dblclickObj)="objectDblClick($event)">
            </form-based-preview-renderer>
            <imports-renderer *ngIf="resViewSections['imports']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['imports'] }"
                [pred-obj-list]="resViewSections['imports']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </imports-renderer>
            <rdfs-members-renderer *ngIf="resViewSections['rdfsMembers']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['rdfsMembers'] }"
                [pred-obj-list]="resViewSections['rdfsMembers']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </rdfs-members-renderer>
            <properties-renderer *ngIf="resViewSections['properties']" class="partition-renderer" [ngStyle]="{ order: partitionOrder['properties'] }"
                [pred-obj-list]="resViewSections['properties']" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </properties-renderer>

            <ng-container *ngFor="let p of customSections">
                <custom-partition-renderer *ngIf="resViewSections[p]" [partition]="p" class="partition-renderer" [ngStyle]="{ order: partitionOrder[p] }"
                    [pred-obj-list]="resViewSections[p]" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                    (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
                </custom-partition-renderer>
            </ng-container>

        </ng-container>
    </div>
    <div class="card-footer d-flex align-items-center" style="min-height: 32px;">
        <div class="flex-grow-1 mr-3">
            <div *ngIf="resViewMode == 'splitted'" class="input-group input-group-sm">
                <input #addrBtn class="form-control" [(ngModel)]="promptedAddress" (keyup.enter)="describeAddress(); addrBtn.blur()" [placeholder]="'RESOURCE_VIEW.MISC.PROMPT_IRI_TO_VIEW'|translate">
                <span class="input-group-append">
                    <button class="btn btn-light" (click)="describeAddress()" [disabled]="!promptedAddress">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div *ngIf="resourcePosition" class="float-right">
            <div ngbDropdown placement="top-right">
                <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" ngbDropdownToggle style="padding: 0px; border: none; background-color: transparent;" [disabled]="disabled">
                    <span [ngSwitch]="resource.getAdditionalProperty('accessMethod')">
                        {{'STATUS.STATUS'|translate}}:
                        <ng-container *ngSwitchCase="'local'">
                            <img *ngIf="resourcePositionLocalProj" src="./assets/images/icons/local_current_project.png" style="width: 11px; margin-bottom: 3px;">
                            <img *ngIf="!resourcePositionLocalProj" src="./assets/images/icons/local_other_project.png" style="width: 11px; margin-bottom: 3px;">
                        </ng-container>
                        <span *ngSwitchCase="'dereferenciation'" class="fas fa-download"></span>
                        <img *ngSwitchCase="'sparql'" src="./assets/images/icons/res/ontology.png" style="width: 11px; margin-bottom: 3px;">
                        <img *ngSwitchCase="'sparql-degraded'" src="./assets/images/icons/res/ontology.png" style="width: 11px; margin-bottom: 3px; opacity: .5;">
                    </span>
                    <span *ngIf="resourcePosition.isUnknown()" style="font-weight: 900; color: red;" [title]="'RESOURCE_VIEW.STATUS.UNKNOWN_POSITION'|translate">!</span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" style="cursor: initial; background-color: initial;">
                        <label>{{'RESOURCE_VIEW.STATUS.ACCESS_METHOD'|translate}}:</label>
                        {{resource.getAdditionalProperty('accessMethod')}}
                    </a>
                    <a *ngIf="resourcePosition.isLocal()" class="dropdown-item" style="cursor: initial; background-color: initial;">
                        <label *ngIf="resourcePositionLocalProj">{{'RESOURCE_VIEW.STATUS.LOCAL_PROJECT'|translate}}: </label>
                        <label *ngIf="!resourcePositionLocalProj">{{'RESOURCE_VIEW.STATUS.OTHER_LOCAL_PROJECT'|translate}}: </label>
                        {{resourcePositionDetails}}
                    </a>
                    <a *ngIf="resourcePosition.isRemote()" class="dropdown-item" style="cursor: initial; background-color: initial;">
                        <label>{{'RESOURCE_VIEW.STATUS.REMOTE_DATASET'|translate}}: </label>
                        {{resourcePositionDetails}}
                    </a>
                    <a *ngIf="resourcePosition.isUnknown()" class="dropdown-item" style="cursor: initial; background-color: initial;">
                        <label>{{'RESOURCE_VIEW.STATUS.REMOTE_DATASET'|translate}}: </label>
                        Unknown, <a (click)="discoverDataset()">discover</a>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div #blockDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>