<div *ngIf="schemeChangeable" style="padding: 3px; border-bottom: 1px solid #ddd; display: flex; align-items: center">
    <span style="white-space: nowrap; margin: 0px 3px;">Concept Scheme:</span>
    <select class="form-control input-xs" [(ngModel)]="selectedSchemeUri" (ngModelChange)="onSchemeChange()">
        <option value="---">no-scheme</option>
        <option *ngFor="let s of schemeList" [value]="s.getURI()">{{s.getURI()}}</option>
    </select>
</div>

<div class="scrollableContainer">
    <concept-tree-node *ngFor="let r of roots" [node]="r" [scheme]="scheme" 
        (nodeClicked)="onNodeClicked($event)" (nodeCtrlClicked)="onNodeCtrlClicked($event)">
    </concept-tree-node>
</div>

<div #blockDivTree class="blockingDiv" style="display:none">
    <div class="loadingDiv">
        <div>
            <p>Loading...</p><img src="app/assets/images/loading.gif" />
        </div>
    </div>
</div>