<div class="container-fluid">

    <div class="dropdown float-left" ngbDropdown>
        <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" (click)="onAboutMenuOpen()"
            ngbDropdownToggle>
            About VocBench
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" href="http://vocbench.uniroma2.it/" target="_blank">
                <span class="fas fa-globe-europe" style="margin-right: 5px"></span>VocBench website
            </a>
            <a class="dropdown-item" href="http://vocbench.uniroma2.it/aboutus/" target="_blank">
                <span class="fas fa-comment-alt" style="margin-right: 5px"></span>Contact us
            </a>
            <a class="dropdown-item" href="http://vocbench.uniroma2.it/support/" target="_blank">
                <span class="fas fa-question-circle" style="margin-right: 5px"></span>Support
            </a>
            <a *ngIf="privacyStatementAvailable" class="dropdown-item" (click)="downloadPrivacyStatement()">
                <span class="fas fa-download" style="margin-right: 5px"></span>Privacy statement
            </a>
        </div>
    </div>

    <div class="hbox float-right">

        <div *ngIf="isUserLogged()" class="hbox ml-2" style="align-items: center;">
            <div style="display:flex; align-items: center">
                <label style="margin-right: 2px;">Current project:</label>
                <div class="btn-group btn-group-xs" role="group">
                    <a href="#" class="btn btn-light disabled" style="pointer-events: none; opacity: initial" role="button">
                        <ng-template [ngIf]="isProjectAccessed()">
                            {{currentProject.getName()}}
                        </ng-template>
                        <ng-template [ngIf]="!isProjectAccessed()">
                            ------
                        </ng-template>
                    </a>
                    <button class="btn btn-light" style="padding-left: 2px;" (click)="changeProject()"
                        title="Change project">
                        <span class="far fa-list-alt" style="line-height: 1"></span>
                    </button>
                </div>
            </div>
            <div *ngIf="getCtxVersion()" class="ml-2" style="display:flex; align-items: center">
                <label style="margin-right: 2px;">ver:</label>
                <span>{{getCtxVersion().versionId}}</span>
            </div>
        </div>

        <!--Configuration of project data, not available when there is no project accessed-->
        <div *ngIf="isUserLogged() && isProjectAccessed()" class="ml-4">
            <div class="dropdown float-right" ngbDropdown>
                <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" (click)="onGlobalDataManagementMenuOpen()" ngbDropdownToggle>
                    Global Data Management
                    <span class="fas fa-caret-down ml-1"></span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a [routerLink]="['/Config/LoadData']" class="dropdown-item"
                        [ngClass]="{ disabled : !loadDataAuthorized }">
                        <span class="fas fa-upload" style="margin-right: 5px"></span>Load data
                    </a>
                    <a [routerLink]="['/Config/ExportData']" class="dropdown-item"
                        [ngClass]="{ disabled : !exportDataAuthorized }">
                        <span class="fas fa-download" style="margin-right: 5px"></span>Export data
                    </a>
                    <a (click)="clearData()" class="dropdown-item" [ngClass]="{ disabled : !clearDataAuthorized }">
                        <span class="fas fa-eraser" style="margin-right: 5px"></span>Clear data
                    </a>
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="['/Config/Versioning']" class="dropdown-item"
                        [ngClass]="{ disabled : !versioningAuthorized }">
                        <span class="far fa-clock" style="margin-right: 5px"></span>Versioning
                    </a>
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="['/Config/Refactor']" class="dropdown-item">
                        <span class="fas fa-retweet" style="margin-right: 5px"></span>Refactor
                    </a>
                    <ng-container *ngIf="shaclEnabled">
                        <div class="dropdown-divider"></div>
                        <a (click)="loadShacleShapes()" class="dropdown-item"
                            [ngClass]="{ disabled : !loadShapesAuthorized }">
                            <span class="fas fa-upload" style="margin-right: 5px"></span>Load shapes
                        </a>
                        <a (click)="exportShacleShapes()" class="dropdown-item"
                            [ngClass]="{ disabled : !exportShapesAuthorized }">
                            <span class="fas fa-download" style="margin-right: 5px"></span>Export shapes
                        </a>
                        <a (click)="clearShacleShapes()" class="dropdown-item"
                            [ngClass]="{ disabled : !clearShapesAuthorized }">
                            <span class="fas fa-eraser" style="margin-right: 5px"></span>Clear shapes
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>

    </div>

</div>