<div class="container-fluid">
    
    <div class="dropdown pull-left">
        <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" (click)="onAboutMenuOpen()">
            About VocBench
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="http://vocbench.uniroma2.it/" target="_blank">
                    <span class="glyphicon glyphicon-globe" style="margin-right: 5px"></span>VocBench website
                </a>
            </li>
            <li>
                <a href="http://vocbench.uniroma2.it/aboutus/" target="_blank">
                    <span class="glyphicon glyphicon-comment" style="margin-right: 5px"></span>Contact us
                </a>
            </li>
            <li>
                <a href="http://vocbench.uniroma2.it/support/" target="_blank">
                    <span class="glyphicon glyphicon-question-sign" style="margin-right: 5px"></span>Support
                </a>
            </li>
            <li *ngIf="privacyStatementAvailable">
                <a (click)="downloadPrivacyStatement()">
                    <span class="glyphicon glyphicon-download-alt" style="margin-right: 5px"></span>Privacy statement
                </a>
            </li>
        </ul>
    </div>
    
    <!--Configuration of project data, not available when there is no project accessed-->
    <div *ngIf="isUserLogged() && isProjectAccessed()" class="pull-right">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown">
                Global Data Management
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li [ngClass]="{ disabled : !isLoadDataAuthorized() }">
                    <a [routerLink]="['/Config/LoadData']">
                        <span class="glyphicon glyphicon-open" style="margin-right: 5px"></span>Load data
                    </a>
                </li>
                <li [ngClass]="{ disabled : !isExportDataAuthorized() }">
                    <a [routerLink]="['/Config/ExportData']">
                        <span class="glyphicon glyphicon-save" style="margin-right: 5px"></span>Export data
                    </a>
                </li>
                <li [ngClass]="{ disabled : !isClearDataAuthorized() }">
                    <a (click)="clearData()">
                        <span class="glyphicon glyphicon-floppy-remove" style="margin-right: 5px"></span>Clear data
                    </a>
                </li>
                <li [ngClass]="{ disabled : !isVersioningAuthorized() }">
                    <a [routerLink]="['/Config/Versioning']">
                        <span class="glyphicon glyphicon-time" style="margin-right: 5px"></span>Versioning
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/Config/Refactor']">
                        <span class="glyphicon glyphicon-retweet" style="margin-right: 5px"></span>Refactor
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="isUserLogged()" class="pull-right hbox" style="margin-right: 12px; align-items: center;">

        <div class="pull-right" style="display:flex; align-items: center">
            <label style="margin-right: 2px;">Current project:</label>
            <div class="btn-group btn-group-xs" role="group">
                <a href="#" class="btn btn-default disabled" style="pointer-events: none; opacity: initial" role="button">
                    <ng-template [ngIf]="isProjectAccessed()">
                        {{currentProject.getName()}}
                    </ng-template>
                    <ng-template [ngIf]="!isProjectAccessed()">
                        ------
                    </ng-template>
                </a>
                <button class="btn btn-default" style="padding-left: 2px;" (click)="changeProject()" title="Change project">
                    <span class="glyphicon glyphicon-list-alt" style="line-height: 1"></span>
                </button>
            </div>
        </div>

        <div *ngIf="getCtxVersion()" class="pull-right" style="margin-left: 4px; display:flex; align-items: center">
            <label style="margin-right: 2px;">ver:</label>
            <span>{{getCtxVersion().versionId}}</span>
        </div>

    </div>
    
</div>