<div class="cf-table">
    <table class="table table-sm">
        <thead>
            <tr>
                <th></th>
                <th *ngFor="let h of headers" [title]="h.toNT()">
                    {{h.qname}}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td style="width: 1%;">
                    <button class="btn btn-transparent btn-xs mr-2" (click)="valueDblClick(row.describedObject)" [title]="row.describedObject.toNT()">
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </button>
                </td>
                <td *ngFor="let cell of row.cells">
                    <cf-table-cell *ngIf="cell.value" [cell]="cell" [subject]="row.describedObject" [readonly]="readonly" [rendering]="rendering"
                        (update)="onUpdate()" (dblClick)="valueDblClick($event)">
                    </cf-table-cell>
                </td>
                <td style="width: 1%;">
                    <button class="btn btn-transparent btn-xs ml-2" [title]="'ACTIONS.DELETE'|translate" [disabled]="deleteRowDisabled" (click)="deleteRow(row)">
                        <i class="fas fa-minus fa-sm"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>