<div class="panel panel-default vbox">
    <div class="panel-heading" style="display: flex;">
        <label style="flex: 1">Collaboration System</label>

        <button class="btn btn-default btn-xs" (click)="initIssueList()" [disabled]="!issues">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <div class="dropdown" style="margin-left: 3px">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li *ngIf="isCollProjManagementAuthorized()"><a (click)="openProjectConfig()">Project configuration</a></li>
                <li><a (click)="openUserConfig()">User configuration</a></li>
                <li *ngIf="isCollProjManagementAuthorized()" [ngClass]="{ disabled : !csProjectLinked }">
                    <a (click)="assignProject()">Assign CS project</a>
                </li>
            </ul>
        </div>

    </div>
    
    <div class="panel-body vbox blockingDivHost">

        <!-- Mandatory settings not configured (missing serverURL) -->
        <div *ngIf="!projSettingsConfigured; else elseBlock1" class="alert alert-warning" style="margin: 3px;">
            No Collaboration System has been configured. 
            <span *ngIf="isCollProjManagementAuthorized()">
                Please, <a style="cursor: pointer" (click)="openProjectConfig()">configure</a> a CS.
            </span>
        </div>
        <ng-template #elseBlock1>
            <!-- Mandatory settings configured, Mandatory preferences not configured (missing credentials) -->
            <div *ngIf="!userSettingsConfigured; else elseBlock2" class="alert alert-warning" style="margin: 3px;">
                You need to be logged to the CS in order to see the issues list. Please, 
                <a style="cursor: pointer" (click)="openUserConfig()">provide</a> your credentials.
            </div>

            <ng-template #elseBlock2>
                <!-- Mandatory settings and preferences configured, but no project is linked (optional settings) -->
                <div *ngIf="!csProjectLinked; else elseBlock3" class="alert alert-warning" style="margin: 3px;">
                    There is no CS project assigned to this Vocbench project.
                    <span *ngIf="isCollProjManagementAuthorized()">
                        <a style="cursor: pointer" (click)="assignProject()">Create or assign</a> a project.
                    </span>
                </div>

                <ng-template #elseBlock3>
                    <!-- All configured: mandatory settings and preferences, project linked -->
                    <div *ngIf="!csWorking" class="alert alert-warning" style="margin: 3px;">
                        Collaboration System seems to be configured but it is not working. 
                        Please, check that the configuration is valid, or be sure that the CS server is running.
                    </div>
                </ng-template>

            </ng-template>

        </ng-template>

        
        <table *ngIf="issues" class="table table-condensed table-hoverable">
            <colgroup>
                <col style="width: 1%">
                <col style="width: 50%">
                <col>
                <col style="width: 1%">
            </colgroup>
            <tbody>
                <tr *ngFor="let i of issues">
                    <td nowrap>
                        <a [href]="i.getUrl()" target="_blank">{{i.getKey()}}</a>
                    </td>
                    <td>{{i.getSummary()}}</td>
                    <td>
                        <rdf-resource *ngFor="let r of i.getResources()" [resource]="r" class="clickable" (click)="onResourceClick(r)"></rdf-resource>
                    </td>
                    <td class="text-center">
                        <span [class]="'label ' + i.getStatusClass()" style="font-size: 100%">{{i.getStatus()}}</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div #blockingDiv class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="../../assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>
    
</div>