<div class="modal-header">
    <h3 class="modal-title">Add concepts to scheme</h3>
</div>
<div class="modal-body vbox blockingDivHost">

    <div class="alert alert-warning">
        You are going to add the concept '{{concept.getShow()}}' and its descendants to the scheme '{{scheme.getShow()}}'.
        Are you sure?<br>
    </div>

    <div class="form-check mt-3 mb-1 mr-2" style="align-self: flex-end;">
        <input class="form-check-input" type="checkbox" [(ngModel)]="setTopConcept">
        <label class="form-check-label">
            Set top concept
            <span class="fas fa-info-circle ml-1" title="If checked, set the provided concept as top concept of the target scheme"></span>
        </label>
    </div>
    
    <div *ngIf="schemeList.length > 0" class="groupPanel vbox">
        <div class="groupPanel-heading">
            <div class="expandCollapseBtnContainer groupPanel-heading-content" style="margin: 0px">
                <img src="../../../../../assets/images/icons/arrow.png" (click)="collapsed = !collapsed" [ngClass]="{'arrow-right': collapsed}">
            </div>
            <span style="flex: 1">
                <label class="groupPanel-heading-content">Schemes filter:</label>
            </span>
        </div>
        <div class="groupPanel-body vbox">
            <ng-template [ngIf]="!collapsed">

                <div class="alert alert-info">
                    Only the concepts (among the descendants of '{{concept.getShow()}}') belonging to at least one of the following
                    schemes will be added to the target scheme.
                </div>

                <div class="scrollableContainer" style="margin-top: 6px; border: 1px solid #ccc; border-radius: 3px;">
                    <div *ngFor="let s of schemeList" class="listItem hbox" [ngClass]="{active : s == selectedScheme}">
                        <rdf-resource [resource]="s.scheme" style="flex: 1;"></rdf-resource>
                        <input type="checkbox" [(ngModel)]="s.checked">
                    </div>
                </div>
            </ng-template>
        </div>
    </div>


    <div #blockingDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">Cancel</button>
</div>