<div class="modal-header">
    <h3 class="modal-title">Add operation to filter</h3>
</div>
<div class="modal-body vbox" style="min-height:75vh;">

    <table class="table table-sm table-borderless">
        <tbody>
            <tr>
                <td nowrap><label>Extension path:</label></td>
                <td style="padding: 3px;">
                    <select class="form-control" [(ngModel)]="selectedExtensionPath" (ngModelChange)="onExtPathChange()">
                        <option *ngFor="let path of extensionPaths">{{path}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td nowrap><label>Service class:</label></td>
                <td style="padding: 3px;">
                    <select class="form-control" [(ngModel)]="selectedServiceClasses" (ngModelChange)="onServClassChange()">
                        <option *ngFor="let sc of serviceClasses">{{sc}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="card card-default vbox" style="margin-bottom: 3px;">
        <div class="card-header">
            <label style="flex:1;">Operations:</label>
            <div class="input-group input-group-sm" style="width: initial;">
                <input type="text" class="form-control" placeholder="Operation filter" [(ngModel)]="filterKey" 
                    (ngModelChange)="onFilterChanged()" [disabled]="operations.length == 0">
                <span class="input-group-append">
                    <span class="input-group-text">
                        <span class="fas fa-filter"></span>
                    </span>
                </span>
            </div>
        </div>
        <div class="card-body scrollableContainer">
            <ng-container *ngFor="let op of operations; let i=index">
                <div *ngIf="!op.filtered" class="form-check ml-2 mb-2">
                    <input class="form-check-input" [id]="'opCheck'+i" type="checkbox" [(ngModel)]="op.checked">
                    <label class="form-check-label" [for]="'opCheck'+i">{{getOperationShow(op.service)}}</label>
                </div>
            </ng-container>
        </div>
    </div>

    <button class="btn btn-xs btn-light" style="margin-bottom: 3px; align-self: center" (click)="addOperations()">
        Add <span class="fas fa-chevron-down"></span>
    </button>

    <div class="card card-default vbox">
        <div class="card-body scrollableContainer">
            <div *ngFor="let op of operationsToAdd" class="listItem">
                <span style="flex: 1;">{{getOperationShow(op, true)}}</span>
                <button class="btn btn-xs btn-light" (click)="removeOperation(op)">
                    <span class="fas fa-minus"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="operationsToAdd.length == 0">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.CANCEL'|translate}}</button>
</div>