<div class="card card-default vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">Hierarchical redundancies</label>
        <div class="form-check" title="If active, the check is performed only to the relations between Concepts belonging to the same ConceptScheme">
            <input class="form-check-input" type="checkbox" [(ngModel)]="sameScheme">
            <label class="form-check-label">Same scheme</label>
        </div>
        <button class="btn btn-xs btn-light ml-3" (click)="runIcv()">Run</button>
    </div>
    <div class="card-body vbox">
        
        <div class="alert alert-info" role="alert" style="margin-bottom: 6px;">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            skos:Concept(s) that have redundant hierarchical relations. e.g.<br/>
            1) <i>:concept3 skos:broader :concept2</i><br/>
            2) <i>:concept2 skos:broader :concept1</i><br/>
            3) <i>:concept3 skos:broader :concept1</i><br/>
            3rd statement is redundant since it is a consequence of 1) and 2) 
        </div>

        <div class="card card-default vbox">
            <div class="card-body scrollableContainer">
                <table *ngIf="brokenRecordList" class="table table-sm table-hoverable">
                    <thead>
                        <tr>
                            <th class="text-center">Subject</th>
                            <th class="text-center">Predicate</th>
                            <th class="text-center">Object</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template ngFor let-record [ngForOf]="brokenRecordList" let-i="index">
                            <tr *ngIf="i >= page*resultsLimit && i < page*resultsLimit + resultsLimit">
                                <td class="text-center">
                                    <rdf-resource class="clickable" [resource]="record.subject" (click)="onResourceClick(record.subject)"></rdf-resource>
                                </td>
                                <td class="text-center">
                                    <rdf-resource class="clickable" [resource]="record.predicate" (click)="onResourceClick(record.predicate)"></rdf-resource>
                                </td>
                                <td class="text-center">
                                    <rdf-resource class="clickable" [resource]="record.object" (click)="onResourceClick(record.object)"></rdf-resource>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>

            <div *ngIf="brokenRecordList && brokenRecordList.length > 0" class="card-footer">
                <div class="btn-group btn-group-xs float-right" role="group">
                    <button class="btn btn-light" title="Previous" (click)="page=page-1" [disabled]="page <= 0">
                        <span class="fas fa-caret-left"></span>
                    </button>
                    <button class="btn btn-light" style="cursor: auto" disabled>
                        <span>{{page+1}} of {{pageCount}}</span>
                    </button>
                    <button class="btn btn-light" title="Next" (click)="page=page+1" [disabled]="page+1 >= pageCount">
                        <span class="fas fa-caret-right"></span>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>