<div class="rdfResourceIcon">
    <ng-container *ngIf="language; then flagBlock; else iconBlock"></ng-container>
    <ng-template #flagBlock>
        <lang-item [language]="language" [disabled]="!isExplicit" [showName]="false" [showTag]="false"></lang-item>
    </ng-template>
    <ng-template #iconBlock>
        <img [src]="imgSrc" [title]="natureTooltip">    
    </ng-template>
</div>
<span [title]="resource.toNT()" [class]="'rdfResourceText' + renderingClass">
    <ng-container *ngIf="manchExpr; else notManchExprBlock">
        <span style="font-family: monospace;">
            <span *ngFor="let cas of manchExprStruct" [class]="cas.class">{{cas.token}}</span>
        </span>
    </ng-container>

    <ng-template #notManchExprBlock>
        <ng-container *ngIf="literalWithLink; else notLinkBlock">
            <ng-container *ngFor="let s of splittedLiteral; let even = even">
                <ng-container *ngIf="even; then renderNormal; else renderAsLink"></ng-container>
                <ng-template #renderNormal>
                    <span style="white-space: pre-wrap">{{s}}</span>
                </ng-template>
                <ng-template #renderAsLink>
                    <a (click)="openLink(s)" class="clickable">{{s}}</a>
                </ng-template>
            </ng-container>
        </ng-container>
    </ng-template>

    <ng-template #notLinkBlock>
        <span style="white-space: pre-wrap">{{renderingLabel}}</span>
    </ng-template>
</span>
<span *ngIf="showDatatypeBadge" class="badge datatype-badge" [title]="datatype.toNT()">{{datatype.show}}</span>