<div style="white-space: nowrap;" [title]="language.name + ' (' + language.tag + ')'">
    <img *ngIf="flagImgSrc.indexOf('unknown') == -1; else unknownFlag" [src]="flagImgSrc" class="flagCls" [ngClass]="{ disabled : disabled }">
    <ng-template #unknownFlag>
        <span [class]="'flagIcon ' + flagCls">
            <img [src]="flagImgSrc">
            <span [ngClass]="{ grayText: disabled }">{{language.tag}}</span>
        </span>
    </ng-template>

    <span *ngIf="showName" [ngClass]="{ grayText: disabled }">{{language.name}}</span>
    <span *ngIf="showTag" [ngClass]="{ grayText: disabled }">({{language.tag}})</span>
</div>    