<span [title]="language.name + ' (' + language.tag + ')'">
    <img *ngIf="flagImgSrc.indexOf('unknown') == -1" [src]="flagImgSrc" 
        [ngClass]="{ disabled : disabled }">
    <span *ngIf="flagImgSrc.indexOf('unknown') != -1" class="flagIcon">
        <img [src]="flagImgSrc">
        <span [ngClass]="{ grayText: disabled }">{{language.tag}}</span>
    </span>
    <span [ngClass]="{ grayText: disabled }">{{language.name}}</span>
    <span *ngIf="showTag" [ngClass]="{ grayText: disabled }">({{language.tag}})</span>
</span>    