<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal" resizable>
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body vbox">

        <table class="table table-borderless table-sm">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td class="text-right" nowrap>
                        <label>{{'COMMONS.NAME'|translate}}</label>
                    </td>
                    <td>
                        <input class="form-control" [(ngModel)]="name" [disabled]="ref || readOnly">
                    </td>
                </tr>
                <tr>
                    <td class="text-right" nowrap>
                        <label>Category</label>
                    </td>
                    <td>
                        <div class="d-flex">
                            <select class="form-control" style="flex: 1" [(ngModel)]="selectedWidgetCategory" (ngModelChange)="onWidgetCategoryChanged()">
                                <option *ngFor="let t of widgetTypes" [value]="t.id">{{t.translationKey|translate}}</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-right" nowrap>
                        <label>Data type</label>
                    </td>
                    <td>
                        <select class="form-control" *ngIf="!selectedWidgetCategory || selectedWidgetCategory == 'map'" [(ngModel)]="selectedWidgetDataType" (ngModelChange)="onWidgetDataTypeChanged()" [disabled]="!selectedWidgetCategory">
                            <option *ngFor="let t of mapTypes" [value]="t.id">{{t.translationKey|translate}}</option>
                        </select>
                        <select class="form-control" *ngIf="selectedWidgetCategory == 'chart'" [(ngModel)]="selectedWidgetDataType" (ngModelChange)="onWidgetDataTypeChanged()">
                            <option *ngFor="let t of chartTypes" [value]="t.id">{{t.translationKey|translate}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="selectedWidgetDataType" class="vbox mt-2">
            <ul class="nav nav-tabs" (click)="$event.preventDefault()">
                <li *ngFor="let e of sparqlEditors" class="nav-item" [ngClass]="{ active : activeSparqlEditor == e }">
                    <a class="nav-link" (click)="activeSparqlEditor = e">
                        {{e.type}}
                    </a>
                </li>
            </ul>
            <div class="tab-content vbox">
                <ng-container *ngFor="let e of sparqlEditors">
                    <div *ngIf="e == activeSparqlEditor" class="vbox">
                        <div class="alert alert-warning mb-2">
                            <ng-container *ngIf="e.type == 'Retrieve'">
                                The retrieve query for this kind of widget must return the following variables:
                            </ng-container>
                            <ng-container *ngIf="e.type == 'Update'">
                                The update query for this kind of widget must contains in the <span style="font-family: monospace">insert</span> block the following variables:
                            </ng-container>
                            <div>
                                <code *ngFor="let b of requiredBindings">?{{b}} </code>
                            </div>
                            The query must also contains the placeholder <code>&lt;trigger&gt;</code> which represents the predicate that will be associated to the widget.
                        </div>
                        <div class="card vbox">
                            <div class="card-body vbox">
                                <yasgui [query]="e.query" (querychange)="onQueryChanged(e, $event)" [readonly]="readOnly" hideButtons="true"></yasgui>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>