<div class="card card-default vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">Top concepts with broader</label>
        <button class="btn btn-xs btn-light" (click)="runIcv()">Run</button>
    </div>
    <div class="card-body vbox">
        
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <i>
                skos:Concept(s) that are skos:topConceptOf a skos:ConceptScheme 
                and have some broader concept in the same skos:ConceptScheme
            </i>
        </div>

        <div *ngIf="!brokenRecordList" style="padding: 4px;">
            Press <strong>Run</strong> button to run the check.
        </div>
        
        <div *ngIf="brokenRecordList" class="scrollableContainer">
            <table class="table table-sm table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">{{'DATA.CONCEPT.CONCEPT'|translate}}</th>
                        <th class="text-center">Scheme</th>
                        <th class="text-center" style="width: 1%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let record of brokenRecordList">
                        <td>
                            <rdf-resource class="clickable" [resource]="record.concept" (click)="onResourceClick(record.concept)"></rdf-resource>
                        </td>
                        <td>
                            <rdf-resource class="clickable" [resource]="record.scheme" (click)="onResourceClick(record.scheme)"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-light" (click)="removeBroaders(record)">Remove broader(s)</button>
                            <button class="btn btn-xs btn-light" (click)="removeAsTopConceptOf(record)">Remove as topConceptOf</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div *ngIf="brokenRecordList && brokenRecordList.length != 0" class="dropup float-right" ngbDropdown>
            <button class="btn btn-light dropdown-toggle btn-xs" type="button" data-toggle="dropdown" ngbDropdownToggle>
                Quick action
                <span class="fas fa-caret-down fa-sm"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="removeBroadersToAll()" style="cursor: pointer;">Remove broader(s) to all</a>
                <a class="dropdown-item" (click)="removeAllAsTopConceptOf()" style="cursor: pointer;">Remove all as skos:topConceptOf</a>
            </div>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>