<div class="card vbox">
    <div class="card-body vbox">

        <expandable-alert class="mb-2" [innerHTML]="infoHtmlSafe"></expandable-alert>

        <div class="form-group row">
            <label class="col-form-label col-sm-2">{{propertyListLabel}}</label>
            <inline-resource-list-editor class="col-10 p-0" [resources]="properties" role="property" [ordered]="true" [allowDuplicates]="allowDuplicates" (changed)="onPropertiesChanged($event)">
            </inline-resource-list-editor>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2">{{'CUSTOM_VIEWS.SUGGESTED_VIEW'|translate}}:</label>
            <select class="form-control col-10" [(ngModel)]="suggestedView" [disabled]="availableViews.length == 1" (ngModelChange)="emitChanges()">
                <option *ngFor="let v of availableViews" [value]="v.id">
                    {{v.translationKey|translate}}
                </option>
            </select>
        </div>

    </div>
</div>