<div class="form-group row">
    <label class="col-form-label col-sm-2">Update mode:</label>
    <select class="form-control col-10" [(ngModel)]="updateMode" (ngModelChange)="emitChanges()">
        <option *ngFor="let m of updateModes" [value]="m.id">
            {{m.translationKey|translate}}
        </option>
    </select>
</div>
<ng-container *ngIf="updateMode == 'picker'">
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Value Type:</label>
        <select class="form-control col-10" style="flex: 1" [(ngModel)]="valueType">
            <option *ngFor="let t of valueTypes" [value]="t.id">{{t.translationKey|translate}}</option>
        </select>
    </div>
    <div *ngIf="valueType == 'resource'" class="form-group row">
        <label class="col-form-label col-sm-2">Classes:</label>
        <inline-resource-list-editor class="col-10 p-0" [resources]="pickerClasses" role="cls" (changed)="onPickerClassesChanged($event)"></inline-resource-list-editor>
    </div>
    <div *ngIf="valueType == 'literal'" class="form-group row">
        <label class="col-form-label col-sm-2">Datatype:</label>
        <div class="col-10 p-0 d-flex align-items-center">
            <input type="checkbox" [(ngModel)]="restrictDatatype">
            <select *ngIf="restrictDatatype" class="form-control ml-2" style="flex: 1" [(ngModel)]="datatype" (ngModelChange)="emitChanges()">
                <option *ngFor="let d of datatypes" [ngValue]="d">{{d.getShow()}}</option>
            </select>
        </div>
    </div>
</ng-container>


<div *ngIf="updateMode != 'none'" class="vbox mt-2">
    <div *ngIf="queryInfoSafe" class="alert alert-warning mb-2" [innerHTML]="queryInfoSafe"></div>
    <yasgui [query]="queryEditor.query" (querychange)="onQueryChanged($event)" [readonly]="readonly" hideButtons="true"></yasgui>
</div>