<config-bar></config-bar>
<nav [class]="'navbar navbar-expand-lg navbar-dark bg-theme-' + navbarTheme">

    <a class="navbar-brand" style="padding: 8px;" [routerLink]="['/Home']">VocBench</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar" (click)="navbarCollapsed = !navbarCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar" [ngbCollapse]="navbarCollapsed">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="isUserLogged() && isUserAdmin()" class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/Projects']">{{'Projects' | vbTranslate:'NAVBAR.PROJECTS' | async}}</a>
            </li>
            <li *ngIf="isUserLogged() && isProjectOpen()" class="nav-item" [ngClass]="{ disabled : !isDataAuthorized() }" routerLinkActive="active">
                <a *ngIf="!isProjectEdoal()" class="nav-link" [routerLink]="['/Data']">{{'Data' | vbTranslate:'NAVBAR.DATA' | async}}</a>
                <a *ngIf="isProjectEdoal()" class="nav-link" [routerLink]="['/Edoal']">{{'Data' | vbTranslate:'NAVBAR.DATA' | async}}</a>
            </li>
            <li *ngIf="isUserLogged() && isProjectOpen()" class="nav-item dropdown" ngbDropdown display="dynamic">
                <a [routerLink]="" class="nav-link dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                    {{'Metadata' | vbTranslate:'NAVBAR.METADATA.TITLE' | async}}
                    <span class="fas fa-caret-down ml-1"></span>
                </a>
                <div class="dropdown-menu" style="font-size: 12px; line-height: 20px;" ngbDropdownMenu>
                    <a class="dropdown-item" [routerLink]="['/Imports']">{{'Namespaces and Imports' | vbTranslate:'NAVBAR.METADATA.NAMESPACES_AND_IMPORTS' | async}}</a>
                    <a *ngIf="isMetadataVocAuthorized()" class="dropdown-item" [routerLink]="['/Vocabularies']">{{'Metadata Vocabularies' | vbTranslate:'NAVBAR.METADATA.METADATA_VOCABULARIES' | async}}</a>
                    <a *ngIf="isMetadataRegistryAuthorized()" class="dropdown-item" [routerLink]="['/MetadataRegistry']">{{'Metadata Registry' | vbTranslate:'NAVBAR.METADATA.METADATA_REGISTRY' | async}}</a>
                </div>
            </li>
            <li *ngIf="isUserLogged() && isProjectOpen()" class="nav-item" [ngClass]="{ disabled : !isSparqlAuthorized() }" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/Sparql']">{{'SPARQL' | vbTranslate:'NAVBAR.SPARQL' | async}}</a>
            </li>
            <li *ngIf="isUserLogged() && isProjectOpen() && isProjectHistoryEnabled()" class="nav-item" [ngClass]="{ disabled : !isHistoryAuthorized() }"
                routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/History']">{{'History' | vbTranslate:'NAVBAR.HISTORY' | async}}</a>
            </li>
            <li *ngIf="isUserLogged() && isProjectOpen() && isProjectValidationEnabled()" class="nav-item" [ngClass]="{ disabled : !isValidationAuthorized() }"
                routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/Validation']">{{'Validation' | vbTranslate:'NAVBAR.VALIDATION' | async}}</a>
            </li>
            <li *ngIf="isUserLogged() && isProjectOpen()" class="nav-item dropdown" ngbDropdown display="dynamic">
                <a [routerLink]="" class="nav-link dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                    {{'Tools' | vbTranslate:'NAVBAR.TOOLS.TITLE' | async}}
                    <span class="fas fa-caret-down ml-1"></span>
                </a>
                <div class="dropdown-menu" style="font-size: 12px; line-height: 20px;" ngbDropdownMenu>
                    <a *ngIf="isAlignValidationAuthorized()" class="dropdown-item" [routerLink]="['/AlignmentValidation']">{{'Alignment Validation' | vbTranslate:'NAVBAR.TOOLS.ALIGNMENT_VALIDATION' | async}}</a>
                    <a *ngIf="isCollaborationAuthorized()" class="dropdown-item" [routerLink]="['/Collaboration']">{{'Collaboration System' | vbTranslate:'NAVBAR.TOOLS.COLLABORATION_SYSTEM' | async}}</a>
                    <a *ngIf="isCustomFormAuthorized()" class="dropdown-item" [routerLink]="['/CustomForm']">{{'Custom Forms' | vbTranslate:'NAVBAR.TOOLS.CUSTOM_FORMS' | async}}</a>
                    <a *ngIf="isCustomServicesAuthorized()" class="dropdown-item" [routerLink]="['/CustomServices']">{{'Custom Services and Reporters' | vbTranslate:'NAVBAR.TOOLS.CUSTOM_SERVICES_AND_REPORTS' | async}}</a>
                    <a class="dropdown-item" [routerLink]="['/Icv']">{{'Integrity Constraint Validation (ICV)' | vbTranslate:'NAVBAR.TOOLS.ICV' | async}}</a>
                    <a *ngIf="isResourceMetadataAuthorized()" class="dropdown-item" [routerLink]="['/ResourceMetadata']">{{'ResourceMetadata' | vbTranslate:'NAVBAR.TOOLS.RESOURCE_METADATA' | async}}</a>
                    <a *ngIf="isSheet2RdfAuthorized()" class="dropdown-item" [routerLink]="['/Sheet2RDF']">{{'Sheet2RDF' | vbTranslate:'NAVBAR.TOOLS.SHEET2RDF' | async}}</a>
                    <a *ngIf="isSkosDiffingAuthorized()" class="dropdown-item" [routerLink]="['/SkosDiffing']">{{'SKOS Diffing' | vbTranslate:'NAVBAR.TOOLS.SKOS_DIFFING' | async}}</a>
                </div>
            </li>
        </ul>
        <ul user-menu *ngIf="isUserLogged()" class="navbar-nav navbar-right"></ul>

    </div>    
</nav>
<div class="vbox" style="padding: 10px;">
    <router-outlet></router-outlet>
</div>
<div class="bottom-bar">
    <span>v. {{appVersion}}</span>
    <span class="float-right">© <a href="http://art.uniroma2.it/" target="_blank">ART Group</a>, 2016</span>
</div>