<config-bar></config-bar>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/Home']">VocBench</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li *ngIf="isUserLogged()" routerLinkActive="active">
                    <a [routerLink]="['/Projects']">Projects</a>
                </li>
                <li *ngIf="isUserLogged() && isProjectOpen()" routerLinkActive="active" [ngClass]="{disabled: !isProjectOpen()}">
                    <a [routerLink]="['/Class']">Class</a>
                </li>
                <li *ngIf="isUserLogged() && isProjectOpen() && isProjectSKOS()" routerLinkActive="active" [ngClass]="{disabled: !isProjectOpen()}">
                    <a [routerLink]="['/Concepts']">Concepts</a>
                </li>
                <li *ngIf="isUserLogged() && isProjectOpen()" routerLinkActive="active" [ngClass]="{disabled: !isProjectOpen()}">
                    <a [routerLink]="['/Property']">Property</a>
                </li>
				<li *ngIf="isUserLogged() && isProjectOpen() && isProjectSKOS()" routerLinkActive="active" [ngClass]="{disabled: !isProjectOpen()}">
                    <a [routerLink]="['/Schemes']">Schemes</a>
                </li>
                <li *ngIf="isUserLogged() && isProjectOpen() && isProjectSKOS()" routerLinkActive="active" [ngClass]="{disabled: !isProjectOpen()}">
                    <a [routerLink]="['/Collections']">Collections</a>
                </li>
				<li *ngIf="isUserLogged() && isProjectOpen()" routerLinkActive="active" [ngClass]="{disabled: !isProjectOpen()}">
                    <a [routerLink]="['/Sparql']">SPARQL</a>
                </li>
                <li *ngIf="isUserLogged() && isProjectOpen()" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Tools <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="font-size: 12px; line-height: 20px;">
                        <li><a [routerLink]="['/Icv']">Integrity Constraint Validator (ICV)</a></li>
                        <li><a [routerLink]="['/AlignmentValidation']">Alignment Validation</a></li>
                        <li><a [routerLink]="['/CustomRange']">Custom Range configuration</a></li>
                    </ul>
                </li>
                
				<!--<li [ngClass]="{active: isActive('/Test')}">
                    <a [routerLink]="['Test']">Test</a>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- See userMenuComponent to understand user-menu attribute (to avoid css style breaking) -->
                <li user-menu *ngIf="isUserLogged()" class="dropdown">
            </ul>
        </div>    
    </div>
</nav>
<div class="vbox" style="padding: 10px;">
    <router-outlet></router-outlet>
</div>
<div class="bottom-bar text-right">
    © <a href="http://art.uniroma2.it/">ART Group</a>, 2016
</div>