<div class="vbox">

    <div class="hbox">
        <div class="vbox" style="flex: 4; font-size: 12px; padding: 6px;">
            <div class="hbox" style="flex: initial; align-items: center; margin-bottom: 10px;">
                <div style="padding: 10px; margin-right: 20px; background: linear-gradient(180deg, #1e4387, #00b5e9); border-radius: 32px;">
                    <img src="./assets/images/logos/vb_logo.png" style="max-height: 130px;">
                </div>
                <div style="font-size: 13px;">
                    <h1 style="margin-top: 0;">{{'Welcome to VocBench' | vbTranslate:'HOME.WELCOME' | async}}</h1>
                    <p [innerHTML]="'HOME.DESCRIPTION'|translate"></p>
                    <p [innerHTML]="'HOME.POWERED_BY'|translate"></p>
                </div>
            </div>

            <div class="vbox">
                <div *ngIf="safeCustomContentFromPref" class="vbox" style="flex: initial" [innerHTML]="safeCustomContentFromPref"></div>
                <div *ngIf="safeCustomContentFromFile" class="vbox" style="flex: initial" [innerHTML]="safeCustomContentFromFile"></div>
            </div>

            <p *ngIf="privacyStatementAvailable" style="align-self: flex-end;">
                {{'Please read our' | vbTranslate: 'HOME.PRIVACY_STATEMENT.READ_OUR' | async}} 
                <a [routerLink]="" (click)="downloadPrivacyStatement()">
                    {{'Privacy statement' | vbTranslate:'HOME.PRIVACY_STATEMENT.LINK_TEXT' | async}}
                </a>
            </p>
        </div>
        <div *ngIf="!isUserLogged()" style="flex: 1; padding-left: 10px; margin-bottom: 5px; border-left: 1px solid #ddd">
            <login (loggedIn)="onLogin()"></login>
        </div>
    </div>

    <table class="table" style="background-color: #E7F0FF">
        <tbody>
            <tr>
                <td colspan="2"><label>{{'VocBench 3 has been developed by' | vbTranslate:'HOME.DEVELOPED_BY.TITLE' | async}}:</label></td>
                <td colspan="2"><label>{{'Contract managed by' | vbTranslate:'HOME.MANAGED_BY.TITLE' | async}}:</label></td>
            </tr>
            <tr>
                <td style="border: none; width: 5%; text-align: center;">
                    <a href="http://web.uniroma2.it/home/newlang/english" target="_blank">
                        <img src="./assets/images/logos/logo_tor_vergata.png" class="homeLogo">
                    </a>
                </td>
                <td style="border: none; width: 45%;">
                    <a href="http://web.uniroma2.it/home/newlang/english" target="_blank">
                        <div>
                            <div class="organizzationName">{{'University of Rome Tor Vergata' | vbTranslate:'HOME.DEVELOPED_BY.TOR_VERGATA_NAME' | async}}</div>
                            <div class="organizzationSubtitle">{{'Today, the University of tomorrow' | vbTranslate:'HOME.DEVELOPED_BY.TOR_VERGATA_SUBTITLE' | async}}</div>
                        </div>
                    </a>
                </td>

                <td style="border: none; width: 5%; text-align: center;">
                    <a href="https://www.infeurope.lu/" target="_blank">
                        <img src="./assets/images/logos/infeurope-blue-logo.png" class="homeLogo">
                    </a>
                </td>
                <td style="border: none; width: 45%;">
                    <a href="http://web.uniroma2.it/home/newlang/english" target="_blank">
                        <div>
                            <div class="organizzationName">{{'Infeurope' | vbTranslate:'HOME.MANAGED_BY.INFEUROPE_NAME' | async}}</div>
                            <div class="organizzationSubtitle">{{'Architecture begins where engineering ends' | vbTranslate:'HOME.MANAGED_BY.INFEUROPE_SUBTITLE' | async}}</div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="4"><label>{{'VocBench 3 is funded by' | vbTranslate:'HOME.FUNDED_BY.TITLE' | async}}:</label></td>
            </tr>
            <tr>
                <td style="border: none; text-align: center;">
                    <a href="http://ec.europa.eu/isa/isa2/index_en.htm" target="_blank">
                        <img src="./assets/images/logos/european_commission_logo.gif" class="homeLogo">
                    </a>
                </td>
                <td style="border: none;">
                    <a href="http://ec.europa.eu/isa/isa2/index_en.htm" target="_blank">
                        <div>
                            <div>
                                <div class="organizzationName" [innerHTML]="'HOME.FUNDED_BY.ISA2_NAME'|translate"></div>
                                <div class="organizzationSubtitle">
                                    {{'Interoperability solutions for public administrations, business and citizens' | vbTranslate:'HOME.FUNDED_BY.ISA2_SUBTITLE' | async}}
                                </div>
                            </div>
                        </div>
                    </a>
                </td>
                <td style="border: none; text-align: center;">
                    <a href="https://publications.europa.eu/en/home" target="_blank">
                        <img src="./assets/images/logos/publications_office_eu_logo.png" class="homeLogo">
                    </a>
                </td>
                <td style="border: none;">
                    <a href="https://publications.europa.eu/en/home" target="_blank">
                        <div>
                            <div>
                                <div class="organizzationName">{{'Publications Office of the European Union' | vbTranslate:'HOME.FUNDED_BY.OP_NAME' | async}}</div>
                                <div class="organizzationSubtitle">{{'EU law and publications' | vbTranslate:'HOME.FUNDED_BY.OP_SUBTITLE' | async }</div>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>