<div class="modal-header">
    <h3 class="modal-title">Assisted search</h3>
</div>
<div class="modal-body vbox" style="max-height: 75vh;">

    <div class="btn-group btn-group-sm pull-right" style="margin-bottom: 5px; align-self: flex-end;">
        <button class="btn btn-default" [ngClass]="{ active : targetPosition == 'local' }" (click)="targetPosition = 'local'">Local</button>
        <button class="btn btn-default" [ngClass]="{ active : targetPosition == 'remote' }" (click)="targetPosition = 'remote'">Remote</button>
    </div>

    <ng-template [ngIf]="targetPosition == 'local'">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label>Projects</label>
            </div>
            <div class="panel-body">
                <div class="vbox scrollableContainer" style="border: 1px solid #ddd; max-height: 150px;">
                    <div *ngFor="let p of projectList">
                        <div class="listItem" [ngClass]="{ active : p == selectedProject }" (click)="selectProject(p)">
                            {{p.getName()}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="selectedProject" style="margin-top: 4px;">
            <div *ngIf="!isProjectMetadataAvailable(); else mediationBlock" class="alert alert-warning">
                VoID/LIME Metadata not available for local project '{{selectedProject.getName()}}'.
                Click <a (click)="generateProjectMetadata()">here</a> to generate it.
            </div>
        </div>
    </ng-template>

    
    <ng-template [ngIf]="targetPosition == 'remote'">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label>Remote datasets</label>
            </div>
            <div class="panel-body">
                <div class="vbox scrollableContainer" style="border: 1px solid #ddd; max-height: 150px;">
                    <div *ngFor="let d of remoteDatasets">
                        <div class="listItem" [ngClass]="{ active : d == selectedDataset }" (click)="selectDataset(d)" [title]="d.identity">
                            <label *ngIf="d.title">{{d.title}}: </label>
                            {{d.uriSpace}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="selectedDataset" style="margin-top: 4px;">
            <div *ngIf="!isDatasetMetadataAvailable(); else mediationBlock" class="alert alert-warning">
                VoID/LIME Metadata not available for remote dataset '{{selectedDataset.uriSpace}}'.
                You need to generate/add 'Embedded Lexicalization Sets' from the Metadata Registry management in order to exploit this feature.
            </div>
        </div>
    </ng-template>

    <ng-template #mediationBlock>
        <div class="panel panel-default">
            <div class="panel-heading">
                <label>Shared Lexicalization Sets</label>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-borderless">
                    <thead>
                        <tr>
                            <th rowspan="2">Lang</th>
                            <th colspan="2" class="text-center">Source project</th>
                            <th colspan="2" class="text-center">
                                Target
                                <span *ngIf="targetPosition == 'local'">project</span>
                                <span *ngIf="targetPosition == 'remote'">dataset</span>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center" title="Percentage of resources that have a lexicalization in the given language">%</th>
                            <th class="text-center" title="Average number of lexicalizations">Avg</th>
                            <th class="text-center" title="Percentage of resources that have a lexicalization in the given language">%</th>
                            <th class="text-center" title="Average number of lexicalizations">Avg</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sls of sharedLexicalizationSets; let index = index">
                            <td>
                                <div class="checkbox" style="margin: 0px;">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="languagesToCheck[index].check">
                                        {{languagesToCheck[index].lang}}
                                    </label>
                                </div>
                            </td>
                            <td class="text-center">{{sls[0].percentage}}</td>
                            <td class="text-center">{{sls[0].avgNumOfLexicalizations}}</td>
                            <td class="text-center">{{sls[1].percentage}}</td>
                            <td class="text-center">{{sls[1].avgNumOfLexicalizations}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-template>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isOkClickable()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>