<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body vbox" style="height:70vh;">
    
    <div style="padding: 3px; display: flex; align-items: center">
        <span style="white-space: nowrap; margin: 0px 3px;">Project:</span>
        <select class="form-control input-xs" [(ngModel)]="project" (ngModelChange)="onProjectChange()">
            <option *ngFor="let p of projectList" [ngValue]="p">{{p.getName()}}</option>
        </select>
    </div>
    
    <!-- following components allow to browse external projects classes, concepts, schemes, propertyes
     or individuals, and they are rendered based on the resource role -->
    <class-tree-panel *ngIf="showClassTree()" (nodeSelected)="onResourceSelected($event)">
    </class-tree-panel>
            
    <concept-tree-panel *ngIf="showConceptTree()" [schemeChangeable]="true" [scheme]="currentScheme" [editable]="false"
        (nodeSelected)="onResourceSelected($event)" (schemeChanged)="onSchemeChanged()">
    </concept-tree-panel>
            
    <property-tree-panel *ngIf="showPropertyTree()" [editable]="false" (nodeSelected)="onResourceSelected($event)">
    </property-tree-panel>
        
    <scheme-list *ngIf="showSchemeList()" (nodeSelected)="onResourceSelected($event)">
    </scheme-list>
    
    <class-individual-tree *ngIf="showClassIndividualTree()" (nodeSelected)="onResourceSelected($event)">
    </class-individual-tree>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isOkClickable()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>