<div class="scrollableContainer">

    <p>Here it is some test</p>
    
    <div style="margin-bottom: 15px;">
        <label>Confirm Modal:</label>
        <div>
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="confirmTitle">
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="confirmMessage">
            <select [(ngModel)]="confirmType" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;">
                <option *ngFor="let t of typeList" [value]="t">{{t}}</option>
            </select>
            <br/><button class="btn btn-primary btn-xs" (click)="confirm()">Test</button>
            <span>Last result: <strong>{{confirmResult}}</strong></span>
        </div>
    </div>

    <div style="margin-bottom: 15px;">
        <label>Confirm with Check Modal:</label>
        <div>
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="confirmCheckTitle">
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="confirmCheckMessage">
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="confirmCheckLabel">
            <select [(ngModel)]="confirmCheckType" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;">
                <option *ngFor="let t of typeList" [value]="t">{{t}}</option>
            </select>
            <br/><button class="btn btn-primary btn-xs" (click)="confirmCheck()">Test</button>
            <span>Last result: <strong>{{confirmCheckResult}}</strong></span>
            <span>Checked: <strong>{{confirmCheckChecked}}</strong></span>
        </div>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label>Prompt Modal:</label>
        <div>
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="promptTitle">
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="promptLabel">
            sanitize: <input type="checkbox" [checked]="promptSanitized" (change)="promptSanitized = $event.target.checked">
            <br/><button class="btn btn-primary btn-xs" (click)="prompt()">Test</button>
            <span>Last result: <strong>{{promptResult}}</strong></span>
        </div>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label>Alert Modal:</label>
        <div>
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="alertTitle">
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="alertMessage">
            <select [(ngModel)]="alertType" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;">
                <option *ngFor="let t of typeList" [value]="t">{{t}}</option>
            </select>
            <br/><button class="btn btn-primary btn-xs" (click)="alert()">Test</button>
        </div>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label>Selection Modal:</label>
        <div>
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="selectionTitle">
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="selectionMessage">
            <br/><button class="btn btn-primary btn-xs" (click)="select()">Test</button>
            <span>Last result: <strong>{{selectionResult}}</strong></span>
        </div>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label>New Resource Modal:</label>
        <div>
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="newResourceTitle">
            <br/><button class="btn btn-primary btn-xs" (click)="newResource()">Test</button>
            <span>New resource: <strong>{{newResourceResult | json}}</strong></span>
        </div>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label>New Plain Literal Modal:</label>
        <div>
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="newLiteralLangTitle">
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="newLiteralLangValue">
            value readOnly: <input type="checkbox" [checked]="valueReadonly" (change)="valueReadonly = $event.target.checked">
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="lang">
            lang readOnly: <input type="checkbox" [checked]="langReadonly" (change)="langReadonly = $event.target.checked">
            <br/><button class="btn btn-primary btn-xs" (click)="newLiteralLang()">Test</button>
            <span>New literal: <strong>{{newLiteralLangResult | json}}</strong></span>
        </div>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label>New Typed Literal Modal:</label>
        <div>
            <input type="text" class="form-control input-xs" style="width: initial; display: inline; margin: 2px;" [(ngModel)]="newTypedLiteralTitle">
            <br/><button class="btn btn-primary btn-xs" (click)="newTypedLiteral()">Test</button>
            <span>New literal: <strong>{{newTypedLiteralResult | json}}</strong></span>
        </div>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label>Sanitized input:</label>
        <input type="text" class="form-control input-xs" sanitized>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label>Sanitizable input:</label>
        sanitize: <input type="checkbox" [checked]="sanitizable" (change)="sanitizable = $event.target.checked">
        <input type="text" class="form-control input-xs" [sanitized]="sanitizable">
    </div>
    
    <div style="margin-bottom: 15px;">
        <label>Browse ClassTree:</label>
        <div>
            <button class="btn btn-primary btn-xs" (click)="browseClassTree()">Test</button>
            <span>Selected class: <strong>{{browseClassTreeResult | json}}</strong></span>
        </div>
        <label>Browse InstanceList:</label>
        <div>
            <button class="btn btn-primary btn-xs" (click)="browseInstanceList()" [disabled]="!browseClassTreeResult">Test</button>
            <span>Selected instance: <strong>{{browseInstanceListResult | json}}</strong></span>
        </div>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label>Browse SchemeList:</label>
        <div>
            <button class="btn btn-primary btn-xs" (click)="browseSchemeList()">Test</button>
            <span>Selected scheme: <strong>{{browseSchemeListResult | json}}</strong></span>
        </div>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label>Browse ConceptTree:</label>
        <div>
            <button class="btn btn-primary btn-xs" (click)="browseConceptTree()">Test</button>
            <span>Selected concept: <strong>{{browseConceptTreeResult | json}}</strong></span>
        </div>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label>Browse PropertyTree:</label>
        <div>
            <button class="btn btn-primary btn-xs" (click)="browsePropertyTree()">Test</button>
            <span>Selected property: <strong>{{browsePropertyTreeResult | json}}</strong></span>
        </div>
    </div>
    
</div>
