<div class="card card-default vbox">
    <div class="card-body vbox">

        <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">
            
            <ng-container *ngIf="safeToGo.safe; else unsafetyBlock">
                <ng-container *ngFor="let n of list; let idx=index">
                    <lexical-entry-list-node *ngIf="idx < nodeLimit && (!n.isDeprecated() || showDeprecated && n.isDeprecated())"
                        [node]="n" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated"
                        [context]="context" [projectCtx]="projectCtx"
                        (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)">
                    </lexical-entry-list-node>
                </ng-container>
            </ng-container>

            <ng-template #unsafetyBlock>
                <div class="alert alert-warning">
                    This LexicalEntry list has an amount of elements ({{safeToGo.count}}) that exceeds the limit set in the settings ({{safeToGoLimit}}).
                    Retrieving them all could be a long process, you might experience performance decrease or it might even hang the system.<br>
                    It is recommended
                    <ng-container *ngIf="unsafeIndexOneChar">
                        to change the index length from 1-char to 2-char or
                    </ng-container>
                    to switch from <i>Index based</i> to <i>Search based</i> visualization mode from the list 
                    <a href="javascript:void(0)" (click)="requireSettings.emit()">settings</a>.
                    <br>
                    <ng-container *ngIf="!lexicon">
                        You can also reduce the amount of lexical entries by selecting a lexicon from the <i>Lexicon</i> panel.<br>
                    </ng-container>
                    If you want to force the lexical entry list initialization at your own risk, click <a href="javascript:void(0)" (click)="forceSafeness()">here</a>
                </div>
            </ng-template>

        </div>

        <div #blockDivList class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="./assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>
</div>