<div class="treeNode">
	<div class="expandCollapseBtnContainer">
		<input type="image" *ngIf="node.getAdditionalProperty('children').length > 0 && !node.getAdditionalProperty('open')"
            src="app/assets/images/tree_expand.png"
            (click)="expandNode()">
		<input type="image" *ngIf="node.getAdditionalProperty('open')"
            src="app/assets/images/tree_collapse.png"
            (click)="collapseNode()">
	</div>
    <rdf-resource [resource]="node" (click)="selectNode()" 
        [ngClass]="{selectedResource : node.getAdditionalProperty('selected')}"></rdf-resource>
</div>

<div [ngClass]="subTreeStyle" *ngIf="node.getAdditionalProperty('children').length > 0">
	<property-tree-node *ngFor="#n of node.getAdditionalProperty('children')" [node]="n" [scheme]="scheme"></property-tree-node>
</div>