<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body vbox" style="height:70vh;" id="toFocus">
    <div class="hbox">
        <class-tree (nodeSelected)="onTreeClassSelected($event)"></class-tree>
        <instance-list [cls]="selectedClass" (nodeSelected)="onSourceListInstanceSelected($event)" style="margin-left: 4px;"></instance-list>
        
        <div class="vbox" style="flex: 0; justify-content: center; margin: 5px;">
            <button class="btn btn-default btn-sm" style="margin-bottom: 5px;" (click)="addToList()" [disabled]="!selectedSourceInstance">
                Add
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <button class="btn btn-default btn-sm" style="margin-bottom: 5px;" (click)="removeFromList()" [disabled]="!selectedTargetInstance">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Remove
            </button>
        </div>
            
        <div class="scrollableContainer" style="border: 1px solid #ddd">
            <div *ngFor="let i of instanceList">
                <rdf-resource [resource]="i" class="listItem" (click)="onTargetListInstanceSelected(i)" 
                    [ngClass]="{selectedResource : isTargetListInstanceSelected(i)}">
                </rdf-resource>
            </div>
        </div>
    </div>
        
    <div *ngIf="duplicateInstance" class="alert alert-danger" style="margin-top: 4px;" role="alert">
        <strong>{{duplicateInstance.getShow()}}</strong> is already in the list!
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="instanceList.length == 0">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>