<div class="modal-body vbox">
    <div class="hbox">
        <resource-view-editor [resource]="resource" [readonly]="true" [inModal]="true"></resource-view-editor>
        <div class="vbox ml-3">
            <resource-view-editor *ngIf="selectedCommit" [resource]="resource" [readonly]="true" [inModal]="true" [atTime]="selectedCommit.endTime"></resource-view-editor>
            <div *ngIf="!selectedCommit" class="card" style="flex: 1;"></div>
        </div>
    </div>
    <div class="vbox mt-2" style="flex: initial; width: 50%; align-self: center;">
        <div class="btn-group btn-group mb-2" style="align-self: center;">
            <button class="btn btn-light" (click)="previousCommit()" [disabled]="commitSlideIdx==0 || !selectedCommit">
                <span class="fas fa-caret-left"></span>
            </button>
            <div class="btn-group" ngbDropdown placement="top">
                <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                    <b *ngIf="selectedCommit">{{sliderCommit.endTime.toLocaleDateString() + ' ' + sliderCommit.endTime.toLocaleTimeString()}}</b>
                    <b *ngIf="!selectedCommit">{{'RESOURCE_VIEW.TIME_MACHINE.SELECT_DATE'|translate}}</b>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <ng-container *ngFor="let c of commits; let last=last">
                        <a class="dropdown-item" [ngClass]="{ 'bg-primary text-white' : c == selectedCommit}" (click)="selectCommit(c)">
                            <div>
                                <b>{{'HISTORY_VALIDATION.DATE'|translate}}:</b>
                                <span class="ml-2">{{c.endTime.toLocaleDateString() + ' ' + c.endTime.toLocaleTimeString()}}</span>
                            </div>
                            <div>
                                <b>{{'HISTORY_VALIDATION.USER'|translate}}:</b>
                                <span class="ml-2">{{c.user.getShow()}}</span>
                            </div>
                            <div>
                                <b>{{'HISTORY_VALIDATION.OPERATION'|translate}}:</b>
                                <span class="ml-2">{{c.operation.getShow()}}</span>
                            </div>
                        </a>
                        <div *ngIf="!last" class="dropdown-divider"></div>
                    </ng-container>
                </div>
            </div>
            <button class="btn btn-light" (click)="nextCommit()" [disabled]="commitSlideIdx==commits.length-1 || !selectedCommit">
                <span class="fas fa-caret-right"></span>
            </button>
        </div>
        <input type="range" min="0" [max]="commits.length-1" [(ngModel)]="commitSlideIdx" (ngModelChange)="updatePreviewedCommit()" (change)="updateSelectedCommit()" [disabled]="!selectedCommit">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
</div>