<div class="vbox">

     <div class="panel panel-default vbox"> 

         <div class="panel-body vbox"> 

            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>Administrator:</label>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-borderless">
                        <colgroup>
                            <col style="width: 1%;">
                            <col style="width: 1%;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-info-sign"
                                        title="Through this entry it is possible to hand over the role of administrator to another user (only one user can be the administrator).">
                                    </span>
                                </td>
                                <td nowrap>
                                    <label>Administrator account:</label>
                                </td>
                                <td>
                                    <select class="form-control input-sm" [(ngModel)]="adminMail" (ngModelChange)="updateAdmin()">
                                        <option *ngFor="let u of users" [value]="u.email">{{u.givenName}} {{u.familyName}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default" style="margin-top: 6px;">
                <div class="panel-heading">
                    <label>Vocbench Email Configuration:</label>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-borderless">
                        <colgroup>
                            <col style="width: 1%;">
                            <col style="width: 1%;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-info-sign" title="SMTP Mail Server IP/URL"></span>
                                </td>
                                <td nowrap>
                                    <label>Mail SMTP host:</label>
                                </td>
                                <td><input class="form-control input-sm" [(ngModel)]="emailConfig.mailSmtpHost"></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-info-sign" title="Mail Server Port"></span>
                                </td>
                                <td nowrap>
                                    <label>Mail SMTP port:</label>
                                </td>
                                <td><input class="form-control input-sm" [(ngModel)]="emailConfig.mailSmtpPort"></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-info-sign" title="True if SMTP server requires authentication"></span>
                                </td>
                                <td nowrap>
                                    <label>Authentication:</label>
                                </td>
                                <td>
                                    <span class="hbox form-control input-sm" style="align-items: center; justify-content: center;">
                                        <label class="radio-inline">
                                            <input type="radio" (click)="emailConfig.mailSmtpAuth='true'" [checked]="emailConfig.mailSmtpAuth=='true'">true
                                        </label>
                                        <label class="radio-inline" style="margin-left: 15px;">
                                            <input type="radio" (click)="emailConfig.mailSmtpAuth='false'" [checked]="emailConfig.mailSmtpAuth=='false'">false
                                        </label>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-info-sign" title="Email address used to send administration emails"></span>
                                </td>
                                <td nowrap>
                                    <label>Mail from address:</label>
                                </td>
                                <td><input class="form-control input-sm" type="email" [(ngModel)]="emailConfig.mailFromAddress"></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-info-sign" title="Password of the above email address"></span>
                                </td>
                                <td nowrap>
                                    <label>Mail from password:</label>
                                </td>
                                <td>
                                    <input *ngIf="emailConfig.mailSmtpAuth=='false'; else authBlock" class="form-control input-sm" disabled>
                                    <ng-template #authBlock>
                                        <div class="input-group input-group-sm">
                                            <input *ngIf="!showPwd" type="password" class="form-control" [(ngModel)]="emailConfig.mailFromPassword">
                                            <input *ngIf="showPwd" class="form-control" [(ngModel)]="emailConfig.mailFromPassword">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" [ngClass]="{ active : showPwd }" (click)="showPwd = !showPwd">
                                                    <span *ngIf="!showPwd" class="glyphicon glyphicon-eye-close"></span>
                                                    <span *ngIf="showPwd" class="glyphicon glyphicon-eye-open"></span>
                                                </button>
                                            </span>
                                        </div>


                                        <!-- <input class="form-control input-sm" [(ngModel)]="emailConfig.mailFromPassword"> -->
                                    </ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-info-sign" title="Alias name shown in the administration emails"></span>
                                </td>
                                <td nowrap>
                                    <label>Mail from alias:</label>
                                </td>
                                <td><input class="form-control input-sm" [(ngModel)]="emailConfig.mailFromAlias"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-default btn-sm pull-right" (click)="updateEmailConfig()" [disabled]="!isEmailConfigChanged()">Submit</button>
                    <span class="clearfix"></span>
                </div>
            </div>

            <span style="flex: 1"></span>

            <!-- <div class="panel panel-default" style="margin-top: 8px;">
                <div class="panel-body">
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" [(ngModel)]="expFeatEnabled" (ngModelChange)="onExpFeatEnabledChanged()">
                            Enable experimental features
                        </label>
                        <span class="glyphicon glyphicon-info-sign"
                            title="Check this option in order to enable experimental (very unstable) features">
                        </span>
                    </div>
                </div>
            </div> -->

         </div>

    </div> 

</div>