<div class="modal-header">
	<h3 [class]="'modal-title ' + titleClass">{{title}}</h3>
</div>
<div class="modal-body">
	<div *ngIf="alertClass" [class]="alertClass + ' vbox'">
        <span style="white-space: pre-line">{{message}}</span>

		<div *ngIf="details" class="vbox mt-1">
            <div (click)="detailsCollapsed = !detailsCollapsed">
                <div class="expandCollapseBtnContainer" style="display: inline">
                    <img src="./assets/images/icons/arrow.png" [ngClass]="{'arrow-right': detailsCollapsed}">
                </div>
                <label>{{'COMMONS.DETAILS'|translate}}:</label>
            </div>
            <div *ngIf="!detailsCollapsed" class="card vbox">
                <div class="card-body overflow-auto" style="font-size: .8rem;">
                    {{details}}
                </div>
            </div>
		</div>
		
	</div>
	<p *ngIf="!alertClass" class="m-0">{{message}}</p>
</div>
<div class="modal-footer">
    <div *ngIf="checkboxLabel" class="form-check float-left">
        <input class="form-check-input" id="checkCheck" type="checkbox" [(ngModel)]="checkbox">
        <label class="form-check-label" for="checkCheck">{{checkboxLabel}}</label>
    </div>
	<button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
</div>