<div class="card">
    <div class="card-header d-flex align-items-center">
        <label>{{'DATA.CUSTOM_TREE.CUSTOM_TREE'|translate}}</label>
        <input type="checkbox" class="ml-2" [(ngModel)]="enabled" (ngModelChange)="onChanges()" [title]="'STATUS.ENABLED'|translate">
    </div>
    <div class="card-body">
        <div *ngIf="context == 'administration'" class="alert alert-info mb-2">
            From this panel you can set a default configuration of the Custom Tree for the current project.
        </div>

        <fieldset *ngIf="enabled">
        <!-- <fieldset [disabled]="!enabled"> -->
            <table class="table table-sm table-borderless">
                <colgroup>
                    <col style="width: 25%;">
                    <col>
                    <col style="width: 1%;">
                </colgroup>
                <tbody>
                    <tr>
                        <td nowrap>
                            <span>
                                {{'DATA.CUSTOM_TREE.RES_TYPE'|translate}}
                                <span class="fas fa-info-circle" [title]="'DATA.CUSTOM_TREE.RES_TYPE_INFO'|translate"></span>
                            </span>
                        </td>
                        <td>
                            <resource-picker [resource]="type" [config]="{ roles: ['cls']}" [editable]="true" [project]="project" placeholder="http://www.w3.org/2000/01/rdf-schema#Resource"
                                (resourceChanged)="onTypeChanged($event)">
                            </resource-picker>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td nowrap>
                            <span>
                                {{'DATA.CUSTOM_TREE.INCLUDE_SUBTYPE'|translate}}
                                <span class="fas fa-info-circle" [title]="'DATA.CUSTOM_TREE.INCLUDE_SUBTYPE_INFO'|translate"></span>
                            </span>
                        </td>
                        <td>
                            <div class="form-check form-check-inline my-2">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="includeSubtype" (ngModelChange)="onChanges()">
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td nowrap>
                            <span>
                                {{'DATA.CUSTOM_TREE.ROOTS_SELECTION'|translate}}
                                <span class="fas fa-info-circle" [title]="'DATA.CUSTOM_TREE.ROOTS_SELECTION_INFO'|translate"></span>
                            </span>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="rootSelection" (ngModelChange)="onChanges()">
                                <option *ngFor="let el of rootSelectionList" [ngValue]="el.id">{{el.labelTranslationKey|translate}}</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr *ngIf="rootSelection == 'enumeration'">
                        <td nowrap>
                            <span>
                                {{'DATA.CUSTOM_TREE.ROOTS'|translate}}
                                <span class="fas fa-info-circle" [title]="'DATA.CUSTOM_TREE.ROOTS_INFO'|translate"></span>
                            </span>
                        </td>
                        <td>
                            <inline-resource-list-editor [resources]="roots" (changed)="onRootsChanged($event)"></inline-resource-list-editor>
                        </td>
                        <td>*</td>
                    </tr>

                    <tr>
                        <td nowrap>
                            <span>
                                {{'DATA.CUSTOM_TREE.HIERARCHICAL_PROP'|translate}}
                                <span class="fas fa-info-circle" [title]="'DATA.CUSTOM_TREE.HIERARCHICAL_PROP_INFO'|translate"></span>
                            </span>
                        </td>
                        <td>
                            <resource-picker [resource]="property" [config]="{ roles: ['property']}" [editable]="true" [project]="project"
                                (resourceChanged)="onPropertyChanged($event)">
                            </resource-picker>
                        </td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td nowrap>
                            <span>
                                {{'DATA.CUSTOM_TREE.INCLUDE_SUBPROP'|translate}}
                                <span class="fas fa-info-circle" [title]="'DATA.CUSTOM_TREE.INCLUDE_SUBPROP_INFO'|translate"></span>
                            </span>
                        </td>
                        <td>
                            <div class="form-check form-check-inline my-2">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="includeSubProp" (ngModelChange)="onChanges()">
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td nowrap>
                            <span>
                                {{'DATA.CUSTOM_TREE.HIERARCHY_DIR'|translate}}
                                <span class="fas fa-info-circle" [title]="'DATA.CUSTOM_TREE.HIERARCHY_DIR_INFO'|translate"></span>
                            </span>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="invDirection" (ngModelChange)="onChanges()">
                                <option [ngValue]="false">{{'DATA.CUSTOM_TREE.HIERARCHY_DIR_PARENT_CHILD'|translate}}</option>
                                <option [ngValue]="true">{{'DATA.CUSTOM_TREE.HIERARCHY_DIR_CHILD_PARENT'|translate}}</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
    <div class="card-footer">
        (*) {{'COMMONS.MANDATORY_FIELD'|translate}}
        <div class="float-right">
            <button class="btn btn-light btn-sm" (click)="doReset()">{{'ACTIONS.RESET'|translate}}</button>
            <button *ngIf="context == 'administration'" class="btn btn-info btn-sm ml-2" (click)="doSubmit()">{{'ACTIONS.SUBMIT'|translate}}</button>
        </div>
    </div>
</div>