<div class="treeNode listItem">
	<div class="expandCollapseBtnContainer">
        <img *ngIf="import.imports.length > 0" src="./assets/images/icons/arrow.png" (click)="open = !open"
            [ngClass]="{'arrow-right': !open}">
	</div>
    <div style="flex: 1;" [ngClass]="{ proposedAddTriple: import.status == 'STAGED_ADDITION', proposedRemoveTriple: import.status == 'STAGED_REMOVAL' }">
        {{import.id}}
    </div>
    <span *ngIf="import.status == 'LOOP'" class="fas fa-redo" style="margin-right: 6px;" [title]="'METADATA.NAMESPACES_AND_IMPORTS.IMPORT_TREE.LOOP_IMPORTS'|translate"></span>
    
    <div *ngIf="import.status == 'FAILED'" class="btn-group" ngbDropdown>
        <button class="btn btn-light btn-xs dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle [title]="'METADATA.NAMESPACES_AND_IMPORTS.IMPORT_TREE.FAILED_IMPORT'|translate">
            <span class="fas fa-exclamation-triangle"></span>
        </button>
        <div class="dropdown-menu float-right" ngbDropdownMenu>
            <a class="dropdown-item" (click)="repairFromLocalFile()">{{'METADATA.NAMESPACES_AND_IMPORTS.IMPORT_TREE.REPAIR_FROM_LOCAL_FILE'|translate}}</a>
            <a class="dropdown-item" (click)="repairFromWeb()">{{'METADATA.NAMESPACES_AND_IMPORTS.IMPORT_TREE.REPAIR_FROM_WEB'|translate}}</a>
            <a class="dropdown-item" (click)="repairFromWebToMirror()">{{'METADATA.NAMESPACES_AND_IMPORTS.IMPORT_TREE.REPAIR_FROM_WEB_TO_MIRROR'|translate}}</a>
        </div>
    </div>

    <button *ngIf="import['root']" class="btn btn-light btn-xs" (click)="removeImport()" [disabled]="!isDeleteImportAuthorized()">
        <span class="far fa-trash-alt" [title]="'COMMONS.ACTIONS.REMOVE'|translate"></span>
    </button>
</div>

<div class="subTree" *ngIf="import.imports.length > 0 && open">
    <import-tree-node *ngFor="let i of import.imports" [import]="i" (nodeRemoved)="onNodeRemoved($event)" (update)="onUpdate()">
    </import-tree-node>
</div>