<div class="subPanel vbox">
    <div class="subPanel-heading">
        <div class="expandCollapseBtnContainer">
            <img src="../../assets/images/icons/arrow.png" (click)="configPanelOpen = !configPanelOpen"
                [ngClass]="{'arrow-right': !configPanelOpen}">
        </div>
        <label>ICV configuration</label>
    </div>
    <div class="subPanel-body">
        <div *ngIf="configPanelOpen" class="hbox">
            <div *ngIf="checkRoles" class="subPanel vbox" style="margin: 2px;">
                <div class="subPanel-heading">
                    <label style="flex: 1">Resources to check</label>
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-default" (click)="checkAllRoles(true)" title="Check all">
                            <span class="glyphicon glyphicon-check"></span>
                        </button>
                        <button class="btn btn-default" (click)="checkAllRoles(false)" title="Uncheck all">
                            <span class="glyphicon glyphicon-unchecked"></span>
                        </button>
                    </div>
                </div>
                <div class="subPanel-body configPanel scrollableContainer">
                    <table class="table table-condensed table-borderless table-hoverable">
                        <thead>
                            <tr>
                                <th class="text-center">Check</th>
                                <th class="text-center">Resource type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of roles">
                                <td class="text-center">
                                    <input type="checkbox" style="vertical-align: middle" [(ngModel)]="r.check" (ngModelChange)="onRolesChange()">
                                </td>
                                <td class="text-center">
                                    <img [src]="r.img" style="margin-right: 4px;">{{r.role}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="checkLanguages" class="subPanel vbox" style="margin: 2px;">
                <div class="subPanel-heading">
                    <label style="flex: 1">Languages to check</label>
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-default" (click)="checkAllLangs(true)" title="Check all">
                            <span class="glyphicon glyphicon-check"></span>
                        </button>
                        <button class="btn btn-default" (click)="checkAllLangs(false)" title="Uncheck all">
                            <span class="glyphicon glyphicon-unchecked"></span>
                        </button>
                        <button class="btn btn-default" (click)="checkAllLangsMandatory()" title="Check only the mandatory languages">
                            Only mandatory
                        </button>
                    </div>
                </div>
                <div class="subPanel-body configPanel scrollableContainer">
                    <table class="table table-condensed table-borderless table-hoverable">
                        <thead>
                            <tr>
                                <th class="text-center">Check</th>
                                <th class="text-center">Language</th>
                                <th class="text-center">Mandatory</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let l of languages">
                                <td class="text-center">
                                    <input type="checkbox" style="vertical-align: middle" [(ngModel)]="l.check" (ngModelChange)="onLangsChange()">
                                </td>
                                <td class="text-center">
                                    <lang-item [language]="l.lang" showTag="true"></lang-item>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="l.lang.mandatory" class="glyphicon glyphicon-ok"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>