<div class="modal-header">
    <h3 class="modal-title">Remote repositories</h3>
</div>
<div class="modal-body vbox scrollableContainer">

    <div *ngIf="!repoSummaries || repoSummaries.length == 0" class="alert alert-info" style="margin: 4px;">
        There are no remote repositories related to this project
    </div>

    <div *ngFor="let repo of repoSummaries" class="card card-default mb-2">
        <div class="card-header">
            <label>{{repo.id}}:</label>
            <span style="margin-left: 4px;">{{repo.description}}</span>
        </div>
        <div class="card-body">
            <table *ngIf="repo.remoteRepoSummary" class="table table-sm table-borderless"> 
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 40%;">
                    <col style="width: 10%;">
                    <col style="width: 40%;">
                </colgroup>
                <tbody>
                    <tr>
                        <td nowrap><label>Repository ID:</label></td>
                        <td><input class="form-control" [(ngModel)]="repo.remoteRepoSummary.repositoryId" readonly></td>
                        <td nowrap><label>Server URL:</label></td>
                        <td><input class="form-control" [(ngModel)]="repo.remoteRepoSummary.serverURL" readonly></td>
                    </tr>
                    <tr>
                        <td><label>Username:</label></td>
                        <td><input class="form-control" [(ngModel)]="repo.remoteRepoSummary.username" placeholder="username"></td>
                        <td><label>Password:</label></td>
                        <td><input class="form-control" [(ngModel)]="repo.remoteRepoSummary.password" placeholder="password"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex align-items-center">
            <ng-container *ngIf="allowBatchModify">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="repo.batch">
                    <label class="form-check-label">
                        Batch modify
                        <span class="fas fa-info-circle ml-1"
                            title="Modifies, all at once, the access credentials of (possibly) many repositories with the same serverURL.">
                        </span>
                    </label>
                </div>
                <div *ngIf="repo.batch" class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="repo.matchUsername">
                    <label class="form-check-label">
                        Match username
                        <span class="fas fa-info-circle ml-1"
                            title="If checked, modifies credentials of repositories with same serverURL and username (empty 'old' username indicates repositories with no associated username)">
                        </span>
                    </label>
                </div>
            </ng-container>
            <span style="flex: 1"></span>
            <button class="btn btn-light btn-sm" (click)="applyChange(repo)">Update</button>
        </div>
    </div>

    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
</div>