<div class="modal-header">
    <h3 class="modal-title">Header editor</h3>
</div>
<div class="modal-body vbox" style="max-height: 70vh;">

    <table class="table table-condensed table-borderless">
        <colgroup>
            <col style="width: 1%;">
            <col>
        </colgroup>
        <tbody>

            <tr>
                <td class="text-right"><label>Header:</label></td>
                <td>
                    <input type="text" class="form-control input-sm" [ngModel]="headerName" readonly>
                </td>
            </tr>

            <tr>
                <td class="text-right" nowrap><label>PEARL feature:</label></td>
                <td>
                    <input type="text" class="form-control input-sm" [ngModel]="headerId" readonly>
                </td>
            </tr>

            <tr *ngIf="!context.first">
                <td class="text-right"><label>Property:</label></td>
                <td>
                    <div class="input-group input-group-sm">
                        <div class="form-control">
                            <rdf-resource *ngIf="headerResource" [resource]="headerResource"></rdf-resource>
                        </div>
                        <div class="input-group-btn">
                            <button class="btn btn-default" (click)="assignPropertyToHeader()">
                                <img src="../../assets/images/icons/res/prop.png">
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr *ngIf="context.first">
                <td class="text-right" nowrap>
                    <label>Property/Class:</label>
                    <span class="glyphicon glyphicon-info-sign"
                        title="Cells of first columns could also contain references to subjects, so the first header could be mapped to a property or a class">
                    </span>
                </td>
                <td>
                    <div class="input-group input-group-sm">
                        <div class="form-control">
                            <rdf-resource *ngIf="headerResource" [resource]="headerResource"></rdf-resource>
                        </div>
                        <div class="input-group-btn">
                            <button class="btn btn-default" (click)="assignPropertyToHeader()">
                                <img src="../../assets/images/icons/res/prop.png">
                            </button>
                            <button class="btn btn-default dropdown-toggle" style="padding: 3px;" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a (click)="assignPropertyToHeader()"><img src="../../assets/images/icons/res/prop.png">Property</a></li>
                                <li><a (click)="assignClassToHeader()"><img src="../../assets/images/icons/res/class.png">Class</a></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>

            <ng-template [ngIf]="headerResource && isHeaderResourceProperty()">
                <tr>
                    <td class="text-right"><label>Range type:</label></td>
                    <td>
                        <select class="form-control input-sm" [(ngModel)]="selectedRangeType" [disabled]="!rangeTypeChangeable">
                            <option *ngFor="let rt of rangeTypes" [ngValue]="rt">{{rt.show}}</option>
                        </select>
                    </td>
                </tr>
                <tr *ngIf="selectedRangeType?.type == 'resource'">
                    <td class="text-right"><label>Range class:</label></td>
                    <td>
                        <div class="input-group input-group-sm">
                            <select class="form-control" [(ngModel)]="selectedRangeClass">
                                <option *ngFor="let rc of rangeClasses" [ngValue]="rc">{{rc.getNominalValue()}}</option>
                            </select>
                            <div class="input-group-btn">
                                <button class="btn btn-default" (click)="addRangeClass()" [disabled]="!rangeClassChangeable">
                                    <img src="../../assets/images/icons/res/class.png">
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>

        </tbody>
    </table>

    <div class="groupPanel">
        <div class="groupPanel-heading">
            <label class="groupPanel-heading-content">
                Converter
                <span class="glyphicon glyphicon-exclamation-sign" style="margin-left: 4px;" 
                    title="If left empty, the system will try to automatically detect the most suitable converter">
                </span>
            </label>
            
        </div>
        <div class="groupPanel-body">
            <table class="table table-borderless table-condensed">
                <tbody>
                    <tr>
                        <td class="text-right"><label>URI:</label></td>
                        <td><input type="text" class="form-control input-sm" [ngModel]="converterQName" readonly></td>
                        <td class="text-right"><label>Capability type:</label></td>
                        <td><input type="text" class="form-control input-sm" [ngModel]="converterType" readonly></td>
                        <td>
                            <button class="btn btn-sm btn-default" (click)="chooseConverter()" title="Change converter">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="isConverterRandom()">
                        <td colspan="5" class="text-right">
                            <div class="checkbox-inline">
                                <label>
                                    <input type="checkbox" [(ngModel)]="memoize">Memoize
                                </label>
                                <span class="glyphicon glyphicon-info-sign" title="Apply the memoization.">
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!headerResource">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>