<div class="modal-header">
    <h3 class="modal-title">Header editor</h3>
</div>
<div class="modal-body vbox" style="max-height: 70vh;">


        <table class="table table-condensed table-borderless">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td class="text-right"><label>Header:</label></td>
                    <td>
                        <input type="text" class="form-control input-sm" [ngModel]="headerName" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="text-right" nowrap><label>PEARL feature:</label></td>
                    <td>
                        <input type="text" class="form-control input-sm" [ngModel]="headerId" readonly>
                    </td>
                </tr>

                <tr *ngIf="!context.first">
                    <td class="text-right"><label>Property:</label></td>
                    <td>
                        <div class="input-group input-group-sm">
                            <div class="form-control">
                                <rdf-resource *ngIf="headerResource" [resource]="headerResource"></rdf-resource>
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn-default" (click)="browseProperty()">
                                    <img src="../../assets/images/icons/res/prop.png">
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="context.first">
                    <td class="text-right" nowrap>
                        <label>Property/Class:</label>
                        <span class="glyphicon glyphicon-info-sign"
                            title="Cells of first columns could also contain references to subjects, so the first header could be mapped to a property or a class">
                        </span>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <div class="form-control">
                                <rdf-resource *ngIf="headerResource" [resource]="headerResource"></rdf-resource>
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn-default" (click)="browseProperty()">
                                    <img src="../../assets/images/icons/res/prop.png">
                                </button>
                                <button class="btn btn-default dropdown-toggle" style="padding: 3px;" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a (click)="browseProperty()"><img src="../../assets/images/icons/res/prop.png">Property</a></li>
                                    <li><a (click)="browseClass()"><img src="../../assets/images/icons/res/class.png">Class</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>

        <!-- <div class="groupPanel">
            <div class="groupPanel-heading">
                <label class="groupPanel-heading-content">Range</label>
            </div>
            <div class="groupPanel-body">
                <table class="table table-condensed table-borderless">
                    <colgroup>
                        <col style="width: 1%;">
                        <col>
                        <col style="width: 1%;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="text-right" nowrap><label>Range type:</label></td>
                            <td>
                                <select class="form-control input-sm" [(ngModel)]="header.range.type">
                                    <option>IRI</option>
                                    <option>Plain Literal</option>
                                    <option>Typed Literal</option>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-default btn-sm" [ngClass]="{ active: rangeTypeLocked }" title="Block range type">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right" nowrap><label>Range class:</label></td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" [(ngModel)]="header.range.cls">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default">
                                            <img src="../../assets/images/icons/res/class.png">
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center"><input type="checkbox"></td>
                        </tr>
                        <tr *ngIf="showLanguageSelection">
                            <td class="text-right" nowrap><label>Language:</label></td>
                            <td><lang-picker [lang]="header.resource.lang"></lang-picker></td>
                            <td class="text-center"><input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->

        <div class="groupPanel">
            <div class="groupPanel-heading">
                <label class="groupPanel-heading-content">Converter</label>
            </div>
            <div class="groupPanel-body">
                <div class="hbox" style="align-items: center;">
                    <div class="hbox" style="align-items: center; margin-right: 4px;">
                        <label style="margin-right: 4px;">URI:</label>
                        <input type="text" class="form-control input-sm" [ngModel]="converterQName" readonly>
                    </div>
                    <div class="hbox" style="align-items: center; margin-right: 4px;">
                        <label style="white-space: nowrap; margin-right: 4px;">Capability type:</label>
                        <input type="text" class="form-control input-sm" [ngModel]="converterType" readonly>
                    </div>
                    <button class="btn btn-sm btn-default" (click)="chooseConverter()" title="Change converter">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <span *ngIf="!converterType && !converterQName" class="glyphicon glyphicon-exclamation-sign" style="margin-left: 4px;" 
                        title="If left empty the system will try to automatically resolve the converter">
                    </span>
                    
                </div>
            </div>
        </div>
        
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!headerResource">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>