<div class="vbox">

    <div class="hbox" style="align-items: center; flex: initial;">
        <div class="card" style="flex: 1; margin-right: 4px;">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <label>{{'COMMONS.SOURCE'|translate}}:</label>
                    <select class="form-control ml-2" [(ngModel)]="selectedInputSource" style="width: initial;">
                        <option *ngFor="let source of inputSources" [ngValue]="source.id">{{source.translationKey|translate}}</option>
                    </select>
                    <div class="card ml-3" style="flex: 1;">
                        <div class="card-body d-flex align-items-center">

                            <ng-container *ngIf="selectedInputSource=='spreadsheet'">
                                <file-picker (fileChanged)="fileChangeEvent($event)" [accept]="'.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.oasis.opendocument.spreadsheet'"></file-picker>
                                <button class="btn btn-light ml-2" (click)="loadSpreadsheet()" [disabled]="!spreadsheetFile">
                                    <span class="fas fa-redo" [title]="'ACTIONS.RELOAD'|translate"></span>
                                </button>
                            </ng-container>

                            <ng-container *ngIf="selectedInputSource=='database'" class="card-body d-flex" style="flex: 1">
                                <div class="d-flex align-items-center" style="flex: 1">
                                    <label class="text-nowrap">{{'SHEET2RDF.DATABASE.DB_DRIVER'|translate}}:</label>
                                    <select class="form-control ml-2" [(ngModel)]="dbInfo.db_driverName">
                                        <option *ngFor="let d of dbDrivers">{{d}}</option>
                                    </select>
                                </div>
                                <div class="d-flex align-items-center ml-2" style="flex: 1">
                                    <label class="text-nowrap">{{'SHEET2RDF.DATABASE.DB_BASE_URL'|translate}}:</label>
                                    <input class="form-control ml-1" [(ngModel)]="dbInfo.db_base_url">
                                </div>
                                <div class="d-flex align-items-center ml-2" style="flex: 1">
                                    <label class="text-nowrap">{{'SHEET2RDF.DATABASE.DB_NAME'|translate}}:</label>
                                    <input class="form-control ml-1" [(ngModel)]="dbInfo.db_name">
                                </div>
                                <div class="d-flex align-items-center ml-2" style="flex: 1">
                                    <label class="text-nowrap">{{'SHEET2RDF.DATABASE.DB_TABLE'|translate}}:</label>
                                    <input class="form-control ml-1" [(ngModel)]="dbInfo.db_table">
                                </div>
                                <div class="d-flex align-items-center ml-2" style="flex: 1">
                                    <label class="text-nowrap">{{'SHEET2RDF.DATABASE.DB_USER'|translate}}:</label>
                                    <input class="form-control ml-1" [(ngModel)]="dbInfo.db_user">
                                </div>
                                <div class="d-flex align-items-center ml-2" style="flex: 1">
                                    <label class="text-nowrap">{{'SHEET2RDF.DATABASE.DB_PASSWORD'|translate}}:</label>
                                    <password-input class="ml-1" [(ngModel)]="dbInfo.db_password"></password-input>
                                </div>
                                <button class="btn btn-light ml-2" (click)="loadDbInfo()" [disabled]="!dbInfo.db_base_url || !dbInfo.db_name || !dbInfo.db_table || !dbInfo.db_user || !dbInfo.db_password">
                                    <span *ngIf="!tablePreview" class="fas fa-check" [title]="'ACTIONS.CONFIRM'|translate"></span>
                                    <span *ngIf="tablePreview" class="fas fa-redo" [title]="'ACTIONS.RELOAD'|translate"></span>
                                </button>
                            </ng-container>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-sm btn-light" [title]="'COMMONS.SETTINGS'|translate" (click)="settings()">
            <span class="fas fa-cog"></span>
        </button>
    </div>

    <div class="vbox mt-2">
        <div *ngIf="sheetNames" class="btn-group btn-group-xs" style="position: absolute; right: 10px;">
            <!-- Workaround to show input file as simple <button> -->
            <input #inputStatusFile type="file" (change)="loadStatus(inputStatusFile.files[0])" (click)="$event.target.value=null" accept=".json, text/plain" style="display:none">
            <button class="btn btn-light" style="margin-left: -1px" (click)="inputStatusFile.click()" [title]="'SHEET2RDF.SPREADSHEET.LOAD_STATUS'|translate">
                <span class="fas fa-upload"></span>
            </button>
            <button class="btn btn-light" (click)="exportStatus()" [title]="'SHEET2RDF.ACTIONS.EXPORT_MAPPING_STATUS'|translate">
                <span class="fas fa-download"></span>
            </button>
        </div>

        <ul class="nav nav-tabs" (click)="$event.preventDefault()">
            <li *ngFor="let s of sheetNames" class="nav-item" [ngClass]="{ active : activeSheet == s }">
                <a class="nav-link" (click)="activeSheet = s">
                    {{s}}
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <sheet-manager *ngFor="let s of sheetNames" [sheetName]="s" [hidden]="activeSheet != s"></sheet-manager>
        </div>
    </div>

</div>