<div class="vbox">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <label>Load Data:</label>
        </div>
       
        <div class="panel-body">

            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-sm-1">RDF file:</label>
                    <div class="col-sm-5">
                        <file-picker (fileChanged)="fileChangeEvent($event)"
                            [accept]="'.rdf, .rdfs, .xml, .owl, .nt, .n3, .ttl, .trig, .trix, .trix-ext, .nq'"></file-picker>    
                    </div>

                    <label class="control-label col-sm-1">Format:</label>
                    <div class="col-sm-5">
                        <select class="form-control input-sm" [(ngModel)]="selectedFormat" name="format">
                            <option *ngFor="let f of formats" [ngValue]="f">{{f.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-1">Base URI:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-sm" [(ngModel)]="baseURI" name="baseURI"
                            placeholder="http://example.baseuri.com/" [disabled]="useProjectBaseURI">
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" [(ngModel)]="useProjectBaseURI" (ngModelChange)="onBaseUriChecboxChange()"
                                    name="uriCheckbox">Use project baseURI
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-1">Resolve transitive imports from:</label>
                    <div class="col-sm-11">
                        <select class="form-control input-sm" [(ngModel)]="selectedImportAllowance" name="allowance">
                            <option *ngFor="let ia of importAllowances" [value]="ia.allowance">{{ia.show}}</option>
                        </select>
                    </div>
                </div>

            </form>

        </div>
        
        <div class="panel-footer hbox" style="align-items: center">
            <div *ngIf="isValidationEnabled()" class="checkbox" style="flex: 1; margin: 0px;">
                <label>
                    <input type="checkbox" [(ngModel)]="validateImplicitly" [disabled]="!isValidationAuthorized()">
                    Implicitly validate loaded data
                </label>
            </div>
            <button type="submit" class="btn btn-default btn-sm pull-right" (click)="load()" [disabled]="isDataValid()">Submit</button>
        </div>
    </div>
    
</div>