<div class="vbox">

    <div class="card card-default vbox">
        <div class="card-header">
            <label>Data Refactor:</label>
        </div>

        <div class="card-body vbox scrollableContainer">
            
            <div *ngIf="skosxlToSkosEnabled()" class="card card-alt">
                <div class="card-header">
                    <label style="flex: 1">SKOS &#8594; SKOS-XL</label>
                </div>
                <div class="card-body">
                    <div class="alert alert-info" style="margin-bottom: 5px; font-size: 12px;">
                        This refactor operation transforms all the SKOS labels and notes into reified SKOS-XL labels and notes.
                    </div>
                </div>
                <div class="card-footer hbox" style="align-items: center; justify-content: flex-end">
                    <div class="form-check">
                        <input class="form-check-input" id="reifyNoteCheck" type="checkbox" [(ngModel)]="reifyNotes">
                        <label class="form-check-label" for="reifyNoteCheck">Reify SKOS notes</label>
                    </div>
                    <button class="btn btn-sm btn-light ml-4" (click)="skosToSkosxl()" [disabled]="!isSkosToSkosxlAuthorized()">Refactor</button>
                    <span class="clearfix"></span>
                </div>
            </div>

            <div *ngIf="skosToSkosxlEnabled()" class="card card-alt" style="margin-top: 4px;">
                <div class="card-header">
                    <label style="flex: 1">SKOS-XL &#8594; SKOS</label>
                </div>
                <div class="card-body">
                    <div class="alert alert-info" style="margin-bottom: 5px; font-size: 12px;">
                        This refactor operation transforms all the reified SKOS-XL labels and notes into flattened SKOS labels and notes.
                        Note: this is <strong>not</strong> a loss-less operation, all the information related to the SKOS-XL labels and notes will be lost.
                    </div>
                </div>
                <div class="card-footer hbox" style="align-items: center; justify-content: flex-end">
                    <div class="form-check">
                        <input class="form-check-input" id="flatNoteCheck" type="checkbox" [(ngModel)]="flattenNotes">
                        <label class="form-check-label" for="flatNoteCheck">Flatten reified SKOS notes</label>
                    </div>
                    <button class="btn btn-sm btn-light ml-4" (click)="skosxlToSkos()" [disabled]="!isSkoxlToSkosAuthorized()">Refactor</button>
                </div>
            </div>

            <div class="card card-alt" style="margin-top: 4px;">
                <div class="card-header">
                    <label style="flex: 1">Migrate data to baseURI graph</label>
                </div>
                <div class="card-body">
                    <div class="alert alert-info" style="margin-bottom: 5px; font-size: 12px;">
                        This operation will move the content of the default graph to a graph named after the base URI of the current project.
                        It will also clear the default graph and preserve the information already contained in the destination graph.
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-light float-right" (click)="migrateData()" [disabled]="!isMigrateAuthorized()">Migrate</button>
                    <span class="clearfix"></span>
                </div>
            </div>

        </div>

    </div>

</div>