<div class="card card-default vbox">
    <div class="card-body hbox">

        <div class="card card-alt vbox" style="margin-right: 4px">
            <div class="card-header">
                <label style="flex: 1;">{{'HISTORY_VALIDATION.FILTERS.OPERATIONS'|translate}}</label>
                <button class="btn btn-xs btn-light" (click)="selectOperationFilter()">
                    <span class="fas fa-plus"></span>
                </button>
            </div>
            <div class="card-body scrollableContainer">
                <div *ngFor="let op of operations" class="listItem">
                    <span style="flex: 1;">{{op.getShow()}}</span>
                    <button class="btn btn-xs btn-light" (click)="removeOperationFilter(op)">
                        <span class="fas fa-minus"></span>
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="!hidePerformers" class="card card-alt vbox" style="margin-right: 4px">
            <div class="card-header">
                <label style="flex: 1;">{{'HISTORY_VALIDATION.FILTERS.PERFORMERS'|translate}}</label>
                <button class="btn btn-xs btn-light" (click)="selectOperationPerformer()">
                    <span class="fas fa-plus"></span>
                </button>
            </div>
            <div class="card-body scrollableContainer">
                <div *ngFor="let p of performers" class="listItem">
                    <span style="flex: 1">{{p.getShow()}}<span class="grayText">&nbsp;({{p.getEmail()}})</span></span>
                    <button class="btn btn-xs btn-light" (click)="removeOperationPerformer(p)">
                        <span class="fas fa-minus"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="card card-alt vbox" style="margin-right: 4px">
            <div class="card-header">
                <label>
                    {{'COMMONS.TIME'|translate}}
                    <span class="fas fa-info-circle" [title]="'HISTORY_VALIDATION.FILTERS.DATETIME_FORMAT'|translate"></span>
                </label>
            </div>
            <div class="card-body scrollableContainer">
                <table class="table table-sm table-borderless">
                    <colgroup>
                        <col style="width: 1%">
                        <col>
                        <col>
                        <col style="width: 1%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td><label>{{'HISTORY_VALIDATION.FILTERS.TIME_FROM'|translate}}:</label></td>
                            <td><input type="datetime-local" class="form-control" [(ngModel)]="fromTime"></td>
                            <td><input class="form-control" [ngModel]="fromTime" readonly></td>
                            <td>
                                <button class="btn btn-xs btn-light" (click)="fromTime=null" [title]="'ACTIONS.RESET'|translate" [disabled]="!fromTime">
                                    <span class="fas fa-times"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><label>{{'HISTORY_VALIDATION.FILTERS.TIME_TO'|translate}}:</label></td>
                            <td><input type="datetime-local" class="form-control" [(ngModel)]="toTime"></td>
                            <td><input class="form-control" [ngModel]="toTime" readonly></td>
                            <td>
                                <button class="btn btn-xs btn-light" (click)="toTime=null" [title]="'ACTIONS.RESET'|translate" [disabled]="!toTime">
                                    <span class="fas fa-times"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <button class="btn btn-sm btn-primary" style="align-self: center" (click)="applyFilter()">{{'HISTORY_VALIDATION.FILTERS.APPLY'|translate}}</button>

    </div>
</div>