<div class="modal-header">
    <h3 class="modal-title">Class tree settings</h3>
</div>
<div class="modal-body vbox" style="min-height: 40vh;">

    <div class="hbox" style="align-items: center; flex: initial;">
        <label style="white-space: nowrap; margin-right: 4px;">
            Root class:
        </label>
        <input-editable *ngIf="rootClass" [value]="rootClass.getURI()" (valueEdited)="updateRootClass($event)" style="flex: 1;"></input-editable>
        <button class="btn btn-light btn-sm" style="line-height: 1; margin-left: 4px;" (click)="changeClass()">
            <img src="./assets/images/icons/res/class.png"/>
        </button>
    </div>

    <div class="card card-default vbox" style="margin-top: 8px;">
        <div class="card-header">
            <label>
                SubClasses filter
                <span class="fas fa-info-circle" title="Here you can create filters in order to hide subClasses of classes."></span>
            </label>
            <div style="flex: 1"></div>
            <label>Enabled</label>
            <input type="checkbox" style="margin-left: 6px;" [(ngModel)]="filterEnabled" title="Enable filter">
        </div>
        <div class="card-body hbox">
            <div class="card card-alt vbox">
                <div class="card-header">
                    <label style="flex: 1">Classes</label>
                    <div class="btn-toolbar" role="toolbar">
                        <button class="btn btn-light btn-xs" title="Rendering" (click)="renderingClasses = !renderingClasses"
                            [ngClass]="{active: renderingClasses}">
                            <span class="fas fa-font"></span>
                        </button>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-light" (click)="addFilter()" title="Add filter">
                                <span class="fas fa-plus"></span>
                            </button>
                            <button class="btn btn-light" (click)="removeFilter()" title="Remove filter" [disabled]="!selectedFilteredClass">
                                <span class="fas fa-minus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body scrollableContainer">
                    <div *ngFor="let f of filterMapRes" class="listItem" (click)="selectFilteredClass(f.cls)"
                        [ngClass]="{ active: f.cls == selectedFilteredClass }">
                        <rdf-resource [resource]="f.cls" [rendering]="renderingClasses"></rdf-resource>
                    </div>
                </div>
            </div>

            <div class="card card-alt vbox" style="margin-left: 4px;">
                <div class="card-header">
                    <label style="flex: 1">Filtered subClasses</label>
                    <div class="btn-toolbar" role="toolbar">
                        <button class="btn btn-light btn-xs" title="Rendering" (click)="renderingFilter = !renderingFilter"
                            [ngClass]="{active: renderingFilter}">
                            <span class="fas fa-font"></span>
                        </button>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-light" (click)="checkAllClasses(true)" title="Check all" [disabled]="!selectedFilteredClass">
                                <span class="far fa-check-square"></span>
                            </button>
                            <button class="btn btn-light" (click)="checkAllClasses(false)" title="Uncheck all" [disabled]="!selectedFilteredClass">
                                <span class="far fa-square"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body scrollableContainer">
                    <div *ngFor="let f of getFilterSubClasses()" class="listItem">
                        <input type="checkbox" style="margin-right: 5px;" [(ngModel)]="f.checked" [disabled]="f.disabled">
                        <rdf-resource [resource]="f.resource" [rendering]="renderingFilter" style="flex: 1;"></rdf-resource>
                        <span *ngIf="f.checked" class="fas fa-eye"></span>
                        <span *ngIf="!f.checked" class="fas fa-eye-slash"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <div class="form-check">
            <input class="form-check-input" id="instanceCheck" type="checkbox" [(ngModel)]="showInstNumb">
            <label class="form-check-label" for="instanceCheck">Show instances number</label>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.CANCEL'|translate}}</button>
</div>