<div class="modal-header">
    <h3 class="modal-title">Create Custom Range - Property mapping</h3>
</div>
<div class="modal-body vbox" style="height: 60vh">
    
    <table class="table table-condensed table-borderless" style="height: 100%">
        <colgroup>
            <col style="width: 1%;">
            <col>
            <col style="width: 1%;">
        </colgroup>
        <tbody>
            <tr style="height: 1%">
                <td><label>ID:</label></td>
                <td>
                    <div class="hbox">
                        <div class="input-group input-group-xs">
                            <span class="input-group-addon" style="padding-right: 2px">{{crePrefix}}</span>
                            <input type="text" class="form-control" [(ngModel)]="creShortId" [disabled]="creId">
                        </div>
                    </div>
                </td>
                <td>*</td>
            </tr>
            <tr style="height: 1%">
                <td>
                    <label>Name:</label>
                    <span class="glyphicon glyphicon-info-sign"
                        title="The name that will be shown to the user to identify this entry"></span>
                </td>
                <td><input type="text" class="form-control input-xs" [(ngModel)]="name"></td>
                <td>*</td>
            </tr>
            <tr style="height: 1%">
                <td>
                    <label>Description:</label>
                    <span class="glyphicon glyphicon-info-sign"
                        title="A natural language description that briefly explain the purpose of this entry"></span>
                </td>
                <td><input type="text" class="form-control input-xs" [(ngModel)]="description"></td>
            </tr>
            <tr style="height: 1%">
                <td>
                    <label>Type:</label>
                    <span class="glyphicon glyphicon-info-sign"
                        title="The type determines if the range is a reified resource (Graph) or a literal (Node)"></span>
                </td>
                <td>
                    <select class="form-control input-xs" [(ngModel)]="type" [disabled]="creId">
                        <option value="graph">Graph</option>
                        <option value="node">Node</option>
                    </select>
                </td>
            </tr>
            <tr style="height: 100%">
                <td>
                    <label>Ref:</label>
                    <span class="glyphicon glyphicon-info-sign"
                        title="In case of Graph type this should contain a CODA rule otherwise, in case of Node type, this should contain simply a CODA converter"></span>
                </td>
                <td>
                    <textarea #refArea style="resize: none; width: 100%; height: 100%" [(ngModel)]="ref"></textarea>
                </td>
                <td>*</td>
            </tr>
            <tr *ngIf="type=='graph'" style="height: 1%">
                <td nowrap>
                    <label>Show property:</label>
                    <span class="glyphicon glyphicon-info-sign" 
                        title="The rdf:Property which value will be shown to represent the graph generated by means of this Entry"></span>
                </td>
                <td><input type="text" class="form-control input-xs" [(ngModel)]="showProperty"></td>
            </tr>
        </tbody>
    </table>
    
</div>
<div class="modal-footer">
    <div class="hbox">
        <div class="hbox" style="align-items: center; margin-right: 10px;">
            <span style="margin-right: 6px">(*) Mandatory field</span>
            <div *ngIf="submitted && !isDataValid()" class="alert alert-danger" style="flex: 1; text-align: left; padding: 5px">
                {{errorMsg}}
            </div>
        </div>
        <button id="toFocus" class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
        <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
    </div>
</div>