<div class="treeNode" #treeNodeElement>
	<div class="expandCollapseBtnContainer">
		<input type="image" *ngIf="node.getAdditionalProperty('children').length > 0 && !node.getAdditionalProperty('open')"
            src="app/assets/images/tree_expand.png"
            (click)="expandNode()">
		<input type="image" *ngIf="node.getAdditionalProperty('open')"
            src="app/assets/images/tree_collapse.png"
            (click)="collapseNode()">
	</div>
    <rdf-resource [resource]="node" (click)="selectNode()" 
        [ngClass]="{selectedResource : node.getAdditionalProperty('selected')}"></rdf-resource>
</div>

<div class="subTree" *ngIf="node.getAdditionalProperty('children').length > 0 && node.getAdditionalProperty('open')">
	<property-tree-node *ngFor="let n of node.getAdditionalProperty('children')" [node]="n" (itemSelected)="onNodeSelected($event)">
    </property-tree-node>
</div>