<div class="modal-body vbox" style="min-height: 70vh;">

    <data-graph-panel *ngIf="mode==GraphModeEnum.dataOriented" class="vbox" [graph]="graph" [rendering]="rendering" [role]="role" [context]="context"></data-graph-panel>
    <model-graph-panel *ngIf="mode==GraphModeEnum.modelOriented" class="vbox" [graph]="graph" [rendering]="rendering"></model-graph-panel>
    <uml-graph-panel *ngIf="mode==GraphModeEnum.umlOriented" class="vbox" [graph]="graph" [rendering]="rendering"></uml-graph-panel>

</div>
<div class="modal-footer">
    <button class="btn btn-light btn-sm" (click)="ok()">{{'COMMONS.CLOSE'|translate}}</button>
</div>