<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body vbox">
    <table class="table table-borderless table-condensed">
        <colgroup>
            <col style="width: 1%;">
            <col>
            <col style="width: 1%;">
        </colgroup>
        <tbody>
            <tr>
                <td class="text-right">
                    <label>Level</label>
                </td>
                <td>
                    <select class="form-control input-sm" style="display: inline-block" [(ngModel)]="selectedScope" [disabled]="context.ref || context.readOnly">
                        <option *ngFor="let s of scopes">{{s}}</option>
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="text-right">
                    <label>Name</label>
                </td>
                <td>
                    <input class="form-control input-sm" [(ngModel)]="name" [disabled]="context.ref || context.readOnly">
                </td>
                <td title="Mandatory field">*</td>
            </tr>
            <tr>
                <td class="text-right">
                    <label>Description</label>
                </td>
                <td>
                    <textarea class="form-control input-sm" style="resize: vertical; max-height: 300px;" [(ngModel)]="description" 
                        [disabled]="context.readOnly">
                    </textarea>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div class="vbox" style="margin-top: 6px;">
        <ul class="nav nav-tabs" (click)="$event.preventDefault()">
            <li *ngFor="let e of pearlEditors" [ngClass]="{ active : activePearlEditor == e }">
                <a (click)="activePearlEditor = e">
                    {{e.type}}
                    <span *ngIf="e.info" class="glyphicon glyphicon-info-sign" [title]="e.info"></span>
                </a>
            </li>
        </ul>
        <div class="tab-content vbox">
            <ng-container *ngFor="let e of pearlEditors">
                <div *ngIf="e == activePearlEditor" class="vbox" style="position: relative;">
                    <pearl-editor [(ngModel)]="e.code" (ngModelChange)="onPearlChanged(e)" [disabled]="context.readOnly"></pearl-editor>
                    <div *ngIf="!e.validation.valid" style="position: absolute; top: 12px; right: 30px; z-index: 10;" [title]="e.validation.details">
                        <span class="glyphicon glyphicon-alert" style="color: red;"></span>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isDataValid() || context.readOnly">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>