<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body hbox">

    <div class="card card-default vbox">
        <div class="card-header">
            <label>{{'COMMONS.RESOURCE_TYPE'|translate}}</label>
        </div>
        <div class="card-body scrollableContainer">
            <div *ngFor="let t of resourceTypes" class="listItem" [ngClass]="{ active: selectedType == t }" (click)="selectedType = t">
                {{t.show}}
            </div>
        </div>
    </div>

    <div class="card card-default vbox" style="margin-left: 6px;">
        <div class="card-header">
            <label>Pattern</label>
        </div>
        <div class="card-body scrollableContainer">
            <div *ngFor="let p of patterns" class="listItem" [ngClass]="{ active: selectedPattern == p, grayText: p.scope == 'FACTORY' }" (click)="selectedPattern = p">
                {{p.name}}
            </div>
        </div>
        <div class="card-footer">
            <span class="grayText float-right">Pattern Factory-provided</span>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isDataValid()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
</div>