<div class="vbox">
    <div class="d-flex mb-2">
        <div class="btn-group">
            <button *ngIf="isAdmin()" class="btn btn-light" [routerLink]="['/Administration/Users']" routerLinkActive="active">{{'COMMONS.USERS'|translate}}</button>
            <button class="btn btn-light" [routerLink]="['/Administration/Projects']" routerLinkActive="active"
                [disabled]="!isProjManagementAuthorized()">{{'MODELS.PROJECT.PROJECTS'|translate}}</button>
            <button class="btn btn-light" [routerLink]="['/Administration/Roles']" routerLinkActive="active" 
                [disabled]="!isRoleManagementAuthorized()">{{'COMMONS.ROLES'|translate}}</button>
            <button *ngIf="isAdmin()" class="btn btn-light" [routerLink]="['/Administration/Groups']" routerLinkActive="active">{{'COMMONS.GROUPS'|translate}}</button>
        </div>
        <div *ngIf="isAdmin()" class="btn-group ml-2">
            <button class="btn btn-light" [routerLink]="['/Administration/Configuration']" routerLinkActive="active">{{'COMMONS.CONFIG.CONFIGURATION'|translate}}</button>
            <button class="btn btn-light" [routerLink]="['/Administration/SettingsMgr']" routerLinkActive="active">{{'ADMINISTRATION.SYSTEM.SETTINGS_MGR.SETTINGS_MGR'|translate}}</button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>