<div class="card card-default vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">No definition resources</label>
        <button class="btn btn-xs btn-light" (click)="runIcv()">Run</button>
    </div>
    <div class="card-body vbox">
        
        <icv-config-panel [checkRoles]="checkRoles" (rolesChange)="onRolesChanged($event)" 
            [checkLanguages]="checkLanguages" (langsChange)="onLangsChanged($event)">
        </icv-config-panel>

        <div class="card card-default vbox">
            <div class="card-body scrollableContainer">
                <table *ngIf="brokenRecordList" class="table table-sm table-hoverable">
                    <thead>
                        <tr>
                            <th class="text-center">Resource</th>
                            <th class="text-center">Languages</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template ngFor let-record [ngForOf]="brokenRecordList" let-i="index">
                            <tr *ngIf="i >= page*resultsLimit && i < page*resultsLimit + resultsLimit">
                                <td class="text-center">
                                    <rdf-resource class="clickable" [resource]="record.resource" (click)="onResourceClick(record.resource)"></rdf-resource>
                                </td>
                                <td class="text-center">
                                    <ng-template ngFor let-lang [ngForOf]="record.langs">
                                        <lang-item [language]="lang"></lang-item>
                                    </ng-template>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>

            <div *ngIf="brokenRecordList && brokenRecordList.length > 0" class="card-footer">
                <div class="btn-group btn-group-xs float-right" role="group">
                    <button class="btn btn-light" title="Previous" (click)="page=page-1" [disabled]="page <= 0">
                        <span class="fas fa-caret-left"></span>
                    </button>
                    <button class="btn btn-light" style="cursor: auto" disabled>
                        <span>{{page+1}} of {{pageCount}}</span>
                    </button>
                    <button class="btn btn-light" title="Next" (click)="page=page+1" [disabled]="page+1 >= pageCount">
                        <span class="fas fa-caret-right"></span>
                    </button>
                </div>
            </div>

        </div>
        
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>