<div class="d-flex">
    <div class="sense">

        <div *ngIf="sense.definition?.length > 0 || pendingDef" class="d-flex my-2">
            <label class="mt-2 mr-2">{{'COMMONS.DEFINITION'|translate}}:</label>
            <div class="vbox">
                <div *ngFor="let def of sense.definition; let last=last" class="d-flex align-items-center mr-2" [ngClass]="{ 'mb-1': !last }">
                    <inline-def style="flex: 1" [resource]="sense.id" [definition]="def" (update)="onUpdate()"></inline-def>
                    <button *ngIf="last && !pendingDef" class="btn btn-faded btn-xs ml-1" (click)="addDefinition()" [disabled]="!addDefAuthorized" [title]="'ACTIONS.ADD'|translate">
                        <span class="fas fa-plus"></span>
                    </button>
                </div>
                <inline-editable-value *ngIf="pendingDef" class="mt-1" [focusOnInit]="true" (edited)="onPendingDefConfirmed($event)" (editCanceled)="onPendingDefCanceled()">
                </inline-editable-value>
            </div>
        </div>

        <div *ngIf="sense.concept?.length > 0" class=" my-2">
            <concept-ref *ngFor="let c of sense.concept" [concept]="c" [sense]="sense" [lang]="lang" [lexViewCache]="lexViewCache"
                (update)="onUpdate()" (dblclickObj)="resourceDblClick($event)">
            </concept-ref>
        </div>

        <div *ngIf="sense.reference?.length > 0" class=" my-2">
            <div *ngFor="let ref of sense.reference" class="d-flex align-items-center mb-2">
                <label class="mr-2">{{'RESOURCE_VIEW.LEX_VIEW.SEMANTIC_REFERENCE'|translate}}:</label>
                <rdf-resource class="clickable" [resource]="ref" (dblclick)="resourceDblClick(ref)"></rdf-resource>
            </div>
        </div>

        <div *ngIf="sense.translations.length > 0" class=" my-2">
            <div class="d-flex">
                <label class="mr-2">{{'RESOURCE_VIEW.LEX_VIEW.TRANSLATION'|translate}}:</label>
                <translation *ngFor="let t of sense.translations" [sense]="sense" [relation]="t" (dblclickObj)="resourceDblClick($event)"></translation>
            </div>
        </div>
    </div>

    <div class="d-flex ml-1" style="align-self: flex-start;">
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-faded btn-xs dropdown-toggle" data-toggle="dropdown" [disabled]="readonly" ngbDropdownToggle>
                <span class="fas fa-pencil-alt"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a *ngIf="!sense.id" class="dropdown-item" (click)="reifyPlainSense()" [ngClass]="{ disabled: !reifySenseAuthorized }">
                    {{'DATA.ACTIONS.REIFY_PLAIN_SENSE'|translate}}
                </a>
                <ng-container *ngIf="sense.id">
                    <a class="dropdown-item" (click)="addRelation()" [ngClass]="{ disabled: !addRelatedAuthorized }">
                        {{'DATA.ACTIONS.ADD_RELATED_SENSE'|translate}}
                    </a>
                    <a class="dropdown-item" (click)="setReference()" [ngClass]="{ disabled: !setReferenceAuthorized }">
                        {{'DATA.ACTIONS.SET_REFERENCE'|translate}}
                    </a>
                    <a class="dropdown-item" (click)="setConcept()" [ngClass]="{ disabled: !addConceptAuthorized }">
                        {{'DATA.ACTIONS.ADD_LEX_CONCEPT'|translate}}
                    </a>
                    <a class="dropdown-item" (click)="addDefinition()" [ngClass]="{ disabled: !addDefAuthorized }">
                        {{'DATA.ACTIONS.ADD_DEF_TO_LEX_SENSE'|translate}}
                    </a>
                </ng-container>
            </div>
        </div>
        <button class="btn btn-faded btn-xs ml-1" (click)="deleteSense()" [disabled]="readonly" [title]="'ACTIONS.DELETE'|translate">
            <span class="fas fa-minus"></span>
        </button>
    </div>
    
</div>