<div class="vbox">
    
    <div style="margin-bottom: 10px;">
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default" (click)="createProject()">Create</button>
            <button type="button" class="btn btn-default" (click)="importProject()">Import</button>
        </div>
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default" (click)="deleteProject()" [disabled]="!selectedProject">Delete</button>
            <button type="button" class="btn btn-default" (click)="exportProject()" [disabled]="!selectedProject">Export</button>
        </div>

        <div class="btn-group btn-group-sm pull-right">
            <button type="button" class="btn btn-default" (click)="openPropertyModal()" title="Show project properties" [disabled]="!selectedProject">
                <span class="glyphicon glyphicon-info-sign" style="line-height: 1;"></span>
            </button>
            <button type="button" class="btn btn-default" (click)="openACLModal()" title="Show project Access Control List map">
                ACL
            </button>
        </div>

    </div>

    <div class="scrollableContainer">
        <table class="table table-condensed table-hoverable" style="flex: 1">
            <thead>
                <tr>
                    <th class="text-center">Accessed</th>
                    <th class="text-center">Open/Close</th>
                    <th class="text-center">Project Name</th>
                    <th class="text-center">Triple Store</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Onto Type</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of projectList" (click)="selectProject(p)" [ngClass]="{active: p == selectedProject}">
                    <td class="text-center">
                        <input #input type="radio" name="projRadioGrp" [value]="p.getName()" (click)="accessProject(input.value)"
                            [checked]="isWorkingProject(input.value)" [disabled]="!p.isOpen()"/>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-default btn-sm" [ngClass]="{active: p.isOpen()}" style="line-height: 1" 
                            (click)="openOrCloseProject(p)">
                            <img *ngIf="!p.isOpen()" src="../../assets/images/folder.gif">
                            <img *ngIf="p.isOpen()" src="../../assets/images/folder-open.gif">
                        </button>
                        <!--Alternative style-->
                        <!--<button class="btn btn-default btn-xs" [ngClass]="{active: p.isOpen()}" (click)="openOrCloseProject(p)">
                            <span *ngIf="!p.isOpen()" class="glyphicon glyphicon-folder-close"></span>
                            <span *ngIf="p.isOpen()" class="glyphicon glyphicon-folder-open"></span>
                        </button>-->
                    </td>
                    <td class="text-center">
                        {{p.getName()}}
                    </td>
                    <td class="text-center">{{p.getPrettyPrintOntoMgr()}}</td>
                    <td class="text-center">
                        {{p.getType()}}
                        <button *ngIf="p.getType() == 'saveToStore'" class="btn btn-default btn-xs" (click)="saveProject(p)"
                            title="Save project" [disabled]="!p.isOpen()">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                    </td>
                    <td class="text-center">{{p.getPrettyPrintOntoType()}}</td>
                    <td class="text-center">
                        <span [class]="p.getStatus().class" [title]="p.getStatus().message"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    <div>
</div>