<div class="modal-header">
    <h3 class="modal-title">Projects list</h3>
</div>
<div class="modal-body vbox" style="min-height: 100px;">
    <div class="card card-default vbox" style="margin-left: 5px;">
        <div class="card-header">
            <label style="flex: 1;">Projects</label>
            <div class="btn-group btn-group-xs" ngbDropdown>
                <button class="btn btn-xs btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                    <span class="fas fa-cog"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <h6 class="dropdown-header">Top level elements</h6>
                    <a class="dropdown-item" (click)="changeVisualizationMode(ProjectViewMode.list)">
                        Projects
                        <span *ngIf="visualizationMode == ProjectViewMode.list" class="fas fa-check float-right"></span>
                    </a>
                    <a class="dropdown-item" (click)="changeVisualizationMode(ProjectViewMode.dir)">
                        Directories
                        <span *ngIf="visualizationMode == ProjectViewMode.dir" class="fas fa-check float-right"></span>
                    </a>
                </div>
            </div>

        </div>
        <div class="card-body scrollableContainer">
            
            <table *ngIf="visualizationMode == ProjectViewMode.list" class="table table-sm table-hoverable table-borderless">
                <thead>
                    <tr>
                        <th class="text-center">Project Name</th>
                        <th class="text-center">Model</th>
                        <th class="text-center">Lexicalization</th>
                        <th class="text-center">History</th>
                        <th class="text-center">Validation</th>
                        <th class="text-center">Repo Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of projectList" [ngClass]="{ info : selectedProject == p }" (click)="selectedProject = p">
                        <td class="text-center ellipsable">{{p.getName()}}</td>
                        <td class="text-center">{{p.getModelType(true)}}</td>
                        <td class="text-center">{{p.getLexicalizationModelType(true)}}</td>
                        <td class="text-center">
                            <span *ngIf="p.isHistoryEnabled()" class="fas fa-check" style="color: green" title="History enabled"></span>
                            <span *ngIf="!p.isHistoryEnabled()" class="fas fa-times" style="color: darkred" title="History disabled"></span>
                        </td>
                        <td class="text-center">
                            <span *ngIf="p.isValidationEnabled()" class="fas fa-check" style="color: green" title="Validation enabled"></span>
                            <span *ngIf="!p.isValidationEnabled()" class="fas fa-times" style="color: darkred" title="Validation disabled"></span>
                        </td>
                        <td class="text-center">{{p.getRepositoryLocation().location}}</td>
                    </tr>
                </tbody>
            </table>


            <ng-container *ngIf="visualizationMode == ProjectViewMode.dir">
                <!-- 7px applies the same paddings applied to the rows, namely the padding sum of listItem (3px) and groupPanel-body (4px) -->
                <div class="hbox" style="padding: 7px 7px 0px; flex: none;">
                    <label class="text-center" style="flex: 3">Project Name</label>
                    <label class="text-center" style="flex: 1">Model</label>
                    <label class="text-center" style="flex: 1">Lexicalization</label>
                    <label class="text-center" style="flex: 1">History</label>
                    <label class="text-center" style="flex: 1">Validation</label>
                    <label class="text-center" style="flex: 2">Repo Location</label>
                </div>
                <ng-container *ngFor="let pd of projectDirs">
                    <div class="groupPanel">
                        <div class="groupPanel-heading">
                            <div class="groupPanel-heading-content clickable" (click)="toggleDirectory(pd)">
                                <span [class]="'fas fa-chevron-' + (pd.open ? 'down' : 'right')"></span>
                                <span [class]="'fas fa-folder' + (pd.open ? '-open' : '')" style="margin-left: 4px;"></span>
                                <label class="clickable" style="margin-left: 4px;">
                                    <ng-container *ngIf="pd.dir">{{pd.dir}}</ng-container>
                                    <ng-container *ngIf="!pd.dir">Unclassified</ng-container>
                                </label>
                            </div>
                        </div>
                    
                        <div class="groupPanel-body">
                            <ng-container *ngIf="pd.open">
                                <div *ngFor="let p of pd.projects" class="listItem project-row" [ngClass]="{ active : selectedProject == p }" (click)="selectedProject = p">
                                    <div class="text-center ellipsable" style="flex: 3">
                                        {{p.getName()}}
                                    </div>
                                    <div class="text-center" style="flex: 1">
                                        {{p.getModelType(true)}}
                                    </div>
                                    <div class="text-center" style="flex: 1">
                                        {{p.getLexicalizationModelType(true)}}
                                    </div>
                                    <div class="text-center" style="flex: 1">
                                        <span *ngIf="p.isHistoryEnabled()" class="fas fa-check" style="color: green" title="History enabled"></span>
                                        <span *ngIf="!p.isHistoryEnabled()" class="fas fa-times" style="color: darkred" title="History disabled"></span>
                                    </div>
                                    <div class="text-center" style="flex: 1">
                                        <span *ngIf="p.isValidationEnabled()" class="fas fa-check" style="color: green" title="Validation enabled"></span>
                                        <span *ngIf="!p.isValidationEnabled()" class="fas fa-times" style="color: darkred" title="Validation disabled"></span>
                                    </div>
                                    <div class="text-center" style="flex: 2">
                                        {{p.getRepositoryLocation().location}}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedProject">Access</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">Close</button>
</div>