<div class="vbox">
    
    <div style="margin-bottom: 10px;">
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default" (click)="createProject()">Create</button>
            <button type="button" class="btn btn-default" (click)="deleteProject()" [disabled]="!selectedProject">Delete</button>
        </div>

        <div class="btn-group btn-group-sm pull-right">
            <button type="button" class="btn btn-default" (click)="openPropertyModal()" title="Show project properties" [disabled]="!selectedProject">
                <span class="glyphicon glyphicon-info-sign" style="line-height: 1;"></span>
            </button>
            <button type="button" class="btn btn-default" (click)="openACLModal()" title="Show project Access Control List map">
                ACL
            </button>
        </div>
    </div>

    <div class="panel panel-default vbox">
        <div class="panel-heading">
            <label style="flex: 1;">Projects</label>
            <button class="btn btn-xs btn-default" (click)="openTableConfig()" title="Table configuration">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </div>
        <div class="panel-body scrollableContainer">
            <table class="table table-condensed table-hoverable" style="flex: 1">
                <thead>
                    <tr>
                        <ng-template ngFor let-col [ngForOf]="customColumnsOrder">
                            <th class="text-center">
                                {{col}}
                            </th>
                        </ng-template>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of projectList" (click)="selectProject(p)" [ngClass]="{active: p == selectedProject}">
                        <td class="text-center">
                            <input type="radio" name="projRadioGrp" [value]="p.getName()" (click)="activateProject(p)"
                                [checked]="isWorkingProject(p)" [disabled]="!p.isOpen()"/>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-default btn-sm" [ngClass]="{active: p.isOpen()}" style="line-height: 1" 
                                (click)="openOrCloseProject(p)">
                                <img *ngIf="!p.isOpen()" src="../../assets/images/icons/folder.gif">
                                <img *ngIf="p.isOpen()" src="../../assets/images/icons/folder-open.gif">
                            </button>
                        </td>
                        <td class="text-center">
                            <span *ngIf="p.getStatus().status != 'ok'" style="color: red; font-weight: bold;">
                                {{p.getName()}}
                                <span class="glyphicon glyphicon-exclamation-sign" [title]="p.getStatus().message"></span>
                            </span>
                            <span *ngIf="p.getStatus().status == 'ok'">{{p.getName()}}</span>
                        </td>
                        <td *ngIf="showColumn('Model')" class="text-center">{{p.getModelType(true)}}</td>
                        <td *ngIf="showColumn('Lexicalization Model')" class="text-center">{{p.getLexicalizationModelType(true)}}</td>
                        <td *ngIf="showColumn('History')" class="text-center">
                            <span *ngIf="p.isHistoryEnabled()" class="glyphicon glyphicon-ok" style="color: green" title="History enabled"></span>
                            <span *ngIf="!p.isHistoryEnabled()" class="glyphicon glyphicon-remove" style="color: darkred" title="History disabled"></span>
                        </td>
                        <td *ngIf="showColumn('Validation')" class="text-center">
                            <span *ngIf="p.isValidationEnabled()" class="glyphicon glyphicon-ok" style="color: green" title="Validation enabled"></span>
                            <span *ngIf="!p.isValidationEnabled()" class="glyphicon glyphicon-remove" style="color: darkred" title="Validation disabled"></span>
                        </td>
                        <td *ngIf="showColumn('Repository Location')" class="text-center">
                            {{p.getRepositoryLocation().location}}
                            <span *ngIf="p.isRepositoryRemote()" class="glyphicon glyphicon-info-sign" [title]="p.getRepositoryLocation().serverURL"></span>
                            <button *ngIf="p.isRepositoryRemote()" class="btn btn-xs btn-default" title="Remote repo credentials" 
                                (click)="editRemoteRepoCredential(p)" [disabled]="p.isOpen()">
                                <span class="glyphicon glyphicon-cog"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>