<div class="modal-header">
    <h3 class="modal-title">Projects list</h3>
</div>
<div class="modal-body vbox" style="min-height: 100px; max-height:70vh;">
    <!--<div class="scrollableContainer" style="border: 1px solid #ddd">
        <table class="table table-condensed table-hoverable" style="flex: 1">
            <thead>
                <tr>
                    <th class="text-center">Projects</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of projectList" (click)="selectedProject = p" [ngClass]="{active: selectedProject == p}">
                    <td>
                        {{p.getName()}}
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>-->

    <div class="panel panel-default vbox" style="margin-left: 5px;">
        <div class="panel-heading">
            <label>Projects</label>
        </div>
        <div class="panel-body scrollableContainer">
            <div *ngFor="let p of projectList" class="listItem" (click)="selectProject(p)"
                [ngClass]="{ active: selectedProject == p, disabled: isWorkingProject(p) }">
                {{p.getName()}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isAccessClickable()">Access</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>