<div class="modal-header">
    <h3 class="modal-title">Remote repositories</h3>
</div>
<div class="modal-body vbox scrollableContainer" style="max-height:70vh;">

    <div *ngIf="!repoSummaries || repoSummaries.length == 0" class="alert alert-info" style="margin: 4px;">
        There are no remote repositories related to this project
    </div>

    <div *ngFor="let repo of repoSummaries" class="panel panel-default" style="margin-bottom: 2px;">
        <div class="panel-heading">
            <label>{{repo.id}}:</label>
            <span style="margin-left: 4px;">{{repo.description}}</span>
        </div>
        <div class="panel-body">
            <table *ngIf="repo.remoteRepoSummary" class="table table-condensed table-borderless"> 
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 40%;">
                    <col style="width: 10%;">
                    <col style="width: 40%;">
                </colgroup>
                <tbody>
                    <tr>
                        <td nowrap><label>Repository ID:</label></td>
                        <td><input class="form-control input-sm" [(ngModel)]="repo.remoteRepoSummary.repositoryId" readonly></td>
                        <td nowrap><label>Server URL:</label></td>
                        <td><input class="form-control input-sm" [(ngModel)]="repo.remoteRepoSummary.serverURL" readonly></td>
                    </tr>
                    <tr>
                        <td><label>Username:</label></td>
                        <td><input class="form-control input-sm" [(ngModel)]="repo.remoteRepoSummary.username" placeholder="username"></td>
                        <td><label>Password:</label></td>
                        <td><input class="form-control input-sm" [(ngModel)]="repo.remoteRepoSummary.password" placeholder="password"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer hbox" style="align-items: center">
            <div *ngIf="allowBatchModify" class="panel panel-default">
                <div class="panel-body">
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" [(ngModel)]="repo.batch">Batch modify
                        </label>
                        <span class="glyphicon glyphicon-info-sign"
                            title="Modifies, all at once, the access credentials of (possibly) many repositories with the same serverURL.">
                        </span>
                    </div>
                    <div class="checkbox-inline" *ngIf="repo.batch">
                        <label>
                            <input type="checkbox" [(ngModel)]="repo.matchUsername">Match username
                        </label>
                        <span class="glyphicon glyphicon-info-sign"
                            title="If checked, modifies credentials of repositories with same serverURL and username (empty 'old' username indicates repositories with no associated username)">
                        </span>
                    </div>
                </div>
            </div>
            <span style="flex: 1"></span>
            <button class="btn btn-default btn-xs" (click)="applyChange(repo)">Update</button>
        </div>
    </div>

    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
</div>