<div class="vbox" style="align-items: center;" (keydown)="onKeydown($event)">
	<div style="margin-bottom: 5px; font-weight: bold; font-size: 13px;">
		<span class="glyphicon glyphicon-log-in"></span>
		<span> User login</span>
	</div>
	<input type="text" class="form-control input-sm" style="margin-bottom: 5px;" [(ngModel)]="email" placeholder="E-mail address">
	<div class="input-group input-group-sm" style="width: 100%">
		<input *ngIf="!showPwd" type="password" class="form-control" [(ngModel)]="password" placeholder="Password">
		<input *ngIf="showPwd" class="form-control" [(ngModel)]="password" placeholder="Password">
		<span class="input-group-btn">
			<button class="btn btn-default" [ngClass]="{ active : showPwd }" (mousedown)="showPwd = true" (mouseup)="showPwd = false">
				<span *ngIf="!showPwd" class="glyphicon glyphicon-eye-close"></span>
				<span *ngIf="showPwd" class="glyphicon glyphicon-eye-open"></span>
			</button>
		</span>
	</div>
	<button class="btn btn-sm btn-primary" style="margin-bottom: 5px;" (click)="login()">Log in</button>
	<!--<div style="display: flex; align-items: center; margin-bottom: 5px;">
		Remember me
		<input type="checkbox" style="margin-left: 3px;" name="rememberMe" [(ngModel)]="rememberMe">
	</div>-->
	<a (click)="forgotPassword()" style="cursor: pointer">Forgot password?</a>
	<a [routerLink]="['/Registration/0']">Sign up</a>
</div>