<div class="container vbox" style="flex: initial">

    <div class="card card-default vbox" style="flex: initial">
        <div class="card-header">
            <label><span class="fas fa-user"></span> User registration:</label>
        </div>
        <div class="card-body scrollableContainer">
            <div *ngIf="privacyStatementAvailable" class="alert alert-info" style="margin-bottom: 6px;">
                {{'HOME.PRIVACY_STATEMENT.READ_OUR'|translate}}
                <a [routerLink]="" (click)="downloadPrivacyStatement()" style="font-weight: bold;">
                    {{'HOME.PRIVACY_STATEMENT.LINK_TEXT'|translate}}
                </a>
            </div>

            <div *ngIf="firstAccess" class="alert alert-info" style="margin-bottom: 4px;">
                VocBench found no registered user. In order to use the platform, you need to create an administrator account by entering
                personal data and login credentials. A pre-defined user
                (<span style="font-weight: bold;">username:</span> admin@vocbench.com, <span style="font-weight: bold;">password:</span> admin)
                is available for letting those willing to use VocBench as a simple desktop tool and skip the user creation procedure.
                <button class="btn btn-xs btn-primary" (click)="fillDefaultUser()">Fill pre-defined user</button>
            </div>
            <user-create [(ngModel)]="userForm"></user-create>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <div><span style="color: red; margin-right: 2px;">* </span>{{'COMMONS.MANDATORY_FIELD'|translate}}</div>
                <div><span style="color: red; margin-right: 2px;">** </span>{{'USER.FORM.OPTIONAL_RECOMMENDED_FIELD'|translate}}</div>
            </div>
            <button type="submit" class="btn btn-light btn-sm float-right" (click)="submit()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
            <span class="clearfix"></span>
        </div>
    </div>

</div>