<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">E-mail: <span style="color: red">*</span></label>
        <div class="col-sm-10">
            <input type="email" class="form-control input-sm" [(ngModel)]="form.email" (ngModelChange)="onModelChange()"  placeholder="E-mail address">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Password: <span style="color: red">*</span></label>
        <div class="col-sm-4">
            <div class="input-group input-group-sm">
                <input *ngIf="!showPwd" type="password" class="form-control" [(ngModel)]="form.password" (ngModelChange)="onModelChange()" placeholder="Password">
                <input *ngIf="showPwd" class="form-control" [(ngModel)]="form.password" placeholder="password">
                <span class="input-group-btn">
                    <button class="btn btn-default" [ngClass]="{ active : showPwd }" (mousedown)="showPwd = true" (mouseup)="showPwd = false">
                        <span *ngIf="!showPwd" class="glyphicon glyphicon-eye-close"></span>
                        <span *ngIf="showPwd" class="glyphicon glyphicon-eye-open"></span>
                    </button>
                </span>
            </div>
        </div>
        <label class="col-sm-2 control-label">Confirm password: <span style="color: red">*</span></label>
        <div class="col-sm-4">
            <div class="input-group input-group-sm">
                <input *ngIf="!showPwdConf" type="password" class="form-control" [ngClass]="{invalid : !isConfirmPwdOk()}" 
                    [(ngModel)]="form.confirmedPassword" (ngModelChange)="onModelChange()" placeholder="Password">
                <input *ngIf="showPwdConf" class="form-control" [ngClass]="{invalid : !isConfirmPwdOk()}" 
                    [(ngModel)]="form.confirmedPassword" placeholder="Password">
                <span class="input-group-btn">
                    <button class="btn btn-default" [ngClass]="{ active : showPwdConf }" (mousedown)="showPwdConf = true" (mouseup)="showPwdConf = false">
                        <span *ngIf="!showPwdConf" class="glyphicon glyphicon-eye-close"></span>
                        <span *ngIf="showPwdConf" class="glyphicon glyphicon-eye-open"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Given name: <span style="color: red">*</span></label>
        <div class="col-sm-10">
            <input class="form-control input-sm" [(ngModel)]="form.givenName" (ngModelChange)="onModelChange()"  placeholder="Given name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Family name: <span style="color: red">*</span></label>
        <div class="col-sm-10">
            <input class="form-control input-sm" [(ngModel)]="form.familyName" (ngModelChange)="onModelChange()"  placeholder="Family name">
        </div>
    </div>

    <!-- Optional (hidable) -->
    <ng-container *ngFor="let f of optionalFields">
        <div *ngIf="f.visible" class="form-group">
            <label class="col-sm-2 control-label">{{getOptionalFieldLabel(f)}}:</label>
            <div class="col-sm-10">
                <input class="form-control input-sm" [(ngModel)]="f.value" (ngModelChange)="onOptionalFieldChange(f)"  [placeholder]="getOptionalFieldLabel(f)">
            </div>
        </div>
    </ng-container>

    <!-- Custom -->
    <div *ngFor="let f of customFields; let idx = index" class="form-group">
        <label class="col-sm-2 control-label">{{f.label}}:</label>
        <div class="col-sm-10">
            <input class="form-control input-sm" [(ngModel)]="form.customProperties[f.iri]" (ngModelChange)="onModelChange()" [placeholder]="f.label">
        </div>
    </div>

    <div style="height: 1px; margin: 0 0 7px; background-color: #e5e5e5;"></div>

    <!-- Others -->
    <div class="form-group">
        <label class="col-sm-2 control-label">
            User IRI:
            <span class="glyphicon glyphicon-info-sign" [title]="iriInfoTitle"></span>
        </label>
        <div class="col-sm-10">
            <input *ngIf="!personalUrlVisible" class="form-control input-sm" [(ngModel)]="form.iri" placeholder="User IRI" (ngModelChange)="onModelChange()">
            <div *ngIf="personalUrlVisible" class="input-group">
                <input class="form-control input-sm" [(ngModel)]="form.iri" placeholder="User IRI" (ngModelChange)="onModelChange()" [disabled]="form.urlAsIri">
                <span class="input-group-addon" style="padding: 5px 10px;">
                    <input type="checkbox" [(ngModel)]="form.urlAsIri" title="Use personal URL as user IRI" (ngModelChange)="onUrlAsIriChange()">
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Avatar URL:</label>
        <div class="col-sm-10">
            <input class="form-control input-sm" [(ngModel)]="form.avatarUrl" placeholder="Avatar URL" (ngModelChange)="onModelChange()">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Language proficiencies: <span style="color: red">**</span></label>
        <div class="col-sm-10">
            <div class="input-group input-group-sm">
                <input class="form-control" [(ngModel)]="form.languageProficiencies" placeholder="Language proficiencies" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="editLanguages()" placeholder="Edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

</div>