<div class="input-group">

    <ng-container *ngIf="namespaceLocked">
        <span class="input-group-prepend">
            <span class="input-group-text">{{namespace}}</span>
        </span>
        <input #lnWithPH *ngIf="placeholder" type="text" class="form-control" [(ngModel)]="localName"
            (ngModelChange)="onModelChanged()" [placeholder]="placeholder" sanitized>
        <input #lnWithoutPH *ngIf="!placeholder" type="text" class="form-control" [(ngModel)]="localName"
            (ngModelChange)="onModelChanged()" sanitized>
    </ng-container>
    
    <ng-container *ngIf="!namespaceLocked">
        <input *ngIf="placeholder" type="text" class="form-control" [(ngModel)]="uri" (ngModelChange)="onModelChanged()"
            [placeholder]="placeholder" sanitized>
        <input *ngIf="!placeholder" type="text" class="form-control" [(ngModel)]="uri" (ngModelChange)="onModelChanged()"
            sanitized>
    </ng-container>
    
    <div class="input-group-append">
        <button class="btn btn-light" style="width:30px;" (click)="unlockNamespace()"
            [title]="'ACTIONS.LOCK_UNLOCK_NAMESPACE'|translate" [ngClass]="{active: namespaceLocked}">
            <span class="fas fa-lock"></span>
        </button>
    </div>
</div>