<!-- <ul class="nav nav-tabs" (click)="$event.preventDefault()">
    <li class="nav-item" [ngClass]="{ active : activeTab == 'retrieve' }">
        <a class="nav-link" (click)="activeTab = 'retrieve'">
            Retrieve
            <i *ngIf="!retrieveEditor.valid" class="fas fa-exclamation text-danger" [title]="'STATUS.ERROR'|translate"></i>    
        </a>
    </li>
    <li class="nav-item" [ngClass]="{ active : activeTab == 'update' }">
        <a class="nav-link" (click)="activeTab = 'update'">
            Update
            <i *ngIf="!updateEditor.valid" class="fas fa-exclamation text-danger" [title]="'STATUS.ERROR'|translate"></i>
        </a>
    </li>
</ul>
<div class="tab-content">

    <div *ngIf="activeTab == 'retrieve'">
        <div class="alert alert-warning mb-2" [innerHTML]="retrieveInfoSafe"></div>
        <yasgui [query]="retrieveEditor.query" (querychange)="onRetrieveChanged($event)" [readonly]="readonly" hideButtons="true"></yasgui>
    </div>

    <div *ngIf="activeTab == 'update'">
        <div class="alert alert-warning mb-2" [innerHTML]="updateInfoSafe"></div>
        <yasgui [query]="updateEditor.query" (querychange)="onUpdateChanged(e, $event)" [readonly]="readonly" hideButtons="true"></yasgui>
    </div>

</div> -->

dynamic vector