<div class="resViewPartitionRendererPanel" *ngIf="objectList">
    <div class="resViewPartitionRendererHeading">
        <label>{{label}}:</label>
        <input type="image" [title]="addBtnImgTitle" [src]="addBtnImgSrc" (click)="add()">
    </div>
    <div class="resViewPartitionRendererBody">
        <div *ngFor="#o of objectList" class="resViewObjectItem">
            <rdf-resource [resource]="o"></rdf-resource>
            <input type="image" [title]="removeBtnImgTitle" [src]="removeBtnImgSrc" 
                    (click)="remove(o)" [disabled]="!o.getAdditionalProperty('explicit')">
        </div>
    </div>
</div>