<div class="subPanel" *ngIf="objectList">
    <div class="subPanel-heading">
        <label style="flex: 1">{{label}}:</label>
        <input type="image" [title]="addBtnImgTitle" [src]="addBtnImgSrc" (click)="add()" 
            [disabled]="!resource.getAdditionalProperty('explicit')">
        <!--<button class="btn btn-default btn-xs" [title]="addBtnImgTitle" (click)="add()">Add</button>-->
    </div>
    <div class="subPanel-body">
        <div *ngFor="let o of objectList" class="listItem">
            <rdf-resource [resource]="o" style="flex:1"></rdf-resource>
            <input type="image" [title]="removeBtnImgTitle" [src]="removeBtnImgSrc" 
                    (click)="remove(o)" [disabled]="!o.getAdditionalProperty('explicit')">
        </div>
    </div>
</div>