<div class="panel panel-default" *ngIf="predicateObjectList">
    <div class="panel-heading resViewPartitionRendererHeading">
        <label>{{label}}:</label>
        <input type="image" [title]="addBtnImgTitle" [src]="addBtnImgSrc" (click)="add()">
    </div>
    <div class="panel-body">
        <div class="panel panel-default" *ngFor="#po of predicateObjectList">
            <!-- each item is a predicateObjects -->
            <div class="panel-heading resViewPartitionRendererHeading">
                <label>{{po.getPredicate().getShow()}}</label>
                <input type="image" [title]="getAddPropImgTitle(po.getPredicate())" [src]="getAddPropImgSrc(po.getPredicate())"
                        (click)="enrichProperty(po.getPredicate())">
            </div>
            <div class="panel-body">
                <div *ngFor="#obj of po.getObjects()" class="resViewObjectItem">
                    <rdf-resource [resource]="obj"></rdf-resource>
                    <input type="image" [title]="getRemovePropImgTitle(po.getPredicate())" [src]="getRemovePropImgSrc(po.getPredicate())"
                        (click)="removePredicateObject(po.getPredicate(), obj)" [disabled]="!obj.getAdditionalProperty('explicit')">
                </div>
            </div>
        </div>
    </div>
</div>