<div class="panel panel-default vbox">
    <div class="panel-heading">
        <label style="flex: 1">{{ref.identifier}}</label>
        <div class="btn-toolbar">
            <button class="btn btn-default btn-xs" (click)="edit()" title="Edit basic info">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <div class="btn-group btn-group-xs">
                <button class="btn btn-default" (click)="compileReport()" title="Compile report">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
            </div>
            <div style="display: inline-block; margin-left: 5px;">
                <div class="input-group input-group-xs">
                    <select class="form-control" [(ngModel)]="selectedReportFormat">
                        <option *ngFor="let f of reportFormats" [ngValue]="f">{{f.label}}</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" (click)="compileAndDownloadReport()" title="Compile and download report">
                            <span class="glyphicon glyphicon-save "></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="form" class="panel-body vbox">

        <!-- Label -->
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">
                    {{form.label.displayName}}
                    <span class="glyphicon glyphicon-info-sign" [title]="form.label.description"></span>
                </label>
                <input class="form-control input-sm" style="flex: 1;" [ngModel]="form.label.value" disabled/>
            </div>
        </div>

        <!-- Description -->
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">
                    {{form.description.displayName}}
                    <span class="glyphicon glyphicon-info-sign" [title]="form.description.description"></span>
                </label>
                <input class="form-control input-sm" style="flex: 1;" [ngModel]="form.description.value" disabled/>
            </div>
        </div>

        <!-- Template -->
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">
                    {{form.template.displayName}}
                    <span class="glyphicon glyphicon-info-sign" [title]="form.template.description"></span>
                </label>
                <mustache-editor style="height: 100px;" [ngModel]="form.template.value" [disabled]="true"></mustache-editor>
            </div>
        </div>
        
        <!-- MimeType -->
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">
                    {{form.mimeType.displayName}}
                    <span class="glyphicon glyphicon-info-sign" [title]="form.mimeType.description"></span>
                </label>
                <input class="form-control input-sm" style="flex: 1;" [ngModel]="form.mimeType.value" disabled/>
            </div>
        </div>

        <!-- Service invocations -->
        <div class="hbox">
            <div class="panel panel-default vbox">
                <div class="panel-heading">
                    <label style="flex: 1">
                        {{form.sections.displayName}}
                        <span class="glyphicon glyphicon-info-sign" [title]="form.sections.description"></span>
                    </label>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-default" (click)="createServiceInvocation()" title="Create service invocation">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button class="btn btn-default" (click)="deleteServiceInvocation()" title="Delete service invocation" [disabled]="!selectedServiceInvocation">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body vbox scrollableContainer">
                    <div *ngFor="let i of form.sections.value" class="listItem" [ngClass]="{ active: selectedServiceInvocation == i }" (click)="selectServiceInvocation(i)">
                        <ng-container *ngIf="i.label">{{i.label}}</ng-container>
                        <ng-container *ngIf="!i.label">{{i.service}}.{{i.operation}}</ng-container>
                    </div>
                </div>
            </div>
            <service-invocation *ngIf="selectedServiceInvocation" style="margin-left: 4px; flex: 4;"
                [invocation]="selectedServiceInvocation" [idx]="selectedServiceInvocationIdx" (update)="onServiceInvocationUpdate()">
            </service-invocation>
        </div>

    </div>
</div>