<div class="panel panel-default vbox">
    <div class="panel-heading">
        <label style="flex: 1">{{id}}</label>

        <div class="btn-group btn-group-xs">
            <button class="btn btn-default" (click)="compileReport()" title="Compile report">
                <span class="glyphicon glyphicon-play"></span>
            </button>
            <!-- <div class="btn-group btn-group-xs">
                <button class="btn btn-default dropdown-toggle" style="padding: 1px 3px;" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li title="Reload service (useful when the Custom Service is changed manually)">
                        <a (click)="reload()">
                            <div class="hbox">
                                <span style="flex:1">Force reload from filesystem</span>
                                <span class="glyphicon glyphicon-repeat pull-right" style="margin-left: 5px;"></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div> -->
        </div>

    </div>
    <div *ngIf="form" class="panel-body vbox">

        <!-- Label -->
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">
                    {{form.label.displayName}}
                    <span class="glyphicon glyphicon-info-sign" [title]="form.label.description"></span>
                </label>
                <input-editable style="flex: 1;" [value]="form.label.value" (valueEdited)="updateLabel($event)"></input-editable>
            </div>
        </div>

        <!-- Description -->
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">
                    {{form.description.displayName}}
                    <span class="glyphicon glyphicon-info-sign" [title]="form.description.description"></span>
                </label>
                <input-editable style="flex: 1;" [value]="form.description.value" (valueEdited)="updateDescription($event)"></input-editable>
            </div>
        </div>

        <!-- Service invocations -->
        <div class="hbox">
            <div class="panel panel-default vbox">
                <div class="panel-heading">
                    <label style="flex: 1">
                        {{form.serviceInvocations.displayName}}
                        <span class="glyphicon glyphicon-info-sign" [title]="form.serviceInvocations.description"></span>
                    </label>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-default" (click)="createServiceInvocation()" title="Create service invocation">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button class="btn btn-default" (click)="deleteServiceInvocation()" title="Delete service invocation" [disabled]="!selectedServiceInvocation">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body vbox scrollableContainer">
                    <div *ngFor="let i of form.serviceInvocations.value" class="listItem" [ngClass]="{ active: selectedServiceInvocation == i }" (click)="selectServiceInvocation(i)">
                        {{i.service}}
                    </div>
                </div>
            </div>
            <service-invocation *ngIf="selectedServiceInvocation" style="margin-left: 4px; flex: 4;" [invocation]="selectedServiceInvocation" (update)="onServiceInvocationUpdate()">
            </service-invocation>
        </div>

    </div>
</div>