<div class="panel panel-default vbox">
    <div class="panel-heading">
        <label style="flex: 1">
            {{invocation.label}}
        </label>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-xs">
                <button class="btn btn-default" (click)="editInvocation()" title="Edit service invocation" [disabled]="!editInvocationAuthorized">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body vbox scrollableContainer">
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">Label:</label>
                <div style="flex: 1">
                    <input class="form-control input-sm" [ngModel]="invocation.label" readonly>
                </div>
            </div>
        </div>
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">Description:</label>
                <div style="flex: 1">
                    <input class="form-control input-sm" [ngModel]="invocation.description" readonly>
                </div>
            </div>
        </div>
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">Service:</label>
                <div style="flex: 1">
                    <input class="form-control input-sm" [ngModel]="invocation.service" readonly>
                </div>
            </div>
        </div>
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">Operation:</label>
                <div style="flex: 1">
                    <input class="form-control input-sm" [ngModel]="invocation.operation" readonly>
                </div>
            </div>
        </div>
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">Arguments:</label>
                <div class="panel panel-default" style="flex: 1; min-height: 28px;">
                    <div class="panel-body">
                        <table *ngIf="invocation.arguments" class="table table-borderless table-condensed" style="font-family: monospace;">
                            <colgroup>
                                <col style="width: 1%;">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr *ngFor="let argName of objectKeys(invocation.arguments)">
                                    <td><label>{{argName}}</label></td>
                                    <td>
                                        <input class="form-control input-sm" [ngModel]="invocation.arguments[argName]" readonly>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">Template:</label>
                <div style="flex: 1">
                    <mustache-editor [ngModel]="invocation.template" [disabled]="true"></mustache-editor>
                </div>
            </div>
        </div>
    </div>
</div>