<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal" resizable>
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">Custom Form Wizard</h3>
    </div>
    <div class="modal-body vbox">

        <div class="hbox">

            <div class="vbox" style="flex: 2">

                <custom-form-wizard-fields-editor [(ngModel)]="fields" (ngModelChange)="updatePearl()">
                </custom-form-wizard-fields-editor>

                <div class="card mt-2">
                    <div class="card-header">
                        <label>Entry point</label>
                    </div>
                    <div class="card-body d-flex">
                        <div class="d-flex align-items-center">
                            <label class="text-nowrap">Node ID</label>
                            <input class="form-control ml-2" [ngModel]="entryPoint.nodeId" readonly>
                        </div>
                        <div class="d-flex align-items-center ml-4" style="flex: 1">
                            <label class="text-nowrap">Converter</label>
                            <div class="input-group ml-2">
                                <input class="form-control" [ngModel]="entryPoint.converterSerialization" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-light" (click)="editEntryPointConverter()">
                                        <span class="fas fa-pencil-alt"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="entryPoint.converterStatus?.signatureDesc.getRequirementLevels() == 'REQUIRED'" class="d-flex align-items-center ml-3">
                            <label class="text-nowrap">Feature</label>
                            <div class="input-group ml-2">
                                <select class="form-control" [(ngModel)]="entryPoint.feature" (ngModelChange)="updatePearl()">
                                    <ng-container *ngFor="let f of fields">
                                        <option *ngIf="f.type == 'uri'" [ngValue]="f">{{f.label}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card vbox mt-2">
                    <div class="card-header">
                        <label style="flex: 1;">Field relations</label>
                        <div class="btn-toolbar">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-light" (click)="addGraph()">
                                    <span class="fas fa-plus"></span>
                                </button>
                                <button class="btn btn-light" (click)="removeGraph()" [disabled]="!selectedGraph">
                                    <span class="fas fa-minus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body vbox">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <th></th>
                                <th>Subject</th>
                                <th>Predicate</th>
                                <th>Object</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let g of graphs; let index=index" (click)="selectedGraph = g" [ngClass]="{ active: selectedGraph == g }">
                                    <td class="text-center">{{index+1}}</td>
                                    <td>
                                        <select class="form-control" [ngModel]="g.subject" [disabled]="index == 0" (ngModelChange)="updatePearl()">
                                            <option [ngValue]="entryPoint">{{entryPoint.nodeId}}</option>
                                            <ng-container *ngFor="let f of fields">
                                                <option *ngIf="f.type == 'uri'" [ngValue]="f">{{f.nodeId}}</option>
                                            </ng-container>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control" [ngModel]="g.predicate?.toNT()" readonly>
                                            <span class="input-group-append">
                                                <button class="btn btn-light" type="button" style="width:36px;" (click)="selectPredicate(g)">
                                                    <span class="fas fa-pencil-alt"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control" [(ngModel)]="g.object" (ngModelChange)="updatePearl()">
                                            <option *ngFor="let f of fields" [ngValue]="f">
                                                {{f.nodeId}}
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card vbox ml-2">
                <div class="card-header">
                    <label style="flex: 1">Pearl Preview</label>
                </div>
                <div class="card-body vbox">
                    <textarea class="form-control vbox" style="resize: none;" [ngModel]="pearl" readonly></textarea>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>