<div class="panel panel-default vbox">
    <div class="panel-heading">
        <label>Alignment Validation:</label>
    </div>
    
    <div class="panel-body vbox">
        <div style="display: flex; align-items: center; margin-bottom: 8px;">
            <label style="margin-right: 4px;">Source:</label>
            <select class="form-control input-sm" [(ngModel)]="selectedSource" (ngModelChange)="onSourceChange()">
                <option *ngFor="let source of alignmentSources">{{source}}</option>
            </select>
        </div>

        <div *ngIf="selectedSource == sourceFile">
            <alignment-file (alignmentLoaded)="alignmentOverview = $event"></alignment-file>
        </div>

        <div *ngIf="selectedSource == sourceGenoma">
            <alignment-genoma (alignmentLoaded)="alignmentOverview = $event"></alignment-genoma>
        </div>

        <alignment-management style="margin-top: 4px;" *ngIf="alignmentOverview" [overview]="alignmentOverview"></alignment-management>
    </div>
    
</div>