<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body">
    <div>
        <select class="form-control input-sm" id="toFocus" [(ngModel)]="datatype">
            <option *ngFor="#dt of datatypes" [value]="dt">{{dt}}</option>
        </select>
        <!--input dedicated to some datatypes-->
        <div *ngIf="isDatatypeBound()" class="panel panel-default" style="margin-top: 6px;">
            <div class="panel-body">
                <div *ngIf="datatype=='http://www.w3.org/2001/XMLSchema#boolean'" class="text-center">
                    <label class="radio-inline">
                        <input type="radio" (click)="value='true'" [checked]="value=='true'">true
                    </label>
                    <label class="radio-inline" style="margin-left: 20px;">
                        <input type="radio" (click)="value='false'" [checked]="value=='false'">false
                    </label>
                </div>
                <div *ngIf="datatype=='http://www.w3.org/2001/XMLSchema#date'">
                    <input class="form-control input-sm" type="date" [(ngModel)]="value">
                </div>
                <div *ngIf="datatype=='http://www.w3.org/2001/XMLSchema#dateTime'">
                    <input class="form-control input-sm" type="datetime-local" [(ngModel)]="value">
                </div>
                <div *ngIf="datatype=='http://www.w3.org/2001/XMLSchema#time'">
                    <input class="form-control input-sm" type="time" [(ngModel)]="value">
                </div>
            </div>
        </div>
        <!--Result (not-editable) of the above input-->
        <input *ngIf="isDatatypeBound()" type="text" class="form-control input-sm" style="margin-top: 6px;" 
            [(ngModel)]="value" disabled>
            
        <!--input for other datatypes-->
        <input *ngIf="datatype=='http://www.w3.org/2001/XMLSchema#float'" type="number" step="any" class="form-control input-sm" 
            style="margin-top: 6px;" [(ngModel)]="value">
        <input *ngIf="datatype=='http://www.w3.org/2001/XMLSchema#integer'" type="number" step="1" class="form-control input-sm" 
            style="margin-top: 6px;" [(ngModel)]="value">
        <input *ngIf="datatype=='http://www.w3.org/2001/XMLSchema#string'" type="text" class="form-control input-sm" 
            style="margin-top: 6px;" [(ngModel)]="value">
            
        <!--Error alert in case of invalid value-->
        <div *ngIf="submitted && !isInputValid()" class="alert alert-danger" style="margin-top: 6px;">
            The inserted value is not valid for the selected datatype
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="submitted && !isInputValid()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>