<div class="hbox">

    <!-- Sidebar -->
    <div class="vbox" [ngClass]="{hidden : sidebarStatus == 0, largeSidebar: sidebarStatus == 2}">
        <tree-panel (nodeSelected)="onNodeSelected($event)"></tree-panel>
    </div>

    <!-- Splitter -->
    <div *ngIf="selectedResource" class="splitter" style="margin: 2px;">
        <span *ngIf="sidebarStatus > 0" class="glyphicon glyphicon-chevron-left" style="display: block"
            (click)="reduceSidebar()"></span>
        <span *ngIf="sidebarStatus < 2" class="glyphicon glyphicon-chevron-right" (click)="expandSidebar()"></span>
    </div>
    
    <!-- Res View -->
    <resource-view-panel *ngIf="selectedResource" [resource]="selectedResource"></resource-view-panel>
</div>