<div class="hbox">
    <div class="expandCollapseBtnContainer" (click)="toggle()" title="Expand/Collapse">
        <img *ngIf="!open" src="../../../assets/images/tree_expand.png">
        <img *ngIf="open" src="../../../assets/images/tree_collapse.png">
    </div>
    <rdf-resource *ngIf="reifiedResource" [resource]="reifiedResource" (dblclick)="resourceDblClick()" style="flex: 1;"></rdf-resource>
</div>

<div *ngIf="open" class="panel panel-default" style="margin: 0px 3px 3px;">
    <div class="panel-body" style="padding: 2px;">
        <table class="table table-condensed table-borderless table-hoverable">
            <tbody>
                
                <template ngFor let-predObj [ngForOf]="predicateObjectList">
                    <tr *ngFor="let obj of predObj.getObjects()">
                        <td style="width: 1%" nowrap>{{predObj.getPredicate().getShow()}}</td>
                        <td>
                            <input type="text" class="form-control input-xs" [ngModel]="obj.getNominalValue()"
                                (dblclick)="objectDblClick(obj)" readonly>
                            <!--Restore when getGraphObjectDescription will contain roles of objects in <predicateObjects>-->
                            <!--<rdf-resource [resource]="obj"></rdf-resource>-->
                        </td>
                    </tr>
                </template>
                
            </tbody>
        </table>
    </div>
</div>