<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body vbox">

    <div class="hbox" style="align-items: center; flex: initial;">
        <label>Type:</label>
        <select class="form-control input-sm" style="margin-left: 4px;" [(ngModel)]="selectedFormConf" (ngModelChange)="onFormConfigurationChanged()">
            <option *ngFor="let c of formConfigurations" [ngValue]="c">{{c.shortName}}</option>
        </select>
    </div>

    <div *ngIf="form" class="panel panel-default vbox" style="margin-top: 6px;">
        <div class="panel-body vbox scrollableContainer">
            
            <!-- Name -->
            <div *ngIf="form.name" class="gridRow">
                <div class="gridEntry">
                    <label class="entryLabel">
                        {{form.name.displayName}}
                        <span class="glyphicon glyphicon-info-sign" [title]="form.name.description"></span>
                    </label>
                    <input class="form-control input-sm" style="flex: 1" [(ngModel)]="form.name.value">
                    <div class="entryRequired">
                        <ng-container *ngIf="form.name.required">*</ng-container>
                    </div>
                </div>
            </div>

            <!-- Authorization -->
            <div *ngIf="form.authorization" class="gridRow">
                <div class="gridEntry">
                    <label class="entryLabel">
                        {{form.authorization.displayName}}
                        <span class="glyphicon glyphicon-info-sign" [title]="form.authorization.description"></span>
                    </label>
                    <input class="form-control input-sm" style="flex: 1" [(ngModel)]="form.authorization.value">
                    <div class="entryRequired">
                        
                        <ng-container *ngIf="form.authorization.required">*</ng-container>
                    </div>
                </div>
            </div>

            <!-- Parameters -->
            <div *ngIf="form.parameters" class="gridRow">
                <div class="gridEntry">
                    <label class="entryLabel">
                        {{form.parameters.displayName}}
                        <span class="glyphicon glyphicon-info-sign" [title]="form.parameters.description"></span>
                    </label>
                    <div class="panel panel-default" style="flex: 1;">
                        <div class="panel-body">
                            <table class="table table-condensed table-borderless">
                                <colgroup>
                                    <col style="width: 1%;">
                                    <col>
                                    <col style="width: 1%;">
                                    <col>
                                    <col style="width: 1%;">
                                </colgroup>
                                <tbody>
                                    <tr *ngFor="let p of form.parameters.value">
                                        <td><label>Name:</label></td>
                                        <td><input class="form-control input-sm" style="font-family: monospace;" [(ngModel)]="p.name"></td>
                                        <td><label>Type:</label></td>
                                        <td>
                                            <type-editor [(ngModel)]="p.type" parameter="true"></type-editor>
                                        </td>
                                        <td>
                                            <div class="checkbox-inline">
                                                <label>
                                                    <input type="checkbox" [(ngModel)]="p.required">Required
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="entryRequired">
                        <ng-container *ngIf="form.parameters.required">*</ng-container>
                    </div>
                </div>
            </div>

            <!-- Returns -->
            <div *ngIf="form.returns" class="gridRow">
                <div class="gridEntry">
                    <label class="entryLabel">
                        {{form.returns.displayName}}
                        <span class="glyphicon glyphicon-info-sign" [title]="form.returns.description"></span>
                    </label>
                    <div class="panel panel-default" style="flex: 1;">
                        <div class="panel-body">
                            <type-editor [(ngModel)]="form.returns.value" (ngModelChange)="updateReturnsPrettyPrint()"></type-editor>
                        </div>
                        <div class="panel-footer">
                            <input class="form-control input-xs" style="font-family: monospace;" [ngModel]="returnsPrettyPrint" readonly>
                        </div>
                    </div>
                    <div class="entryRequired">
                        <ng-container *ngIf="form.returns.required">*</ng-container>
                    </div>
                </div>
            </div>

            <!-- Sparql -->
            <div *ngIf="form.sparql" class="gridRow">
                <div class="gridEntry">
                    <label class="entryLabel">
                        {{form.sparql.displayName}}
                        <span class="glyphicon glyphicon-info-sign" [title]="form.sparql.description"></span>
                    </label>
                    <div class="panel panel-default vbox">
                        <div class="panel-body vbox">
                            <yasgui [query]="form.sparql.value" hideButtons="true"></yasgui>
                        </div>
                    </div>
                    <div class="entryRequired">
                        <ng-container *ngIf="form.sparql.required">*</ng-container>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal-footer">
    <span class="pull-left">(*) Mandatory field</span>
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>