<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body">
    
    <table class="table table-condensed table-borderless">
        <colgroup>
            <col style="width: 1%;">
            <col>
            <col style="width: 1%;">
        </colgroup>
        <tbody>
            <template ngFor let-fe [ngForOf]="formEntries">
                <tr *ngIf="!fe.isDependency()">
                    <!--Form entry label-->
                    <td><label>{{fe.getUserPrompt()}}:</label></td>
                    <!--Form entry field: depends on type (uri/literal) and optionally on datatype -->
                    <td>
                        <div *ngIf="fe.getType() == 'literal'">
                            <div [ngSwitch]="fe.getDatatype()">
                                <div *ngSwitchWhen="'http://www.w3.org/2001/XMLSchema#string'">
                                    <input class="form-control input-xs" [(ngModel)]="fe.value" [disabled]="!fe.checked">
                                </div>
                                <div *ngSwitchWhen="'http://www.w3.org/2001/XMLSchema#integer'">
                                    <input class="form-control input-xs" [(ngModel)]="fe.value" type="number" step="1"
                                        [disabled]="!fe.checked">
                                </div>
                                <div *ngSwitchWhen="'http://www.w3.org/2001/XMLSchema#float'">
                                    <input class="form-control input-xs" [(ngModel)]="fe.value" type="number" step="any"
                                        [disabled]="!fe.checked">
                                </div>
                                <div *ngSwitchWhen="'http://www.w3.org/2001/XMLSchema#boolean'" class="hbox">
                                    <input class="form-control input-xs" [ngModel]="fe.value" style="flex: 1" disabled>
                                    <span class="hbox" style="align-items: center; margin-left: 10px; justify-content: center;">
                                        <label class="radio-inline">
                                            <input type="radio" (click)="fe.value='true'" [checked]="fe.value=='true'"
                                            [disabled]="!fe.checked">true
                                        </label>
                                        <label class="radio-inline" style="margin-left: 15px;">
                                            <input type="radio" (click)="fe.value='false'" [checked]="fe.value=='false'"
                                            [disabled]="!fe.checked">false
                                        </label>
                                    </span>
                                </div>
                                <div *ngSwitchWhen="'http://www.w3.org/2001/XMLSchema#date'" class="hbox">
                                    <input class="form-control input-xs" [ngModel]="fe.value" disabled>
                                    <input class="form-control input-xs" style="margin-left: 10px;" type="date"
                                        [(ngModel)]="fe.value" [disabled]="!fe.checked"> 
                                </div>
                                <div *ngSwitchWhen="'http://www.w3.org/2001/XMLSchema#time'" class="hbox">
                                    <input class="form-control input-xs" [ngModel]="fe.value" disabled>
                                    <input class="form-control input-xs" style="margin-left: 10px;" type="time"
                                        [(ngModel)]="fe.value" [disabled]="!fe.checked">
                                </div>
                                <div *ngSwitchWhen="'http://www.w3.org/2001/XMLSchema#datetime'" class="hbox">
                                    <input class="form-control input-xs" [ngModel]="fe.value" disabled>
                                    <input class="form-control input-xs" style="margin-left: 10px;" type="datetime-local"
                                        [(ngModel)]="fe.value" [disabled]="!fe.checked">
                                </div>
                                <div *ngSwitchDefault class="hbox" style="align-items: center;">
                                    <input class="form-control input-xs" style="flex:1" [(ngModel)]="fe.value"
                                        (input)="onEntryValueChange($event.target.value, fe)" [disabled]="!fe.checked">
                                    <span *ngIf="fe.getLang()" style="margin-left: 4px;">@{{fe.getLang()}}</span>
                                    <span *ngIf="fe.getConverter() == 'http://art.uniroma2.it/coda/contracts/langString' 
                                            && fe.getConverterArg()" style="margin-left: 4px;">
                                        <lang-picker size="xs" [lang]="fe.getConverterArg().value"
                                            (langChange)="onConverterLangChange($event, fe.getConverterArg())">
                                        </lang-picker>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="fe.getType() == 'uri'">
                            <input class="form-control input-xs" [(ngModel)]="fe.value" [disabled]="!fe.checked">
                        </div>
                    </td>
                    <!--Mandatory/Optional-->
                    <td>
                        <span *ngIf="fe.isMandatory()">*</span>
                        <span *ngIf="!fe.isMandatory()">
                            <input type="checkbox" [(ngModel)]="fe.checked" title="Optional field, check to insert">
                        </span>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
    
    <div *ngIf="submittedWithError" class="alert alert-danger" style="margin-top: 6px;">
        Please provide valid values to all required fields
    </div>
        
</div>
<div class="modal-footer">
    <span class="pull-left">(*) Mandatory field</span>
    <button id="toFocus" class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>