<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body vbox">

    <div style="margin-bottom: 4px;">
        <div class="btn-group btn-group-xs pull-right">
            <button *ngFor="let a of aspectSelectors" class="btn btn-default" [ngClass]="{active: selectedAspect == a}"
                (click)="selectedAspect = a">{{a}}</button>
        </div>
    </div>

    
    <datatype-facets-editor *ngIf="selectedAspect == ASPECT_FACETS" [(ngModel)]="facetsDescription"></datatype-facets-editor>
    <manchester-editor *ngIf="selectedAspect == ASPECT_MANCHESTER" [(ngModel)]="manchExpr" [context]="manchesterCtx"></manchester-editor>
    <data-range-editor *ngIf="selectedAspect == ASPECT_ENUMERATION" [(ngModel)]="literalEnumerations"></data-range-editor>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>