<div class="groupPanel">
    
    <div class="groupPanel-heading">
        <div class="expandCollapseBtnContainer groupPanel-heading-content" style="margin: 0px">
            <img *ngIf="partitionCollapsed" src="../../../assets/images/tree_expand.png" (click)="partitionCollapsed = !partitionCollapsed">
            <img *ngIf="!partitionCollapsed" src="../../../assets/images/tree_collapse.png" (click)="partitionCollapsed = !partitionCollapsed">
        </div>
        <span style="flex: 1">
            <label class="groupPanel-heading-content">{{label}}:</label>
        </span>
        <div class="groupPanel-heading-content dropdown pull-right">
            <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"
                [title]="addBtnImgTitle" [disabled]="!resource.getAdditionalProperty('explicit')">
                <img [src]="addBtnImgSrc" style="height: 16px"/>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="addFirst()">Add first</a></li>
                <li><a (click)="addLast()">Add last</a></li>
                <li [ngClass]="{disabled : !selectedMember}"><a (click)="addBefore()">Add before the selected member</a></li>
                <li [ngClass]="{disabled : !selectedMember}"><a (click)="addAfter()">Add after the selected member</a></li>
            </ul>
        </div>
    </div>

    <div class="groupPanel-body">
        <template [ngIf]="!partitionCollapsed">
            <div class="subPanel" *ngFor="let po of predicateObjectList">
                <div class="subPanel-heading">
                    <label>{{po.getPredicate().getShow()}}</label>
                </div>
                <div class="subPanel-body">
                    <template ngFor let-obj [ngForOf]="po.getObjects()">
                        <!-- Member list -->
                        <div class="listItem">
                            <reified-resource *ngIf="renderAsReified(po.getPredicate(), obj)"
                                [resource]="obj" [predicate]="po.getPredicate()" 
                                (dblclick)="objectDblClick($event)" style="flex:1"></reified-resource>
                            <rdf-resource *ngIf="!renderAsReified(po.getPredicate(), obj)" [resource]="obj"
                                (dblclick)="objectDblClick(obj)" style="flex:1"></rdf-resource>
                            <button class="resViewPartitionBtn" [title]="getRemovePropImgTitle(po.getPredicate())"
                                (click)="removePredicateObject(po.getPredicate(), obj)" [disabled]="!obj.getAdditionalProperty('explicit')">
                                <span>-</span>
                            </button>
                        </div>
                        <!-- Members -->
                        <div class="subPanel" style="margin-top: 4px">
                            <div class="subPanel-heading">
                                <label style="flex: 1">{{membersProperty.getShow()}}</label>
                                <div class="dropdown pull-right">
                                    <button class="resViewPartitionBtn dropdown-toggle" data-toggle="dropdown"
                                        title="Add member" [disabled]="!resource.getAdditionalProperty('explicit')">
                                        <span>+</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a (click)="addFirst(po.getPredicate())">Add first</a></li>
                                        <li><a (click)="addLast(po.getPredicate())">Add last</a></li>
                                        <li [ngClass]="{disabled : !selectedMember}"><a (click)="addBefore(po.getPredicate())">Add before the selected member</a></li>
                                        <li [ngClass]="{disabled : !selectedMember}"><a (click)="addAfter(po.getPredicate())">Add after the selected member</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="subPanel-body">
                                <div *ngFor="let memb of obj.members" (click)="selectMember(memb)"
                                    [ngClass]="{active: memb == selectedMember}" class="listItem">
                                    <rdf-resource [resource]="memb" (dblclick)="objectDblClick(memb)" style="flex:1"></rdf-resource>
                                    <button class="resViewPartitionBtn" title="Remove member" (click)="removeMember(memb)"
                                        [disabled]="!obj.getAdditionalProperty('explicit')">
                                        <span>-</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </template>
    </div>

</div>