<div class="groupPanel">
    <div class="groupPanel-heading">
        <span style="flex: 1">
            <label class="groupPanel-heading-content">{{label}}:</label>
        </span>
        <span class="groupPanel-heading-content">
            <input type="image" [title]="addBtnImgTitle" [src]="addBtnImgSrc" 
                (click)="add()" [disabled]="!resource.getAdditionalProperty('explicit')">
        </span>
    </div>

    <div class="groupPanel-body">
        <template ngFor let-pv [ngForOf]="predicateValueList">
            <div class="subPanel" *ngFor="let v of pv.getValues()">
                <div class="subPanel-heading">
                    <label style="flex: 1">{{v.getPredicate().getShow()}}</label>
                    <button class="resViewPartitionBtn" [title]="getAddPropImgTitle(v.getPredicate())" (click)="add(v.getPredicate())"
                        [disabled]="!resource.getAdditionalProperty('explicit')">
                        <span>+</span>
                    </button>
                </div>
                <div class="subPanel-body">
                    <div *ngFor="let obj of v.getObjects()" class="listItem">
                        <reified-resource *ngIf="renderAsReified(pv.getPredicate(), obj)" [resource]="obj" [predicate]="pv.getPredicate()" 
                            (dblclick)="objectDblClick(obj)" style="flex:1"></reified-resource>
                        <rdf-resource *ngIf="!renderAsReified(pv.getPredicate(), obj)" [resource]="obj"
                            (dblclick)="objectDblClick(obj)" style="flex:1"></rdf-resource>
                        <button class="resViewPartitionBtn" [title]="getRemovePropImgTitle(pv.getPredicate())" (click)="removePredicateObject(pv.getPredicate(), obj)"  
                            [disabled]="!obj.getAdditionalProperty('explicit')">
                            <span>-</span>
                        </button>
                    </div>
                </div>
            </div>
        </template>


    </div>
</div>