<div class="subPanel">
    
    <div class="subPanel-heading">
        <label style="flex: 1">{{predicateObjects.getPredicate().getShow()}}</label>
        <div class="btn-group">
            <button class="btn btn-xs btn-default predObjRenderPanelBtn" style="padding: 3px 6px;" (click)="addValue()"
                [title]="getAddPropImgTitle(predicateObjects.getPredicate())" [disabled]="addDisabled">
                <span class="glyphicon glyphicon-plus" style="font-size: 9px;"></span>
            </button>
            <button class="btn btn-xs btn-default dropdown-toggle predObjRenderPanelBtn" style="padding: 3px;" data-toggle="dropdown"
                [disabled]="actionMenuDisabled">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li *ngIf="isAddManuallyAllowed()" [ngClass]="{ disabled: addDisabled }">
                    <a (click)="addManually()">Add value manually</a>
                </li>
                <li *ngIf="isAddExteranlResourceAllowed()" [ngClass]="{ disabled: addDisabled }">
                    <a (click)="addExternalValue()">Add value from another project</a>
                </li>
                <li [ngClass]="{ disabled: deleteDisabled }"><a (click)="removeAllValues()">Delete all values</a></li>
            </ul>
        </div>

    </div>
    
    <div class="subPanel-body">

        <ng-template ngFor let-obj [ngForOf]="predicateObjects.getObjects()" let-i="index">
            <ng-template [ngIf]="showObject(i)"> <!-- paging filter -->

                <div class="listItem" [ngClass]="{ imported: obj.tripleScope == 'imported', inferred: obj.tripleScope == 'inferred'}">
                    <editable-resource *ngIf="!renderAsReified(predicateObjects.getPredicate(), obj)" style="flex: 1" [resource]="obj" [rendering]="rendering" 
                        [subject]="resource" [predicate]="predicateObjects.getPredicate()" [readonly]="readonly" [partition]="partition"
                        (dblClick)="objectDblClick($event)" (delete)="removeValue(obj)" (edit)="editValue(obj)" (update)="onObjectUpdate()"
                        (copyLocale)="copyLocales($event, obj)" [ngClass]="{ clickable: obj.isResource() }"></editable-resource>
                    <ng-template [ngIf]="renderAsReified(predicateObjects.getPredicate(), obj)">
                        <reified-resource [resource]="obj" [predicate]="predicateObjects.getPredicate()"
                            [ngClass]="{ clickable: obj.isResource() }" style="flex:1"
                            (dblClick)="objectDblClick($event)"></reified-resource>
                        <button class="transparentBtn" [title]="getRemovePropImgTitle(predicateObjects.getPredicate())"
                            (click)="removeValue(obj)" [disabled]="deleteDisabled">
                            <span>-</span>
                        </button>
                    </ng-template>
                </div>

            </ng-template>
        </ng-template>

        <ng-template [ngIf]="showAllButton()">
            <button class="btn btn-xs btn-default" style="width: 100%; color: #888; border-color: #ddd;" (click)="showAll()">
                Show all...
            </button>
        </ng-template>

    </div>

</div>