/* first panel (concept, definitions, broaders) */
.lined-header { width:100%;  border-bottom: 1px solid #000; line-height:1px;  margin:20px 0px 20px; font-size: 13px; } 
.lined-header span { background:#fff; padding:0px 5px; margin-left:20px; } 
/* languages */
.lang {margin-top: 20px; display: flex; flex-direction: row; flex-wrap: wrap; }
lang-item{ padding: 3px; flex-basis: 1%;}
/* languages definition */
.def-lang {margin-top: 13px;}

