.wrap {
  display: flex;
  text-align: center;
  margin: 2px;
  position: relative;
  margin-top: 40px;
}

.links {
  padding: 0 10px;
  display: flex;
  /* justify-content: space-between; */
  position: relative;
}

.wrap:before {
  content: '';
  position: absolute;
  top: 100%;
  /* top:50% for flag in middle of the line*/
  left: 0;
  border-top: 1px solid black;
  background: black;
  width: 100%;
  transform: translateY(-50%);
}

.arrow {
  margin: 0;
  padding: 0 1px !important;
}