<div class="panel panel-default">
    <div class="panel-heading">
        <label>Converter</label>
    </div>
    <div class="panel-body scrollableContainer">

        <ng-content></ng-content>
        
        <table class="table table-condensed table-hoverable" style="margin-top: 4px;">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center" nowrap>RDF Capability</th>
                    <th class="text-center">URI</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let c of availableConverters" (click)="selectConverter(c)" [ngClass]="{ active: c == selectedConverter }" style="cursor: pointer;">
                    <td>{{c.getName()}}</td>
                    <td>{{c.getDescription()}}</td>
                    <td nowrap>{{c.getRDFCapability()}}
                        <span *ngIf="c.getRDFCapability() == 'typedLiteral'" class="glyphicon glyphicon-info-sign" [title]="c.getDatatypes()"></span>
                    </td>
                    <td [title]="c.getURI()">{{c.getQName()}}</td>
                </tr>
            </tbody>
        </table>


        <div *ngIf="selectedConverter" class="groupPanel vbox" style="margin-top: 12px;">
            <div class="groupPanel-heading">
                <span style="flex: 1">
                    <label class="groupPanel-heading-content">Converter parameterization:</label>
                </span>
            </div>
            <div class="groupPanel-body hbox">
                <div class="subPanel" style="flex: 1;">
                    <div class="subPanel-heading">
                        <label>Signature</label>
                    </div>
                    <div class="subPanel-body">
                        <div *ngFor="let s of availableSignatures" class="listItem" (click)="selectSignature(s)" [ngClass]="{ active: s == selectedSignature }">
                            <span>{{getSignatureShow(s)}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="signatureParams?.length > 0" class="subPanel" style="flex: 3; margin-left: 4px;">
                    <div class="subPanel-heading">
                        <label>Params</label>
                    </div>
                    <div class="subPanel-body">
                        <table class="table table-condensed table-borderless">
                            <colgroup>
                                <col style="width: 1%;">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr *ngFor="let p of signatureParams">
                                    <td nowrap><label>{{p.name}}</label></td>
                                    <td>
                                        <ng-container *ngIf="p.type == 'java.lang.String'">
                                            <div *ngIf="p.name == 'xRole'; else genericStringParamElseBlock" class="hbox">
                                                <select [(ngModel)]="p.value" class="form-control input-sm" (ngModelChange)="onSignatureParamChange()">
                                                    <option *ngFor="let r of xRoles">{{r}}</option>
                                                </select>
                                            </div>
                                            <ng-template #genericStringParamElseBlock>
                                                <input class="form-control input-sm" [(ngModel)]="p.value" (ngModelChange)="onSignatureParamChange()">
                                            </ng-template>
                                        </ng-container>
                                        <map-param-editor *ngIf="p.type == 'java.util.Map<java.lang.String, org.eclipse.rdf4j.model.Value>'" 
                                            [value]="p.value" (valueChanged)="onMapParamChange($event, p)">
                                        </map-param-editor>
                                        <list-param-editor *ngIf="p.type == 'org.eclipse.rdf4j.model.Value[]'" 
                                            [value]="p.value" (valueChanged)="onListParamChange($event, p)">
                                        </list-param-editor>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="isConverterRandom()" class="panel-footer">
        <div class="checkbox-inline">
            <label>
                <input type="checkbox" [(ngModel)]="memoize" (ngModelChange)="onMemoizeChange()">Memoize
            </label>
            <span class="glyphicon glyphicon-info-sign" title="Apply the memoization: given the same input, the converter will generate the same output">
            </span>
        </div>
    </div>
</div>