<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-condensed table-borderless">
            <colgroup>
                <col style="width: 1%">
                <col>
                <col style="width: 1%">
                <col>
                <col style="width: 1%">
                <col style="width: 1%">
            </colgroup>
            <tbody>
                <tr *ngFor="let m of map; let index = index; let last = last;">
                    <td><label>Key:</label></td>
                    <td>
                        <input class="form-control input-xs" [(ngModel)]="map[index].key" (ngModelChange)="onModelChange()">
                    </td>
                    <td><label>Value:</label></td>
                    <td>
                        <input class="form-control input-xs" [(ngModel)]="map[index].value" (ngModelChange)="onModelChange()">
                    </td>
                    <td>
                        <button *ngIf="map.length > 1" class="btn btn-xs btn-default" (click)="delete(index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                    <td>
                        <button *ngIf="last" class="btn btn-xs btn-default" (click)="add()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>