<div class="panel panel-default vbox">
    <div class="panel-heading">
        <label></label>
        <span style="flex: 1;"></span>
        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering=!rendering" [ngClass]="{ active: rendering }">
                <span class="glyphicon glyphicon-font"></span>
            </button>
            <button class="btn btn-default btn-xs" (click)="snapshot()" title="Export a snapshot of the graph (.svg)">
                <span class="glyphicon glyphicon-camera"></span>
            </button>
        </div>
    </div>
    <div class="panel-body hbox">
        <graph-model *ngIf="mode=='modelOriented'" class="vbox" [graph]="graph" [rendering]="rendering" (elementSelected)="onElementSelected($event)"></graph-model>
        <graph-data *ngIf="mode=='dataOriented'" class="vbox" [graph]="graph" [rendering]="rendering" (elementSelected)="onElementSelected($event)"></graph-data>

        <div class="vbox" style="flex: initial; width: 300px; margin-left: 4px;">
            <div class="panel panel-default vbox">
                <div class="panel-heading">
                    <label></label>
                    <span style="flex: 1;"></span>
                    <div *ngIf="isSelectedElementNode()" class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-default" [ngClass]="{ active: selectedElement?.fixed }" title="Fix node position" (click)="fixNode()" [disabled]="!selectedElement">
                                <span class="glyphicon glyphicon-lock"></span>
                            </button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a (click)="fixAll()">Fix all nodes</a></li>
                                <li><a (click)="unfixAll()">Unfix all nodes</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-borderless">
                        <colgroup>
                            <col style="width: 1%">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><label>Resource:</label></td>
                                <td><rdf-resource *ngIf="selectedElement" [resource]="selectedElement.res"></rdf-resource></td>
                            </tr>
                            <tr *ngIf="selectedElement?.res.isURIResource()">
                                <td><label>IRI:</label></td>
                                <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{selectedElement?.res.getURI()}}</td>
                            </tr>
                            <tr *ngIf="selectedElement?.res.isBNode()">
                                <td><label>ID:</label></td>
                                <td>{{selectedElement?.res.getId()}}</td>
                            </tr>
                            <tr>
                                <td><label>Label:</label></td>
                                <td>{{selectedElement?.res.getShow()}}</td>
                            </tr>
                            <tr *ngIf="selectedElement?.res.isResource()">
                                <td><label>Role:</label></td>
                                <td>{{selectedElement?.res.getRole()}}</td>
                            </tr>
                            <tr *ngIf="selectedElement?.res.isResource()">
                                <td><label>Deprecated:</label></td>
                                <td>{{selectedElement?.res.isDeprecated()}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="selectedElement?.res.isResource()">
                                <td colspan="2">
                                    Show the complete <a style="cursor: pointer" (click)="showResourceView()">ResourceView</a>
                                </td>
                            </tr>   
                        </tfoot>
                    </table>

                </div>
            </div>

            <!-- Slider for changing the forces -->
            <div class="panel panel-default" style="margin-top: 4px;">
                <div class="panel-body table-responsive">
                    <table class="table table-condensed table-borderless">
                        <colgroup>
                            <col style="width: 1%">
                            <col>
                        </colgroup>
                        <tbody>
                            <!-- 
                            <tr><td colspan="2" class="text-center"><label>Charge</label></td></tr>
                            <tr>
                                <td>Strength:</td>
                                <td>
                                    <input type="range" [(ngModel)]="forces.charge.strength" (ngModelChange)="onForceChange()"
                                        min="-500" max="50" step="1" [title]="forces.charge.strength">
                                </td>
                            </tr>
                            <tr>
                                <td>Distance Min:</td>
                                <td>
                                    <input type="range" [(ngModel)]="forces.charge.distanceMin" (ngModelChange)="onForceChange()"
                                        min="1" max="200" step="1" [title]="forces.charge.distanceMin">
                                </td>
                            </tr>
                            <tr>
                                <td>Distance Max:</td>
                                <td>
                                    <input type="range" [(ngModel)]="forces.charge.distanceMax" (ngModelChange)="onForceChange()"
                                        min="0" max="2000" step="1" [title]="forces.charge.distanceMax">
                                </td>
                            </tr>

                            <tr><td colspan="2" class="text-center"><label>Collide</label></td></tr>
                            <tr>
                                <td>Strength:</td>
                                <td>
                                    <input type="range" [(ngModel)]="forces.collide.strength" (ngModelChange)="onForceChange()"
                                        min="0" max="1" step=".1" [title]="forces.collide.strength">
                                </td>
                            </tr>
                            <tr>
                                <td>Radius:</td>
                                <td>
                                    <input type="range" [(ngModel)]="forces.collide.radius" (ngModelChange)="onForceChange()"
                                        min="0" max="100" step="1" [title]="forces.collide.radius">
                                </td>
                            </tr> 
                            -->                            

                            <tr><td colspan="2" class="text-center"><label>Links</label></td></tr>
                            <tr>
                                <td>Strength:</td>
                                <td>
                                    <input type="range" [(ngModel)]="forces.link.strength" (ngModelChange)="onForceChange()"
                                        min="0" max="1" step="0.1" [title]="forces.link.strength">
                                </td>
                            </tr>
                            <tr>
                                <td>Length:</td>
                                <td>
                                    <input type="range" [(ngModel)]="forces.link.distance" (ngModelChange)="onForceChange()"
                                        min="100" max="500" step="1" [title]="forces.link.distance">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>