<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group">
            <button class="btn btn-default" title="Create Lexical Entry" (click)="create()" [disabled]="isCreateDisabled()">
                <img src="../../../../../assets/images/icons/actions/individual_create.png" class="panelButtonImg"/>
            </button>
            <ng-template [ngIf]="deletable">
                <button class="btn btn-default" title="Delete Lexical Entry" (click)="delete()" [disabled]="isDeleteDisabled()">
                    <img src="../../../../../assets/images/icons/actions/individual_delete.png" class="panelButtonImg"/>
                </button>
                <button class="btn btn-default" title="Deprecate Lexical Entry" (click)="deprecate()" [disabled]="isDeprecateDisabled()">
                    <img src="../../../../../assets/images/icons/actions/individual_deprecate.png" class="panelButtonImg"/>
                </button>
            </ng-template>
        </div>
        <div style="flex: 1"></div>
        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering = !rendering" [ngClass]="{active: rendering}">
                <span class="glyphicon glyphicon-font"></span>
            </button>
            <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <button *ngIf="isContextDataPanel()" class="btn btn-default btn-xs" title="Settings" (click)="settings()">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </div>
    </div>

    <!-- List -->
    <div class="panel-body vbox">
        <div *ngIf="visualizationMode == 'indexBased'" style="padding-bottom: 3px; display: flex; align-items: center">
            <select class="form-control input-xs" [(ngModel)]="firstDigitIndex" (ngModelChange)="onDigitChange()" style="width: initial">
                <option *ngFor="let i of alphabet">{{i}}</option>
            </select>
            <ng-template [ngIf]="indexLenght>1">
                <span style="font-weight: bold; margin: 0 5px">&gt;</span>
                <select class="form-control input-xs" [(ngModel)]="secondDigitIndex" (ngModelChange)="onDigitChange()" style="width: initial">
                    <option value=" ">{{firstDigitIndex}}⎵</option>
                    <option *ngFor="let i of alphabet" [value]="i">{{firstDigitIndex}}{{i}}</option>
                </select>
            </ng-template>
        </div>

        <div *ngIf="visualizationMode == 'searchBased' && !lastSearch" class="alert alert-warning" style="margin-bottom: 4px;">
            Please use the search field to retrieve lexical entries
        </div>

        <lexical-entry-list [lexicon]="lexicon" [index]="index" [rendering]="rendering" [showDeprecated]="showDeprecated" (nodeSelected)="onNodeSelected($event)">
        </lexical-entry-list>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)" [roles]="[panelRole]" [context]="context" [disabled]="!lexicon"></search-bar>
    </div>
    
</div>