<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group">
            <button class="btn btn-default" title="Create Lexical Entry" (click)="create()" [disabled]="isCreateDisabled()">
                <img src="../../../../../assets/images/icons/actions/individual_create.png" class="panelButtonImg"/>
            </button>
            <ng-template [ngIf]="deletable">
                <button class="btn btn-default" title="Delete Lexical Entry" (click)="delete()" [disabled]="isDeleteDisabled()">
                    <img src="../../../../../assets/images/icons/actions/individual_delete.png" class="panelButtonImg"/>
                </button>
                <button class="btn btn-default" title="Deprecate Lexical Entry" (click)="deprecate()" [disabled]="isDeprecateDisabled()">
                    <img src="../../../../../assets/images/icons/res/individual_deprecated.png" style="margin: 2px;"/>
                </button>
            </ng-template>
        </div>
        <div style="flex: 1"></div>
        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering = !rendering" [ngClass]="{active: rendering}">
                <span class="glyphicon glyphicon-font"></span>
            </button>
            <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>
    </div>

    <!-- List -->
    <div class="panel-body vbox">

        <div style="padding-bottom: 3px; display: flex; align-items: center">
            <select class="form-control input-xs" [(ngModel)]="index">
                <option *ngFor="let i of indexes">{{i}}</option>
            </select>
        </div>

        <lexical-entry-list [lexicon]="lexicon" [index]="index" [rendering]="rendering" [showDeprecated]="showDeprecated" (nodeSelected)="onNodeSelected($event)">
        </lexical-entry-list>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)" [roles]="[panelRole]"></search-bar>
    </div>
    
</div>