<div class="vbox">
    
    <div class="panel panel-default vbox">
        <div class="panel-heading">
            <label>Vocbench Settings</label>
        </div>
       
        <div class="panel-body vbox">
            <div class="scrollableContainer">
                
                <div class="subPanel">
                    <div class="subPanel-heading">
                        <label style="flex: 1">Resource view mode:</label>
                    </div>
                    <div class="subPanel-body">
                        <div class="hbox">
                            <div class="vbox" style="margin-right: 8px;">
                                <select class="form-control input-sm" style="margin-bottom: 5px;"
                                    [(ngModel)]="resViewMode" (ngModelChange)="onResViewModeChanged()">
                                    <option value="splitted">Splitted</option>
                                    <option value="tabbed">Tabbed</option>
                                </select>
                                <div *ngIf="resViewMode == 'tabbed'" class="alert alert-info" role="alert">
                                    The Resource View is shown in a tab and multiple Resource View
                                    can be open in different tabs. The first tab cannot be closed and is 
                                    always synched with the resource selected in the tree/list.
                                </div>
                                <div *ngIf="resViewMode == 'splitted'" class="alert alert-info" role="alert">
                                    The Resource View panel is splitted in two: on the left there is a main Resource View
                                    which describes (and is synched with) the resource selected in the tree/list;
                                    on the right there is an optional secondary Resource View which describes a resource
                                    selected (double click) from the main Resource View.
                                </div>
                            </div>
                            <div>
                                <img *ngIf="resViewMode == 'tabbed'" src="../../assets/images/res_view_tabbed.jpg">
                                <img *ngIf="resViewMode == 'splitted'" src="../../assets/images/res_view_splitted.jpg">
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    
</div>